[2018-08-29 03:01] jimbo1qaz commented on #1191
I think what happens is:
- favicon fails to load
-  `errorListener` is called, sets `e.target.src = DEFAULT_FAVICON = "moz-icon://goat?size=16";`
- default favicon "moz-icon://goat?size=16" also fails to load
- rinse and repeat

[2018-08-29 03:05] jimbo1qaz commented on #1191
I think what happens is:
- favicon fails to load
-  `errorListener` is called, sets `e.target.src = DEFAULT_FAVICON = "moz-icon://goat?size=16";`
- default favicon `"moz-icon://goat?size=16"` also fails to load
- rinse and repeat

Visiting moz-icon://goat?size=16 directly works. Right-clicking the missing favicon on the container page doesn't give an option to "view image". Opening "Inspector" and

[2018-08-29 18:02] DHager commented on #319
@keehun Frankly I don't think there's any consensus on basic behavior, especially because "do it like Chrome" would actually *removes* features/workflow that people are currently using in Firefox.

[2018-08-31 15:59] victortrac commented on #943
It sounds like I have the same use case as @jordanweaver. Chrome's multiple profile windows is what's keeping me from switching to FF full-time. I always have to be logged into the same sites on multiple profiles, and one nice consistent feature of Chrome is that externally clicked links opens in the last active/focused window. This means that if I want to open a link (from my desktop email client

[2018-09-01 08:55] z3dm4n commented on #822
Same bug here with FF 61.0.1 on Ubuntu Bionic and Multi-Account Containers 6.0.0. Is there any workaround?

[2018-09-04 13:09] lildude commented on #1024
I encountered a similar problem when signing in with email. I don't get the spinning login page, but I do find the Firefox doesn't remember my Pocket login and clicking the icon in the address bar always prompts me to sign in.

The only workaround I've found is to temporarily disable containers, sign in, and then re-enable containers. The plugin then works as expected, and across different contain

[2018-09-04 14:37] ruipacheco commented on #1024
Which is what is not supposed to happen with containers.

[2018-09-05 10:14] lucaspinelli94 commented on #1251
No ideas guys? Is very boring waste time to open 50 or 100 containers manually.

I wanna open it like a bookmarks in one folder.

[2018-09-05 13:16] groovecoder commented on #1251
If the bookmarks are assigned to specific containers, they could automatically open into their specific containers.

There's also https://github.com/mozilla/multi-account-containers/issues/323 which depends on platform-level bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1334696

[2018-09-05 13:21] lukastribus opened #1253 "discourse forums bypass container boundries"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.0.0
- Operating

[2018-09-05 18:05] justmarks opened #1254 "Support for directory path based containers"
I have a service whose URL structure is similar to GitHub where there is a common domain and the individual instances of the service are determined by the directory path, e.g. https://github.com/google/tink where Google is an organization container and tink is the open source project.

My ideal is to use your extension and have each tab run under the context of a different identity.  Unfortunately

[2018-09-06 09:15] dsp76 opened #1255 "Upgrade to Firefox 62.0 killed my individually added containers"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: NO
- Are you using Firefox in a Private Window? Yes/No: NO
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: YES
- Multi-Account Containers Version: 6.0.0
- Operating

[2018-09-06 14:45] jonhoo opened #1256 "Discourse forums do not follow "always open in" rules"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No
- Are you using Firefox in a Private Window? No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes
- Multi-Account Containers Version: 6.0.0
- Operating System + Version: up-to-

[2018-09-06 16:49] lukastribus commented on #1256
Yeah, that's what I mentioned in the notes of #1253, thanks for opening a new issue for this.

What ended up working around this problem for me was:
* remove the site from the container
* open the site in the default container
* click on the (I) botton (where you see the SSL certificate before the URL)
* use the `delete cookies and website data` (or similar, I don't have the english local here)

T

[2018-09-07 08:51] dsp76 commented on #1255
Nevermind, was a "Layer 8" error.

[2018-09-07 08:51] #1255 closed

[2018-09-07 10:45] robotichead opened #1257 "Add option in settings to allow newly created tabs to be in same container"
Sometimes when working in a "Work" container, I press CTRL + T (or the mac equivalent) and it will open up a regular tab. It would be nice to have the option to turn on the ability for when this happens the tab will open up in the exact same container.

Another option would be able to add shortcuts to the containers - for example CTRL + T + 1

[2018-09-07 15:28] groovecoder commented on #1257
Duplicate of https://github.com/mozilla/multi-account-containers/issues/462. Please upvote there.

[2018-09-07 15:28] #1257 closed

[2018-09-07 15:56] 3v1n0 opened #1258 "Make possible to assign a whole firefox window to a container"
It would be really nice to make sure that each container could be associated to one or more windows, so that a single window is used only for a specified container by default or for the sites assigned to that container only.

[2018-09-07 17:15] Rob--W commented on #323
I've created an add-on that adds a context menu item to the bookmarks menu that offers the ability to open a bookmark in a container tab. If a bookmark folder is clicked, all links in this folder will be opened in container tabs (i.e. the behavior requested in #1251).

Install from: https://addons.mozilla.org/en-US/firefox/addon/open-bookmark-in-container-tab/
Source code / issue tracker: https://

[2018-09-09 01:49] julian-alarcon opened #1259 "Real status of the project - Is this still alive?"
Hi!

I have being using this great Addon in the last days, but I see no movement in the repository (last commit was March 30, more than 5 months!), 300 open issues (and counting) and 8 pull requests pending to be revised (the older one is from Feb 12).

Is this still alive? Is this a project with inertia inside Mozilla or is this just dead and only getting really big security issues updates?

If t

[2018-09-10 11:17] falolaf commented on #1259
I have had that question in my head for some time too. An official statement would be most welcome.

[2018-09-10 15:13] groovecoder commented on #1259
This add-on is in "maintenance mode" - so only regression & security fixes will be merged and deployed.

Having said that, we know the add-on has a very passionate user-base, so we're considering a path towards a community-maintained roadmap for the add-on.

We will file an issue and/or PR in the GitHub repo and/or make announcements if we are able to put together a roadmap plan for community main

[2018-09-12 18:34] beroal commented on #1256
I have the same issue with https://support.mozilla.org/ , but lukastribus’ workaround does not work.

[2018-09-12 18:40] beroal commented on #1252
“Always open in” checkboxes are shown after clicking the extension’s button → “Edit Containers” → a container → the pencil button. I have not found how to view “Remember my decision” checkboxes.

[2018-09-13 15:10] shavounet commented on #327
Hello there,

Since Firefox 61, this bug seems to appear again (with the exact same original test case).
Do you want me to fill another issue ?

Thanks

[2018-09-13 17:41] justingarrick commented on #1252
Certainly not ideal, but this seems to be editable in `<your Firefox profile dir>/browser-extension-data/@testpilot-containers/storage.js`

[2018-09-13 17:53] meeotch commented on #1252
Well, that seems to shed some light, thanks...  With the help of an online javascript beautifier, I was able to determine that contacts.google.com in fact adds a "www.google.com" rule to the plugin data.  Probably because the url resolves to www.google.com/contacts, whereas voice.google.com retains its prefix.

I guess I'll have to get used to duplicating/opening a tab of the appropriate container

[2018-09-17 01:37] samuel-allan commented on #313
Apologies for the huge hangup!
I see there are a number of people interested in this - what is the current status of things?
Is someone working on it already? If not I think I will start this week for at least a preliminary version

[2018-09-17 19:29] groovecoder commented on #313
If I remember correctly, @bakulf - this requires a platform-level change to isolate preferences by contextual identity?

[2018-09-18 04:12] onionjake commented on #313
I have been able to use a PAC script similar to the proxy-blocker in the webextensions-examples here https://github.com/mdn/webextensions-examples/tree/master/proxy-blocker to get this functionality partially working.  I haven't set it up to be configured per container yet, but would it be too hacky for the PAC script to try and figure out which tab/container originated the request?

[2018-09-18 14:09] groovecoder commented on #313
I'm not familiar with PAC, but it looks like it's possible in the extension (without needing a platform change):

1. Use `browser.proxy.onRequest.addListener`
2. Use `browser.tabs.get` to get the `tab` object of the request
3. Check if the `tab.cookieStoreId` is in a map of "proxied Containers"
4. Return the appropriate `ProxyInfo` object, if any

Note: This will add a new dimension of "assignment

[2018-09-18 14:18] onetuser commented on #1024
Reproduce it too after enabled multi-containers.

[2018-09-18 14:28] samuel-allan commented on #313
Looks quite doable - I will have a look at it today,
Thank you very much for the quick breakdown!

On Tue, Sep 18, 2018 at 3:11 PM luke crouch <notifications@github.com>
wrote:

--
*Samuel Allan*
naclo3samuel@gmail.com
*Work Email*
work@samuelallan.info

[2018-09-19 12:44] janlimpens opened #1260 "Exclusive containers"
I want to keep social media in one container, but all links leading outwards, to open in the default or another container, following normal rules.
For instance: I want everything under the domain facebook.com to be restricted to one container "fb".  When I click on a link within fb, that leads me to a domain not registered to the fb container, I want it to open in the default container, that is, i

[2018-09-19 15:04] acdha commented on #1071
Just wanted to second @fooditron: 99% of the time it would be what I want if Command-T opened a tab using the same container as the one which had focus when I hit the hotkey.

[2018-09-19 15:05] yungslime commented on #822
Bug is still present on Win8.1 running FF 62.0 and Multi-Account Containers 6.0.0

[2018-09-19 17:56] groovecoder commented on #1260
For Facebook specifically, you can use https://addons.mozilla.org/firefox/addon/facebook-container/ instead of M-A-C.

This is otherwise a duplicate of the "whitelist" feature request in https://github.com/mozilla/multi-account-containers/issues/847

[2018-09-19 17:56] #1260 closed

[2018-09-19 19:54] hritvi commented on #973
May I work on this if it is still open? Thanks :slightly_smiling_face:

[2018-09-20 02:41] groovecoder commented on #973
Yes, you're welcome to work on it if you like. I haven't had time to triage or review many PRs though, so if you submit a PR see if you can make it small/concise? Thanks!

[2018-09-20 04:27] hritvi commented on #973
While doing the initial setup using npm. A warning occurred:
<code>
found 20 vulnerabilities (3 low, 14 moderate, 2 high, 1 critical)
</code>
I suppose many packages need to be upgraded.
May I file a new issue for this and fix it?

[2018-09-20 11:37] Soundharyaam commented on #1033
Hi, Can I work on this bug?

[2018-09-20 12:00] Soundharyaam commented on #972
Hi, Can I work on this bug?

[2018-09-20 12:26] groovecoder commented on #972
Yup.

[2018-09-20 12:32] Soundharyaam commented on #1033
Thanks!

[2018-09-20 12:32] Soundharyaam commented on #972
Thanks!

[2018-09-20 13:43] hritvi opened #1261 "Vulnerabilities in npm"
- Operating System + Version: Linux 18.04 LTS

### Actual behavior
While the initial set up run the following vulnerabilities are present in node
[code]

### Expected behavior
No vulnerabilities should be present

### Steps to reproduce
1. Clone the repository
2. Run `npm install`

[2018-09-20 15:11] ShivangiKakkar commented on #885
Hey! I would love to work on this issue. May I?

[2018-09-20 18:30] tilgovi commented on #1033
I still see this behavior, but only when adding the button to my tab bar, in place of the default new tab button.

[2018-09-20 18:31] tilgovi commented on #1033
In this location:

<img width="240" alt="screen shot 2018-09-20 at 11 30 52" src="https://user-images.githubusercontent.com/20818/45839256-b327a100-bcc8-11e8-94ec-e3ae00e89735.png">

[2018-09-20 18:59] Soundharyaam commented on #1033
Yeah. I kinda got your point and trying to reproduce the bug. From the "Multi Account Containers" button, I clicked the "+" of the respective items such as "Personal, work, banking", etc. This in turn created this ">" button and also opened the new tab.

I am seeing something like this:
<img width="359" alt="screen shot 2018-09-21 at 12 25 23 am" src="https://user-images.githubusercontent.com/2465

[2018-09-20 19:02] groovecoder commented on #1028
Yes go ahead and make a PR if you like. I'm not sure I can review it this week but I'll try.

[2018-09-20 19:29] ShivangiKakkar commented on #1028
@groovecoder No problem :) Thanks!

[2018-09-20 20:27] tilgovi commented on #1033
I see the same as you with the button in the same location.

What you are missing is that the problem appears when the button is in the _tab bar_, not the toolbar with the location field.

Use the UI customization to move the containers button up and to the right, into the tab bar. See my screenshot. The button is _above_ the `☰`.

[2018-09-21 03:44] samuel-allan commented on #313
Update: I added an option in the HTML of 'edit containers', just to see how this looks (you can see it in my fork: https://github.com/samuel-allan/multi-account-containers), of course it is not stylistically perfect (or even near that), but should suffice for testing. I think I figured out the relevant parts of the code to edit (very clear and clean code) to introduce this logic

[2018-09-21 04:13] Paarmita commented on #945
@FayneAldan Can I work on this issue?

[2018-09-21 05:05] Paarmita opened #1264 "Always open in default not working"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: No
- Multi-Account Containers Version:
- Operating System

[2018-09-21 05:11] Soundharyaam commented on #972
PR: #1263

[2018-09-21 05:13] Soundharyaam commented on #972
@armenzg I have made the PR. Could you please review this?

[2018-09-21 05:15] Soundharyaam commented on #972
@groovecoder  I have made the PR. Could you please provide your review on this?

[2018-09-21 05:29] Paarmita commented on #198
@jonathanKingston Is this issue still open? Can I take this up?

[2018-09-21 06:10] Soundharyaam commented on #1033
@tilgovi Thank you. I did UI customization to place the containers button on my tab bar and also removed the normal "new tab" button from it. Now, I am seeing something like this:

<img width="369" alt="screen shot 2018-09-21 at 11 37 21 am" src="https://user-images.githubusercontent.com/24657693/45863274-08c88000-bd93-11e8-9c07-0f3a9994243a.png">

[2018-09-21 07:42] tilgovi commented on #1033
Very strange. Perhaps it only happens in full screen? I'll check tomorrow.

Thanks for looking into it. It's a small thing, I know.

[2018-09-21 10:57] ShivangiKakkar commented on #885
Yes 😄 Thanks!

[2018-09-21 12:06] ShivangiKakkar opened #1266 "Sub-Options of 'Firefox Multi-Account Containers' option on right clicking any of the containers is not working"
### Prerequisites:
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No
- Are you using Firefox in a Private Window? No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes
- Multi-Account Containers Version: 6.0.0
- Operating Syste

[2018-09-21 12:19] ShivangiKakkar commented on #1266
@groovecoder @bakulf I am trying to find the problem reason for this issue. Can you please direct me to the files I need to check regarding this issue? Thanks :)

[2018-09-21 13:09] FayneAldan commented on #945
Make sure you have the extension installed. The first menu is when you click the extension icon and the second menu can be found in Firefox's settings in General.

[2018-09-21 15:54] Paarmita commented on #945
@FayneAldan Can u plz help me find the file for the menu window in Firefox's settings. I got the file for popup window.

[2018-09-22 06:28] ShivangiKakkar commented on #168
@bakulf @groovecoder I would love to work on this issue? May I?

[2018-09-22 13:32] groovecoder commented on #972
See https://github.com/mozilla/multi-account-containers/pull/1263#issuecomment-423744345. This is a big refactor - not just throwing `async` onto a single function.

[2018-09-22 15:28] Paarmita commented on #1072
@groovecoder Can I add this feature?

[2018-09-22 15:46] Paarmita opened #1267 "Arrange containers by drag-and-drop"
### Actual behavior
We cannot arrange containers in the sequence we want.

### Expected behavior
I think we should drag the container to the place we want and get the most used container on the top.
So drag and drop feature to manage containers in the list.

[2018-09-22 15:49] Paarmita commented on #1267
@groovecoder @jonathanKingston Can I work on adding this feature or discussing it?

[2018-09-22 16:14] groovecoder commented on #1009
I think @TanviHacks is away for a couple days ... I think you're welcome to work on this one. (Doesn't seem to be fixed on Mac in any case.)

[2018-09-22 16:15] groovecoder commented on #1072
Hm ... this might be a hard one to pick up right away. It needs some UX & UI consideration. @fayetandog - do you have a mock-up or can you give more details about the UX/UI you have in mind?

[2018-09-22 16:17] groovecoder commented on #1267
This seems to be a duplicate of https://github.com/mozilla/multi-account-containers/issues/330 ? Please read thru that one and provide a summary comment and plan for the UI/UX of how it could be done.

[2018-09-22 16:17] #1267 closed

[2018-09-22 16:17] Paarmita commented on #1009
@groovecoder I think @tie-rack has added a PR.

[2018-09-22 16:18] groovecoder commented on #1009
Ah thanks ... we haven't triaged the outstanding PRs yet. I'll try to do that a bit in the upcoming week or so.

[2018-09-22 19:56] ShivangiKakkar commented on #1264
@Paarmita Maybe this is the desired behaviour. The checkbox works when you open a url in the container tab. But yeah, mentors would be able to confirm on this :)

[2018-09-22 20:06] Paarmita commented on #1264
@ShivangiKakkar It's not working in any of the cases, I tried this as well.

[2018-09-23 05:39] Paarmita commented on #1264
Yeah thanks :)  It worked now, there might be an error earlier

[2018-09-23 05:40] #1264 closed

[2018-09-23 10:00] Sylvia23 commented on #1051
Hi there, I am an outreachy aspirant for Round 17. I would like to take up this issue if it's free to work upon. This might help me get started with the project and set up the development environment. Any advice on where and how to get started with the implementation is also most welcome. Thanks!

[2018-09-23 10:41] yatri1609 commented on #1033
@tilgovi You are right it is there Even I faced the same UI problem.
![screenshot from 2018-09-23 16-09-09](https://user-images.githubusercontent.com/34381723/45927068-32c4a280-bf4b-11e8-8755-f6ab1a8469bb.png)

[2018-09-23 10:42] yatri1609 commented on #1033
So @groovecoder Can I take this up as my first issue under Outreachy contribution?

[2018-09-23 11:15] GiuseppeGiacoppo commented on #822
Bug still present with Whatsapp site, on Win10, FF 62.0.2, Multi-Account Containers 6.0.0

[2018-09-23 11:18] hritvi commented on #1041
May I work on this issue @groovecoder?

[2018-09-23 13:01] yatri1609 commented on #945
@FayneAldan @jonathanKingston @groovecoder Can I work on this issue? And can anyone of you guide me through this?

[2018-09-23 13:46] Paarmita commented on #945
@yatri1609 I was working on this. :)

[2018-09-23 14:05] Paarmita commented on #1163
@Softvision-CristinaBadescu I tried this many times by changing the window location and trying clicking edit button several times, but I couldn't reproduce this error.

[2018-09-23 14:18] Paarmita commented on #985
@TanviHacks @jonathanKingston @groovecoder Can I take up this issue as my first issue for outreachy?

[2018-09-23 14:50] Paarmita commented on #948
@groovecoder Can I take up this issue?

[2018-09-23 15:01] Paarmita commented on #187
@groovecoder @kjozwiak @jonathanKingston When I click on disable, the pop-up window gets closed in my case, so I'm not been able to see series of popups as shown. I clicked disable several times but the window gets closed.
Can u plz help in reproducing this, so I could work on it?

[2018-09-23 15:24] yatri1609 opened #1268 "Container not taking the size of the overflow-menu when added to it"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Operating System + Version: Ubuntu 18.04
- Firefox Vers

[2018-09-23 18:13] yatri1609 commented on #1152
@vitaly-zdanevich Can you explain the bug a bit more ?

[2018-09-23 18:15] yatri1609 commented on #1051
@groovecoder Can I take this issue ? I think this will help me get started with this project.

[2018-09-23 18:29] yatri1609 commented on #198
@groovecoder @jonathanKingston Can I take this up as I think it will help or get familiar with the project too ?

[2018-09-23 18:30] ShivangiKakkar commented on #1152
I guess he means that the container shows above behaviour as explained when tested for a Mac Retina display. Not sure, need to test myself but we may test this by going to`about:config` -> search for layout.css.devPixelsPerPx ->  change the ratio from -1 to -2.

[2018-09-23 18:34] yatri1609 commented on #1152
Ohk I guess we need to have a look at it. If I would be able to reproduce it I'll love to work on this.

[2018-09-23 19:00] groovecoder commented on #1051
@Sylvia23 if you'd like to take a look at this first that sounds good. Note that https://github.com/mozilla/multi-account-containers/pull/1205 is open for this, but it may have some issues? I haven't looked at it recently.

@yatri1609 if @Sylvia23 decides not to start on this, you can take it.

[2018-09-23 20:16] twhite96 commented on #1261
As an Outreachy intern, I'll take this.

[2018-09-23 20:34] twhite96 commented on #1261
Hmm. It seems the package `deploy-txp` has a dependency that has been audited as critical. Most of the vulnerabilities are attributed to this package. Is there another package similar to this that we can use to mitigate the number of vulnerabilities?

https://www.npmjs.com/advisories/566

https://www.npmjs.com/advisories/663

[2018-09-23 20:57] hritvi commented on #1261
Hey @twhite96 I am currently working on this issue.
You are right, the most of the vulnerabilities are because of dependencies of the package `deploy-txt`. I don't this so replacing this package would be a good option. @groovecoder could you please help us a little here. Thanks :slightly_smiling_face:

[2018-09-24 04:36] sakshi97 commented on #1103
Hi, @groovecoder. Can I take up this issue? It would help me get started with this repository.

[2018-09-24 04:38] sakshi97 commented on #1027
Hi @groovecoder. I would like to take up this issue if it's free.

[2018-09-24 04:48] yatri1609 commented on #1051
@groovecoder Sure! If not this then can you assign me some other issue ? So that I can start working on this project.

[2018-09-24 07:30] yatri1609 commented on #187
@kjozwiak I am not able to reproduce this issue even after trying it several times.

[2018-09-24 08:13] yatri1609 opened #1269 "Sort Tab button not working"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Operating System + Version: Ubuntu 18.04
- Firefox V

[2018-09-24 08:14] yatri1609 commented on #1269
@groovecoder I would like to take issues and improvements like this during my Outreachy internship period. But for now I would like to work on some issues like this and other where I can start my contributions to the project

[2018-09-24 08:19] Paarmita commented on #956
@groovecoder @jonathanKingston Can I take this up ?

[2018-09-24 08:58] Paarmita commented on #1269
@yatri1609 Working in my case. U can try opening 5 or more tabs with different containers.

[2018-09-24 09:02] Paarmita commented on #1248
@stevemiles2 Look #930

[2018-09-24 09:40] Paarmita commented on #1103
@groovecoder @jonathanKingston @t4777sd  Can I work on it? I guess search input UI would look good. Any suggestions are welcomed.

![screenshot from 2018-09-24 15-10-33](https://user-images.githubusercontent.com/26546816/45945717-03c23580-c00c-11e8-9c85-cf8c8fba2f7a.png)

[2018-09-24 11:13] yatri1609 commented on #1269
Ohk let me test it once again

[2018-09-24 11:16] yatri1609 commented on #1269
@Paarmita Which OS do you use? As it is still not working in my case

[2018-09-24 11:42] Paarmita commented on #1269
I'm testing in Linux Ubuntu.

[2018-09-24 12:15] ShivangiKakkar commented on #1268
I think this issue is duplicate of #766 :)

[2018-09-24 14:41] yatri1609 commented on #1268
Yes but it is still unsolved ! And I have already asked @groovecoder to guide me. :)

[2018-09-24 18:44] samuel-allan commented on #313
I have implemented the system which associates cookieStoreIds (container identifiers) with their associated HTTP proxies (with support for authentication, and ip:port, e.t.c.). You can see the latest progress [here](https://github.com/samuel-allan/multi-account-containers). The file in particular which handles this more design-related step is [proxified-containers.js](https://github.com/samuel-all

[2018-09-24 19:05] #885 closed

[2018-09-24 19:41] groovecoder commented on #1041
Yup, sure thing.

[2018-09-24 19:44] groovecoder commented on #1248
As I remember it, #930 is the bug where the button is click-able in Private Browsing Mode when it shouldn't be click-able.

I think this bug is actually a duplicate of https://github.com/mozilla/multi-account-containers/issues/469. Please up-vote and comment there.

[2018-09-24 19:44] #1248 closed

[2018-09-24 19:45] groovecoder commented on #930
Yes, you can take it. Note: this fix here is *not* to make the extension work in Private Browsing mode - I believe that requires platform-level work.

The fix here is to disable the containers extension icon in private browsing windows.

[2018-09-24 19:54] groovecoder commented on #1163
Unable to reproduce; this seems to be fixed now.

[2018-09-24 19:54] #1163 closed

[2018-09-24 19:55] groovecoder commented on #985
You can try this one, yes. This may be difficult to test thoroughly - we will need to make sure whatever assignment changes we make to support port-specific assignments don't destroy existing assignments without ports.

[2018-09-24 19:56] groovecoder commented on #948
Yes, this is another good first bug.

[2018-09-24 19:56] groovecoder commented on #198
@Paarmita - if you can reproduce this issue, yes - it seems like a good first bug.

[2018-09-25 00:48] escapewindow opened #1271 "`always open in` checkbox on Nightly has no visual checkmark"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: n/a, appears to have changed in Nightly
- Multi-Account Co

[2018-09-25 02:11] Paarmita commented on #985
@groovecoder Can u plz help me in finding the right file to make changes as I'm new to extensions?

[2018-09-25 02:12] Paarmita commented on #948
@groovecoder Thanks! I will soon add a PR.

[2018-09-25 03:02] kjozwiak commented on #187
@Paarmita @yatri1609 I'm no longer working on the Mozilla project but I'm assuming this might have been fixed at some point. If you can't reproduce using the STR, it's most likely fixed and not an issue anymore.

[2018-09-25 03:36] lachlan-00 commented on #1271
I just tested this in windows 10 and the tick box works but doesn't change state visually.

[2018-09-25 12:07] pixiekat opened #1272 "Ability to filter or search by container in the history window?"
I don't know if this would fall under multi-account-containers or Firefox core or another extension, but is it possible to add in the ability in your history window to filter or search by specific containers (or have a drop down to only show history from certain containers)? Even a visual icon or colour along with the history icon, perhaps?

Thanks! :)

[2018-09-25 16:20] escapewindow commented on #1271
My github tabs are now opening in the wrong container. I think this is because I unclicked the `always open in` checkbox and had no visual hint.

[2018-09-25 19:00] ShivangiKakkar commented on #947
@jonathanKingston @groovecoder @bakul I would love to work on this issue. May I?

[2018-09-25 19:03] ShivangiKakkar commented on #1054
@jonathanKingston @bakukf @groovecoder I want to work on this issue. May I?

[2018-09-25 19:27] ShivangiKakkar commented on #1054
@groovecoder I would like to try this one out, can you just explain a bit more about the kind of text you want to update to show the intended behaviour? Maybe an example?

[2018-09-25 19:34] groovecoder commented on #947
This needs a platform-level change, so I'm not sure why it's marked as a good first bug - @jonathanKingston ?

[2018-09-25 19:38] ShivangiKakkar commented on #947
@groovecoder Oh okay, please let me know if it needs some changes on the container addon side. :)

[2018-09-25 20:58] yatri1609 commented on #930
@groovecoder I was thinking if we can show a message on clicking the button that this is not supported in Private browsing then it will be good. What do you think?

[2018-09-26 15:36] ShivangiKakkar commented on #256
@groovecoder @jonathanKingston  I would like to take this up and possibly land a PR soon. :) May I ?

[2018-09-26 16:56] ShivangiKakkar opened #1273 "All the tooltips hide behind the popup/menu after first hover"
### Prerequisites:
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No
- Are you using Firefox in a Private Window? No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes
- Multi-Account Containers Version: 6.0.0
- Operating Syste

[2018-09-26 17:35] ShivangiKakkar commented on #1273
@groovecoder @bakulf @jonathanKingston This seems like a critical issue, what do you think might be causing this behaviour for the tooltips?
I am also trying to find the same. Thanks.

[2018-09-26 22:51] jwaldmann commented on #1176
Also, the installer seems to check the useragent string, so if you use `general.useragent.override`, then it won't work. It seems you can reset all these after installing.

[2018-09-27 10:10] vitaly-zdanevich commented on #1152
Cannot reproduce on the current Firefox Nightly.

[2018-09-27 10:10] #1152 closed

[2018-09-27 13:17] Paarmita commented on #972
@groovecoder So we need to assign arrow functions to all async functions in the code base?
And Can I work on this?

[2018-09-27 17:44] groovecoder commented on #972
@Paarmita yes - we can clean up some code (i.e., make it less verbose) by using `async (...) => { ... }` in many places.

[2018-09-27 19:19] ShivangiKakkar commented on #1033
@tilgovi Yes this issue still exists. And, yeah it reproduces only for full screen.
@yatri1609 @Paarmita @Soundharyaam Maybe you weren't full screen or this reproduces only for MacOS. :)

<img width="1440" alt="screen shot 2018-09-28 at 12 42 45 am" src="https://user-images.githubusercontent.com/35342019/46169096-d0a3ce80-c2b7-11e8-88d8-98fe5c508792.png">

[2018-09-27 19:32] ShivangiKakkar commented on #187
I too tried to reproduce this. It seems to be fixed now. @groovecoder Maybe we can close this one. Thanks! :)

[2018-09-27 20:06] groovecoder commented on #256
Let's disable both the "delete" and "edit" features when the list is empty.

When there is only 1 container left, let the user delete it - they may be trying to destroy all their container cookies completely.

[2018-09-27 20:15] ShivangiKakkar commented on #256
Okay. On it! Thanks :)

[2018-09-27 21:54] tilgovi commented on #1033
Thanks for looking, you all! It's really not a large issue and it's not the default placement, but I think it's nice to imagine this experience being so polished that it could replace the default ➕ for new tabs!

[2018-09-27 22:01] yatri1609 commented on #1033
@ShivangiKakkar It did produce for me as I mentioned earlier, have a look at my comment above.

[2018-09-27 22:33] ShivangiKakkar commented on #1033
@yatri1609 The ➕(add a new container) button didn't seem to be squeezed. [here](https://github.com/mozilla/multi-account-containers/issues/1033#issuecomment-423807191) If it did reproduce for you then I'd assume it's present for linux too.

[2018-09-27 23:13] jonathanKingston commented on #972
My intent on the previous bug was only to use `async () => {}` when it's something that is already inline, not changing named methods to be const async arrows.

This is less about changing just the code style in a blanket fashion and instead moving functions to be inlined whenever they are only used once.

The work might actually be check and see if there is any clean up that makes the code less v

[2018-09-27 23:19] jonathanKingston opened #1276 "Send tab to device opens in private tabs with assignment screen"
The send tab to device feature within Firefox opens within a private window sometimes with the assignment screen.

I suggest the logic should be improved to never pick a private window, if there is only private windows open then open a new normal window (I believe we still have to open a blank tab first for this case then close it).

[2018-09-27 23:31] jonathanKingston commented on #1273
@ShivangiKakkar I suspect this might be related to the autofocusing that happens then the tooltip is popped open (I'm not sure if we removed this code since Firefox now focuses into the frame).

I can't reproduce this on Linux or Mac Nightly 64. It does however look like a Firefox bug rather than an addon one.

[2018-09-27 23:35] jonathanKingston commented on #1266
@ShivangiKakkar I think the issue will be with the 'https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/menus/ContextType' we enable the [contextmenu](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/menus/create).
The code should be doing something like `browser.contextMenu.create({contexts: ["..."]})` (I think we use contextMenu which is an alias

[2018-09-27 23:39] samuel-allan commented on #313
@groovecoder Do you think I can wisely proceed with the final stage (actually using the addListener in the background logic javascript) considering the current state of the add-on? Let me know what you think of the current changes

[2018-09-27 23:41] ShivangiKakkar commented on #1266
@jonathanKingston Okay, will look into it and land a PR soon. Thanks! 😄

[2018-09-27 23:47] john01dav opened #1277 "[Feature Request] Add option to disable cookies in all tabs not in a container"
I have been using this extension for awhile now, and it provides a great way to wrangle multiple accounts. Unfortunately, however, its privacy features are lacking in the area of cookies. The only real reason a user may want to have cookies enabled for a website is to handle (persistent) logins, or to store settings¹. Everything else is just tracking that one may wish to disable. As such, I would

[2018-09-27 23:54] jonathanKingston commented on #945
@Paarmita https://searchfox.org/ is a good code searching tool for Firefox.

## Finding the code in Firefox
Sometimes searching for the string like the name in the modal is actually the simplest way to find the code:
["Add new Container" search result](https://searchfox.org/mozilla-central/search?q=Add+new+container&case=false&regexp=false&path=) returns two results, one is the button that opens t

[2018-09-28 00:03] jonathanKingston commented on #1271
Hey @escapewindow thanks for the report!

Hey @ShivangiKakkar or @Paarmita would you be able to look into what is the cause of this.

Some questions that might help debug:
- Is it specific to this addon or is it reproducible on another more simplified addon?
- Is it specific to Nightly or does it happen on Firefox stable?
- Did a change get released to the addon recently(I haven't been on this pro

[2018-09-28 00:06] jonathanKingston commented on #1269
Sorting applies to the containers:
Work, Personal,Work, Work
Would result in: Work, Work, Work, Personal

Is this not what is happening?

[2018-09-28 00:07] ShivangiKakkar commented on #1271
@jonathanKingston Would love to. :)

[2018-09-28 00:09] jonathanKingston commented on #1261
It seems this is [maintained by a Mozilla member of staff](https://github.com/meandavejustice/deploy-txp). I can't remember if we still use this at all but @groovecoder would.

The solution might be to rip it out or fork the code and update it.

[2018-09-28 00:28] ShivangiKakkar commented on #1269
@jonathanKingston It is doing perfectly fine in MacOS. Not sure about Linux.

[2018-09-28 03:51] yatri1609 commented on #1269
@jonathanKingston No that wasn't happening in Ubuntu 18.04

[2018-09-28 04:07] yatri1609 commented on #1033
@ShivangiKakkar exactly

[2018-09-28 04:08] Paarmita commented on #1269
@jonathanKingston It's working fine for Ubuntu 16.04 as well.

[2018-09-28 04:27] Paarmita commented on #972
@jonathanKingston I changed the async function to arrow functions which makes it more verbose, I can work on the suggested lines as well. Do I need to change arrow functions for which I opened the PR?

[2018-09-28 08:10] Paarmita commented on #945
@jonathanKingston Can u please provide me the link to the communication channel for this project. I tried #containers channel on irc.mozilla.org but couldn't find anyone.

[2018-09-28 12:42] falolaf commented on #1041
For the case to not load tabs in a hidden container when a new tab in said container is opened you can have a look at this PR:
https://github.com/mozilla/multi-account-containers/pull/1119

[2018-09-28 18:02] ryanfeeley opened #1278 "Correct the context menu item copy for managing containers"
The contextual menu item for managing containers does not follow our guidelines for [title case](https://design.firefox.com/photon/copy/capitalization.html) or [ellipses](https://design.firefox.com/photon/copy/punctuation.html#ellipses).

<img width="203" alt="image" src="https://user-images.githubusercontent.com/68213/46220989-cdd9c580-c319-11e8-889a-031d443169cf.png">

**CURRENT**
Manage contain

[2018-09-28 19:04] ShivangiKakkar commented on #1278
I would like to take this up and probably send the PR soon. :)

[2018-09-28 20:03] groovecoder commented on #1278
Wait, if you mean in the long-press context menu, I think that has to be done in the platform-level code - not in the add-on. @jonathanKingston ?

[2018-09-28 21:29] ShivangiKakkar commented on #1271
@jonathanKingston
- I tried it on another simple addon, checkbox works fine in nightly. Thus it must be specific to multi-container addons.
- It is specific to Nightly. It doesn't happen on Firefox stable. In Firefox stable it asks for permission to open in the same container instead.
- No. It last released in near about February.

The question I had in my mind was if it's really an addon fix or a

[2018-09-28 21:45] ShivangiKakkar commented on #1273
@jonathanKingston I just tested it for Nightly 64, it did reproduce for me. Did you check this while being in full-screen mode?

[2018-09-30 02:57] samuel-allan commented on #1277
Perhaps it would be cleaner to allow every container to have a switch that disables cookies, and for the 'default' container (which is when you open any tab without a particular container) to be configurable to disable cookies

[2018-09-30 03:02] john01dav commented on #1277
I agree with that suggestion. Ux is not my specialty.

On Sat, Sep 29, 2018, 7:57 PM Samuel Allan <notifications@github.com> wrote:

[2018-09-30 12:05] pshem commented on #473
An IPv4 address is not enough to track a user in most cases these days. IPv4 has reached a level where the vast majority of people are behind a NAT or multiple. An IPv6 address is enough, and, for an intelligence agency, an IPv4 address and browser fingerprinting also are, but Firefox tries to limit the extent of fingerprinting and the connection is only probable instead of certain. That's a big d

[2018-09-30 16:06] samuel-allan commented on #1277
I was mostly referring to the underlying model (software design choice), so not UX :D
However, considering this add-on is not currently actively maintained, I'm not sure this will go anywhere. I just almost finished an addition with proxy support, and I might just fork it off into an entirely separate extension with this feature also perhaps. I do however hope very much that this repository will b

[2018-10-01 13:31] ryanfeeley commented on #1278
@groovecoder You are right, it would be platform level. Probably here: https://hg.mozilla.org/l10n/gecko-strings/file/default/browser/chrome/browser/browser.properties#l899

[2018-10-01 17:56] jcjiang commented on #1037
Hi, can I take this on as an issue for Outreachy?

[2018-10-01 22:28] jonathanKingston commented on #1269
Cool, I'm going to close this out unless I'm misunderstanding :) thanks

[2018-10-01 22:28] #1269 closed

[2018-10-01 22:30] jonathanKingston commented on #1271
`./node_modules/.bin/web-ext run -s src/ -f ~/location/nightly/etc` is a way to check Nightly only same for if you are building it yourself. I believe `npm run build` will give you a zip that about:debugging can then open also.

[2018-10-01 22:47] jonathanKingston commented on #1273
I double checked and couldn't replicate on both devices. Are you using multiple screens on mac?

[2018-10-01 22:49] jonathanKingston commented on #330
@Paarmita the only problem is some of the menus come from Firefox itself so you would have to add an index to the internal storage and sort those menus the same.

[2018-10-02 12:52] krobelus opened #1280 "Containers button is active in the first tab of private session"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? **No**
- Are you using Firefox in a Private Window? **Yes**
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? **Yes**
- Multi-Account Containers Version: **6.0.0**
- Operating System

[2018-10-02 17:18] #1028 closed

[2018-10-02 17:37] jonathanKingston commented on #1037
@jcjiang these colours are set in the code within Firefox. Even though the extension can present them to the user most of the code comes from Firefox. I'm not sure this is a good first bug for outreachy given the complexity.

[2018-10-02 18:12] groovecoder commented on #1261
I think we can actually get rid of `deploy-txp` - we only used it when we were deploying the add-on to testpilot.firefox.com.

[2018-10-02 18:46] groovecoder commented on #313
@samuel-allan looks like you're on the right track, but instead of storing the proxy-container mapping(s) in background `window` object, can you change that code to more closely match what we do with site assigments in `assignManager.js`? At the very least, I think you'll need to use `browser.storage.local` for the proxy assignments in order to preserve the data between browser restarts.

[2018-10-02 19:47] jonathanKingston commented on #945
@Paarmita irc is correct for now certainly (sorry I have been a little busy lately) please mention my irc handle (jkt) when messaging. Feel free to email Luke and I directly though instead.

[2018-10-02 19:52] jonathanKingston commented on #1278
@ShivangiKakkar @ryanfeeley is correct in where he has linked to. This will need a bug filing on Bugzilla instead... https://bugzilla.mozilla.org/show_bug.cgi?id=1450973 which Ryan also raised there too.

In [another bug](https://github.com/mozilla/multi-account-containers/issues/945#issuecomment-425278140) I explained how this is possible to find and get going with changing this code. I will be a

[2018-10-03 00:19] twhite96 commented on #1261
Okay. I'll strip that one out.

[2018-10-03 12:00] #1261 closed

[2018-10-03 14:54] dscho commented on #1254
@justmarks I fear that we would have to implement this feature ourselves (see https://github.com/mozilla/multi-account-containers/issues/1259).

Also, this seems to be a duplicate at *least* of #976 (which was marked as a duplicate of #473, although I disagree that it is: path-based distinction is a much more specific thing than full URL-based distinction).

[2018-10-03 15:44] ShivangiKakkar commented on #1266
@jonathanKingston

By this do you mean, we don't need this sub-menu here? If yes, currently the contexts is set to type  "all" . Something like this for hiding the container menu -
[code]
Can you give an idea how do I not select/remove a particular context(like the one we have now) and include all other contexts?

[2018-10-03 21:33] SolespireMarcus commented on #339
This is the problem. I go back and forth between iMac Pro and MacBook Pro with Firefox as my default browser. Sync for Multi-Account Containers should be a no-brainer.

No, Multi-Account Containers have since graduated into becoming a Featured Extension as a Firefox Add-on: https://addons.mozilla.org/en-CA/firefox/addon/multi-account-containers/

[2018-10-04 19:08] rm-root opened #1282 "Feature request: Export and Import containers & settings"
Hi, will you develop a way to export and import containers and settings? At the moment I must setup a lot of containers every time I use conteiners on a new device. Thank you.

[2018-10-05 06:42] IOAyman commented on #1282
That would be great!

[2018-10-06 14:41] kushinauwu commented on #198
Can I take this issue up?

[2018-10-06 14:58] kushinauwu commented on #956
Is this issue still up? I will try to reproduce it and work on it.

[2018-10-06 15:18] iillx commented on #945
Can I work on this one or someone is already doin it? @jonathanKingston @groovecoder

[2018-10-07 03:03] samuel-crypto commented on #313
@groovecoder Hmm, actually I am using `browser.storage.local`.. Perhaps I posted the wrong code I will check now

[2018-10-07 03:06] samuel-crypto commented on #313
@groovecoder Could you possibly clarify what you mean? Sorry I'm a bit confused - I think I am actually using `browser.storage.local` in the code I posted (`windows.proxifiedContainers` is only an object with functions for more convinient use across multiple files - nothing is stored in the window object)

[2018-10-07 10:28] nidhi-nigam commented on #1041
@groovecoder  Can I take up this issue if it is available?

[2018-10-07 12:02] Riju19 commented on #1103
Hi! Is anyone working on this issue? If not, I'd like to take it up.

[2018-10-07 13:15] groovecoder commented on #198
I think @Paarmita or @yatri1609 may already be working on this one?

[2018-10-07 13:16] groovecoder commented on #956
@Paarmita if you can reproduce, yes - you can work on this one.

[2018-10-07 13:17] groovecoder commented on #945
@iillx I think @Paarmita is already working on this.

[2018-10-07 13:18] groovecoder commented on #259
@iillx yes, you can work on this one. Be sure to check out [the patch that @lmorchard linked in the comment above](https://github.com/bwinton/SnoozeTabs/blob/master/src/popup/snooze-bootstrap.js#L2) - it may help.

[2018-10-07 13:42] groovecoder commented on #313
Ah, I see now - sorry I over-looked that at first. Yes the code you have so far looks okay to add the `webRequest` listener in the `backgroundLogic`.

[2018-10-07 13:44] groovecoder commented on #1041
I think @hritvi is already working on this?

[2018-10-07 13:45] groovecoder commented on #1103
I think @Paarmita or @sakshi97 may already be working on this?

[2018-10-07 13:45] groovecoder commented on #933
@Riju19 if you can reproduce it yes, you can work on it.

[2018-10-07 17:38] Paarmita commented on #945
@iillx You can take this up 👍 As I am busy with my university exams So won't be able to work on the issues. :)

[2018-10-07 19:42] samuel-crypto commented on #313
@groovecoder Ok perfect, I have completed integration of proxies [here](https://github.com/samuel-crypto/multi-account-containers). Now comes the cleanup and debugging process which will undoubtedly reveal a lot of flaws, but as far as trivial functionality (using a proxy) it appears to work now. Testers are very welcome!

[2018-10-08 06:43] sakshi97 commented on #1103
I wasn't able to start due to exams and course commitments. But I will take this up now.

[2018-10-08 09:03] laurento commented on #313
Thanks for your work Samuel, I'll be glad to test it and report back.

[2018-10-08 12:56] wsot commented on #949
Just lost all of my containers after restarting Firefox too. This is not the first time it has happened, but I frequently use Firefox and it has only happened twice now. In neither case did I change any settings.

However, I think Firefox did just update, and I use a single Firefox installation with two separate profiles so it may have been something to do with the update and profile combination.

[2018-10-08 16:48] nidhi-nigam commented on #1041
@groovecoder Is there any other good first issue available?

[2018-10-08 17:03] groovecoder commented on #1041
Check out these others? https://github.com/mozilla/multi-account-containers/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+bug%22

[2018-10-09 07:48] laurento commented on #313
Except the fact _lint:js_ screams if you try to pack it, but I also believe it is expected, the extension just works good for me :)

Reviewing your code, I was a bit fooled by that `const DEFAULT_PROXY = {type: "direct"};`. I had the feeling you were defaulting to `type: "direct"` regardless the FF current proxy configuration, but I empirically tested that it actually works as expected: the extens

[2018-10-09 10:57] seniorivn commented on #949
@wsot happens to me regularly now, feels like bad design

[2018-10-09 15:02] groovecoder commented on #949
I've only noticed this happen when I switch channels with the same profile - e.g., from Nightly to Release, or Release to Beta, etc. Or sometimes when my channel gets a fresh update - e.g., when Nightly goes from 63 to 64.

Anyone else notice that's when it seems to happen?

[2018-10-09 16:45] samuel-crypto commented on #313
Thank you very much @laurento for testing!
The code is far from perfect, and it has a long list of confusing things which I will try to fix.
I fixed lint.js's screams (it still is producing warnings about todos but what can I do).

Here are some interesting problems I've discovered:
 - Seemingly unrelated tests seem to fail, such as the `Always open in` feature
 - I am not sure what to do in the `

[2018-10-09 20:36] samuel-allan commented on #313
Oops apparently I broke the code with some lint fixes. Will check properly
today

On Tue 9 Oct 2018 12:45 PM samuel-crypto <notifications@github.com> wrote:

[2018-10-10 17:07] xavier83 commented on #313
would be great if foxyproxy implemented such a feature.

[2018-10-10 22:09] ShivangiKakkar commented on #1273
@jonathanKingston I didn't get `multiple screens`? But as shown in the gif above, It is reproducible for me now as well for both Nightly and stable Firefox.

[2018-10-11 22:20] samuel-crypto commented on #313
Alright I fixed these issues and the code is working (proxies are) both when editing and creating new containers, however, some tests seem to be failing (unrelated to the code I wrote), I am not quite sure why... Help is greatly appreciated. The PR can be viewed here: #1284

[2018-10-12 20:13] samuel-crypto commented on #313
Interestingly enough [SOCKS4/5 appears to be supported by proxy.onRequest](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/proxy/ProxyInfo). So it is possible to add these also. Of course I'm not sure how to do this GUI/wise, or maybe just test for what kind of proxy it is somehow? Either way lets see how this PR goes first

[2018-10-13 18:01] geotheory commented on #339
600+ commits, 500+ likes, 19 contributors and no active development to support sync. This is nuts.

[2018-10-15 10:02] jonathanKingston commented on #512
@ShivangiKakkar Yeah totally, smaller PRs are always easier to merge!

[2018-10-15 10:06] jonathanKingston commented on #1266
Yeah that is correct. I think anything in the "Firefox Multi-account Containers" menu can go.

You can use an array instead of the `"all"` and pass each context we want to keep. It probably makes more sense to drop anything that doesn't make sense to "Hide this container" like password.

[2018-10-15 10:13] jonathanKingston commented on #1273
As in multiple visual displays, a plugged in screen to a laptop for example. I'm struggling to reproduce at all. I'm using the latest mojave 10.14 though.

[2018-10-15 13:33] mozfreddyb commented on #1271
It took me a while to find the buttons to a) prevent the popup from closing when switching to the debugger and b) switch the Inspector to the popup.

I can confirm that the checkbox works and has the event listener attached as written in popup.js line 597. So the error must be where the popup is initialized. I see the function `setupAssignmentCheckbox()` in popup.js would contain the logic, but se

[2018-10-15 13:58] jonathanKingston commented on #1271
@ShivangiKakkar I'm seeing a console log withing the [browser toolbox](https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox) for "Error: Invalid badge background color: "" ExtensionUtils.jsm "

This likely is preventing the rest of the popup code from finishing / loading. If we fix that it might just fix this issue automatically.

[2018-10-15 14:19] jonathanKingston opened #1285 "Missing favicon fallback load"
I'm seeing the following in the [Browser Toolbox](https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox):

[code]

We should stop using the goat icon and instead have a fallback icon that is premitted to load. (we can just copy the browser default [icon directlly from mozilla central](https://searchfox.org/mozilla-central/source/devtools/client/themes/images/aboutdebugging-globe-icon.svg)

[2018-10-16 11:29] scheinercc opened #1286 "Update addon homepage link"
I wanted to report a problem by looking up the addon's homepage from the addons' detail view*. It is still linked to https://testpilot.firefox.com where "Show Past Experiments" > Container 'Feedback' just brought me to the questionare - which was not what I needed.
Only by going to AMO I found the link to Github.

I would recommend changing the home page to: https://addons.mozilla.org/en-US/firefo

[2018-10-16 20:02] groovecoder commented on #945
@iillx - are you already working on this? Or can @nidhi-nigam work on it?

[2018-10-16 21:13] prasinoko opened #1287 "multi-account containers unexpected behaviour"
When you re-open a hidden container, all its tabs are loaded simultaneously. If this container contains for example music tabs, they start playing all together. It would be more practical if the tabs of a particular container were loaded when clicked.

[2018-10-17 06:41] HassanMullah opened #1288 "Feature Request: Open Sites Direct over Multi-Account-Containers"
Hello, there,

it would be very cool if you could add an option to the context menu. I would like to move the mouse over a link and see "open with multi-account-container" .... and then on with the different containers you have created. This would be faster than opening the multi-account container first and then opening the site.

[2018-10-17 09:21] fibric commented on #1259
Any update?

[2018-10-17 14:31] simonbcn opened #1289 "Homepage different for each container"
I have 2 accounts for same service. One I open in my "normal" profile/container but for the other I have created a container. What would be very helpful to me is that when I open a new tab for that container, the web page of that service would be opened as a homepage.

[2018-10-18 06:48] falolaf commented on #1259
Work has started again as there have been a few commits merged lately.

[2018-10-18 06:59] falolaf commented on #1288
It is possible but not through M.A.C rather FF own implemenation. From FF62 I believe.

[2018-10-18 19:14] groovecoder commented on #1259
Correct - we are gearing up for some more work.

This issue is a question that has been answered. Closing.

[2018-10-19 03:06] kurobeats opened #1290 "[Meta] Is development of the extension dead?"
First of all, this innovation is amazing. Mozilla are on the cusp of something awesome with this functionality but I'm wary committing time to modifying my workflow/s to allow day to day use of this add-on if it's a dead side project.

So essentially my question is, is this extension still being actively developed?

[2018-10-19 06:34] denverdonate opened #1291 "Container tabs not containing anymore"
I used the container tabs with Firefox Nighly and I could open my Gmail in one tab, open a new tab and log into another Gmail, and I would be able to use my email accounts without having to login and logout over and over. It isn't doing that anymore....whatever Gmail I am logged into....is the Gmail on all container tabs even when I log out in the tab, then sign back in, the container tabs all use

[2018-10-19 19:20] yssmcl commented on #1290
https://github.com/mozilla/multi-account-containers/issues/1259

[2018-10-20 02:29] #1290 closed

[2018-10-20 07:56] ChodaBoy commented on #1246
Once example I ran into was addons that manage open tabs like MergeMarks which "merges all open tabs into one bookmark folder to be restored later". When you restore those tabs from the bookmarks via the addon, they are all opened in the default container and do not respect the original container.

[2018-10-21 13:04] yatri1609 commented on #1051
@groovecoder Can I take up this issue?

[2018-10-21 18:45] #256 closed

[2018-10-21 20:24] jonathanKingston opened #1293 "Badge background error"
I'm seeing a console log withing the browser toolbox for "Error: Invalid badge background color: "" ExtensionUtils.jsm "

From #1271 as it wasn't the cause of this assignment checkbox issue.

[2018-10-21 20:28] jonathanKingston commented on #1271
@ShivangiKakkar as far as I can tell the badge error I mentioned doesn't solve this. I filed a PR specific to just that.

[2018-10-21 20:49] jonathanKingston commented on #1286
@groovecoder I can't find this URL anywhere, it's not in AMO or the addon code. Has this always been an issue?

[2018-10-21 21:30] jonathanKingston opened #1296 "Bump addon and release"
After reviewing and merging:

- [ ] #1292
- [ ] #1294
- [ ] #1295
- [ ] #1297

Could you pull the release levers?

[2018-10-22 15:09] groovecoder commented on #1291
I can't reproduce this in Nightly 2018-10-21 build on Mac.

The updated behavior @s-timm reports is the intended behavior: your login sessions are supposed to be shared between all e.g., "Shopping" container tabs.

If you want to log into different ebay or gmail accounts, you need to open a new type of container tab. E.g., open a "Personal" container tab and a separate "Work" container tab.

[2018-10-22 15:28] groovecoder commented on #1246
Every add-on that uses the `tabs` API will need to [pass `cookieStoreId` param](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/create#Parameters) to create tabs in certain containers. This is not something we can do in this repo. Please file an issue with the add-on(s) you're using.

[2018-10-22 15:28] #1246 closed

[2018-10-22 15:54] groovecoder commented on #1051
@yatri1609 sure. you might check out the old https://github.com/mozilla/multi-account-containers/pull/1205 PR to see if that can be re-purposed/re-used?

[2018-10-22 18:16] yatri1609 commented on #1051
Sure @groovecoder

[2018-10-23 16:29] hcs64 opened #1299 "Default deny container"
It would be helpful to have an option to only allow the explicit sites assigned to open in a container.

This could use the existing `confirm-page.html` to prompt: when navigating to an unassigned site in such a container, ask whether to continue to open it in that container or instead open it uncontained.

My use case for this would mostly be webmail: I don't want links to open automatically in t

[2018-10-23 16:52] dns2utf8 commented on #119
I like `Ctrl + .` on Linux but it should be documented and advertised. I found this bug only after somebody pointed me at it.

[2018-10-23 21:37] wellington1993 opened #1300 "Nightly Error on close Tab"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: grayed and Ticked
- Multi-Account Containers Version: 6.0.

[2018-10-24 23:31] Pablohn26 commented on #319
This is the third most commented and most liked issue.

And I guess I am not the only one person here this issue is the main reason (and maybe the only reason) why we are still using chromium instead of Firefox.

This could be addressed as this issue explains or as #462 issue (the issue with most reactions) explains, but A LOT of people (the most of them do not care to arrive here) needs a way to

[2018-10-24 23:39] ivanhercaz commented on #319
I am very interested in this issue. Containers are an awesome feature, but they need to be refined. One of the things to improve is what @Dannyzen and many other people have suggested in this issue.

But the issue was opened in 2017, and now, one year and more later, after read this issue, I didn't read something about this suggested enhancement. Anyone involved with the development of multi-accou

[2018-10-24 23:43] ivanhercaz commented on #462
I am very interested in this issue. Containers are an awesome feature, but they need to be refined. One of the things to improve is what @MichelZ and many other people have suggested in this issue.

But the issue was opened in 2017, and now, one year and more later, after read this issue, I didn't read something about this suggested enhancement. Anyone involved with the development of multi-accoun

[2018-10-25 06:51] gee-forr commented on #462
I recommend you install the Conex extension https://addons.mozilla.org/en-US/firefox/addon/conex/. It works around this issue, and you get a kind of tab-groups experience too if you want.

[2018-10-25 11:43] ema-pe opened #1301 "It is possible to open Firefox with a selected container?"
Hi, I have a question: is it possible to open Firefox via command line (like `firefox https://github.com`) with a specified container, for example `Shopping` or `Work` instead of default one?

[2018-10-25 13:00] MichaelTunnell commented on #462
@gee-forr Conex is a nice extension that solves many issues and has a nice throwback somewhat to TabGroups. However, it is not at all close to what this thread is requesting regardless of the 2 ways that are being requested.

I like in Conex but it is more of a consolidator of features that in some cases I'd rather have separated.

1. always open new tab in current container
 - nice but also avail

[2018-10-25 17:08] oneEyedCharlie commented on #303
Um, when will this get fixed?  It's been 18 months?

[2018-10-26 17:03] groovecoder commented on #1301
I don't think this is possible. @jonathanKingston ?

[2018-10-27 15:59] teddy-gustiaux commented on #1256
@lukastribus Thank you for the workaround! It has fixed the issue I was having with some Discourse forums as well as with other "regular" websites.

[2018-10-28 13:34] E1k3 opened #1302 "[Enhancement/Feature] Add URL prefix to open the URL in a specified container"
Consider adding a URL tag/prefix/keyword like the ones you can specify for search engines (about:preferences#search). Starting a URL with such a keyword opens the URL in the container with that keyword.

Proposed behavior:
* Container
  * Name: "Banking"
  * Prefix: "bank:"

URL: "bank:https://url.to.my.bank.com" opens in "Banking" Container

[2018-10-28 14:09] E1k3 commented on #1302
This can be used in many ways. I would mostly use this to open certain Bookmarks in specified containers.

[2018-10-30 13:41] JetseBrouwer opened #1303 "Synchronization accross multiple devices (firefox sync or 'export config file')"
I'm currently using two machines (desktop and laptop) with the multi-account-containers. Every time I add a container, or a website to a container I have to do this one both machines, which can become tedious over a while.
it would be really nice if the settings would be synchronized using Firefox sync, or otherwise an import/export settings button would be very convenient.
(This would also preven

[2018-10-30 13:44] JetseBrouwer commented on #1303
I forgot to label this as a feature request, and don't know how to this retroactively

[2018-10-30 19:28] groovecoder commented on #1303
I think this is a dupe of https://github.com/mozilla/multi-account-containers/issues/339 - can you add upvote and/or comments there? We're about to start digging into our outstanding bugs & enhancement requests in order of upvotes.

[2018-10-30 19:28] #1303 closed

[2018-10-30 21:42] dermondbaer commented on #339
Is this still being discussed? I'd love to have 1 & 2, just like all the others. Otherwise a great add-on.

[2018-10-30 22:19] buzuck commented on #339
Actually, this is beginning to look quite the same as the synchronization of search engines, which is endlessly "discussed" since more than 10 years... https://bugzilla.mozilla.org/show_bug.cgi?id=444284
:cry:

[2018-10-31 02:02] groovecoder commented on #339
No promises, as we haven't investigated what a full implementation might look like. We are planning to spend some full-time on Containers add-ons in the December-March time-frame. We will be going thru issues & bugs, prioritized by community upvotes. And this is the 2nd-highest upvoted feature.

[2018-11-01 16:44] hcs64 commented on #1299
Yeah that sounds like what I meant, thanks!

[2018-11-01 16:44] #1299 closed

[2018-11-01 18:21] z-nexx opened #1304 "[Feature Request] Show one container, hide all others"
It would be nice to be able to hide all containers except one with only one action. This would enable the usage of Multi-Account Containers as a more intuitive session handler. The ability to show/hide containers is already present, so I figured this would be a matter mostly of UI/UX.

Solutions for the UI could be:
- An menu entry below "Show/Hide this container" called "Show only this container"

[2018-11-01 19:19] psoulos opened #1305 "Open new tab in current container or tie a window to a container"
There is one feature that prevents me switching to Firefox from Chrome. In Chrome, I use a window for Work and a window for Personal. I see two ways to accomplish this feature using Firefox Containers.

1. If new tabs are opened by default in the current container, then I can maintain a window for different containers.
2. A feature to set a container for an entire window would be a solution simila

[2018-11-02 04:53] falolaf commented on #1305
And you need containers functionality for this? E.g. you need to be logged in to the same site with two different accounts?

[2018-11-02 15:32] nocode99 commented on #1194
This behavior still exists on Firefox 63.0 with Container version 6.0.0 on Linux Mint.  My personal gmail has it's own container, but often, I would prefer other authenticated sites (ie Github) to open in the default.

[2018-11-02 16:44] freaktechnik opened #1306 "Checkbox checkmark invisible in nightly"
### Actual behavior
Checkmark in checkbox to always open in container in popup is not loaded in Firefox Nightly

### Expected behavior
Checkmark is visible.

### Steps to reproduce
1. Open MAC popup for a page that's loaded in acontainer
2. Toggle "Always open in this container"

[2018-11-02 17:42] psoulos commented on #1305
Yeah, there is an overlap in the websites that I use for work and personal (stackoverflow, gmail, etc)

[2018-11-02 18:06] jacekmusial commented on #949
I have experienced this "clearing" of the containers. Using only one nightly in the W10.

[2018-11-04 17:37] tienkietboi commented on #1208
I've left Firefox but thanks for advice, hopy this helpful for everyone! 👯

[2018-11-06 08:28] mrwensveen commented on #339
@arcturus You can just use different profiles if you need to have multiple sync accounts.

(Sorry for the off-topic noise)

[2018-11-06 08:32] SolespireMarcus commented on #339
I had to move back to Chrome because this feature is not being developed in Firefox. I need different workspaces available on any device or computer I’m on.

[2018-11-06 17:40] cpeterso commented on #1306
I first see this checkbox problem in Firefox 64 Beta. The checkbox's functionality works, but the visual indicator doesn't show up.

1. If I uninstall and install MAC in Firefox 63, the check is visible.
2. If I uninstall and install MAC in Firefox 64 Beta or 65 Nightly, the check is not visible.
3. If I _then_ load the same user profile in Firefox 63, the check is not visible! Installing in 64+ b

[2018-11-07 10:34] tom-james-watson commented on #319
You can achieve this by using the Sticky Containers extension - https://addons.mozilla.org/en-US/firefox/addon/sticky-containers/reviews/.

[2018-11-07 10:43] dimtion commented on #1306
Same here for Firefox 64 Beta, the check-mark is not visible but the checkbox's functionality works. On Firefox 63 the issue does not arises.

System Information:
- MAC 6.0.0
- Firefox 64b
- MacOS 10.14

[2018-11-08 18:08] thomcc commented on #339
Please reach out to the sync team if/when you decide to implement this, we've actually given it some thought.

(This only applies if you aren't planning on using the webext sync api, of course, if you are you're on your own for the most part, for better or worse).

[2018-11-08 18:30] BigBlueHat commented on #1305
@psoulos you probably want something like Firefox's Profile Manager:
https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

The advantage Containers have is that you get all the shared themes, extensions, etc. across all your tabs regardless of the accounts you're using within the "Container tab."

The advantage of a fully separate Profile is that *everything* is

[2018-11-08 19:01] psoulos commented on #1305
Thank you @BigBlueHat, that is exactly what I was looking for! Profiles allow me to separate out my personal and work accounts, while containers allow me additional privacy for each account. Making Profile Manager more obvious in the UX could help bring people over to Firefox from Chrome and other browsers where profiles are given prominent exposure in the UI. Asking people to open Terminal to sta

[2018-11-08 19:12] #1305 closed

[2018-11-10 21:00] thistempname commented on #1291
Containers do not function at all - nothing is containerized. Uninstall/Install extension and Uninstall/Install firefox.

Anybody else having the same issue?

Firefox Quantum
64.0b8 (64-bit)

[2018-11-12 05:20] mastazi commented on #1227
I have the same problem with youtu.be and many other URL shorteners. I am wondering if there is a workaround.

[2018-11-13 15:03] Softvision-MariusComan opened #1307 "The "web.whatsapp.com" website is not opened in the assigned container if it was previously opened in a normal tab"
**[Affected versions]:**
- Firefox 63.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Multi-Account Containers" add-on (6.0.0) installed from https://goo.gl/GzWFnr.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Open a new tab and navigate

[2018-11-14 10:01] Softvision-MariusComan opened #1308 "The "Multi Account Containers" context menu option is wrongly displayed in a non-container tab"
**[Affected versions]:**
- Firefox 63.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a new Firefox profile with the latest version of the "Firefox Multi-Account Containers" add-on (6.0.0) installed from https://goo.gl/GzWFnr.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Open a new tab and right-cli

[2018-11-14 22:18] theres-waldo opened #1309 "Undo "Sort Tabs""
I had a Firefox window with a lot of tabs (~70), and I had them neatly arranged into a hierarchy using Tree Style Tabs.

I accidentally pressed the "Sort Tabs" button in the popup dialog that comes up when pressing the Multi-Account Container extension's toolbar button, and now tab tree has been completely messed up.

It would be nice to have a way to undo this operation.

[2018-11-20 04:50] atomsmith commented on #1304
The [Conex extension](https://addons.mozilla.org/en-US/firefox/addon/conex/) is built on containers, and might provide some of the user interface you are seeking. I have found that its "Only show tabs of the current container" setting works well as long as you confine most of your browsing to one window. Perhaps this will be improved if the extension is developed beyond its current "preview" state

[2018-11-20 07:35] luixxiul commented on #1306
Hello, when you click the addon icon on the toolbar, this error message is displayed on the browser console:

[code]

I'm not sure if the error is related with this issue though. Thanks,

[2018-11-24 16:44] RedirectCleaner opened #1310 "Add option to allow to open new tabs only in the same container when the domain name fits"
### Actual behavior

Opening a new tab with "ctrl+link click" or with just a click on the link (which opens a new tab), opens a new tab in the same container

### Expected behavior
Add settings option that allows by default to only open the tab it in the same container when the domain name fits

### Steps to reproduce
1. Create a twitter container
2. add twitter.com to the container
3. login into

[2018-11-26 01:34] dannycolin opened #1311 "Reopen in container should close previous tab"
### Actual behavior

1. Right-click on a tab to open the context menu
2. Choose "Reopen in container"
3. Choose a container in the list
4. Current tab is duplicated in the selected container

### Expected behavior

1. Right-click on a tab to open the context menu
2. Choose "Reopen in container"
3. Choose a container in the list
4. Current tab is duplicated in the selected container and previous ta

[2018-11-26 01:37] lhorace commented on #1311
Hello there,

I was going to submit an issue myself, this particular behavior is a bit of a nuisance and adds unnecessary steps to my work flow, glad you reported it :)

[2018-11-27 05:12] alexsasharegan commented on #1201
Yes, the 1Password conflict really affects my workflow. Wouldn't mind switching 1Password X to the Chrome shortcut `shift+cntrl+x`, but that doesn't seem to work for me.

[2018-11-27 07:04] falolaf commented on #1311
"Reopen in container" is not part of MAC though. Rather FF functionality.

[2018-11-27 07:17] lhorace commented on #1311
Report the issue to Mozilla bugzilla then?

[2018-11-27 09:02] webserviceXXL commented on #473
This really would be a huge improvement for the multi account container. Especially if the path is respected too. Unfortunately so far the path was not considered here in the discussion even though other issues were already closed with a reference to this Issue. Like #976.

[2018-11-27 09:15] falolaf commented on #1311
I believe that would be more appropriate.

[2018-11-27 15:54] chuckadams commented on #719
At the very least, moving or copying the "open in container" menu from tabs to the container button would do a lot for the UX.  In fact, it's exactly the behavior I expected from the button menu in the first place, but I was disappointed to find that all it does is open a new blank tab in the given container.

[2018-11-28 15:22] llostris commented on #1306
It's also invisible in Firefox 63.0.3 which I believe is latest stable version.

[2018-11-29 15:05] falolaf commented on #1311
@dannycolin Sorry for late response. Though, I just meant that that functionality came with a FF upgrade. FF62 perhaps. I don't know if it is available through WebExtensions API.

[2018-11-29 16:20] dannycolin commented on #1311
Are you sure? Because if I deactivate the addon the "reopen in container" option disappear.

[2018-11-29 19:59] sgautrin commented on #1309
I just got the same thing. Now focus in tree style tab keep jumping everywhere because the order shown by tree style tab is completely different than the one in the background I guess. Painful with my nearly 900 tabs opened.

Disabling and re-enabling tree style tab might work, but then i'll probably lose the tabs hierarchy.

[2018-11-29 23:47] Ambient-Impact commented on #1306
I'm also seeing this same issue on both stable and Developer Edition 64.0b14. I only just realized that the checkbox was taking effect but not displaying its state, thought it was disabled for weeks. D:

[2018-11-30 01:09] psylenced commented on #1306
This has been frustrating me too since b64 as I thought I've been unable to edit new sites due to the box being disabled.

Didn't realise it still worked and held state even though it wasn't showing the change visibly.

[2018-11-30 09:41] garywill opened #1312 ""Open link in new container tab -> No container" doesn't work if the link is to the current site which has been set "always open in" current container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected?   no
- Are you using Firefox in a Private Window?  no
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"?  yes
- Multi-Account Containers Version: 6.0.0
- Operating System + Version: Li

[2018-11-30 10:00] falolaf commented on #1311
@dannycolin That seems not to be the case for me. When I open up FF without MAC loaded I do have an option to "reopen in container" . I don't know if it matters but I activate MAC via about:debugging as I have my own slightly modified version, based on latest released version.

[2018-11-30 10:05] falolaf commented on #1311
I can also add that it is enough to set this:
privacy.userContext.enabled
to true in about:config for the menu to be available.

[2018-11-30 13:53] K-Langoso commented on #323
Any news on this front?

Thanks!

[2018-12-03 09:30] mispp opened #1313 "Container workflow change"
I think workflow for containers should be changed. Every time i forget to open a container *before* entering the website. Here is a proposal to address this issue:

1a - enable 'move' from default container to custom container
----------------------------------------------------------------------------
Current workflow:

- open a normal tab
- visit facebook
- remember that facebook does not have i

[2018-12-03 21:04] chuhta commented on #327
I have this issue with Firefox Multi-Account Containers as well on Firefox 63.0.3. I tried this out with a fresh profile and just the one add-on, but I still had the same problem. This is also on Ubuntu 18.04, though I don't know that it makes a difference.

I attached a screen recording of the issue to perhaps help show the nuances if it's not platform or version specific.

![middle-click-contain

[2018-12-03 23:57] Gertbucket commented on #1306
What's the hold up? This is a critical bug.

[2018-12-04 11:32] TriMoon commented on #1228
This info should be added to https://support.mozilla.org/en-US/kb/containers

[2018-12-04 19:20] nhnt11 commented on #1310
+1 on this. Here are two more ways to articulate this issue:
- Add an option to open links in a "no container" tab by default, i.e. make "no container" the default for new tabs, even if coming from a container tab
- Don't "carry over" the container of the current tab, to new tabs opened from links.

[2018-12-04 20:55] hackel commented on #1313
1 - Are you suggesting to blindly copy all cookies, local storage, etc. from the default container into the new custom container?  This seems risky.  The current "Reopen in Container" option makes more sense to me, but I would like to see a "New..." option that would prompt for a container name to create and reopen the current site in.

1b - Cookie AutoDelete supports clearing cookies automaticall

[2018-12-04 21:19] hackel commented on #1291
There is no such thing as container "types."  There are just individual containers.  Each container contains its own set of credentials, so if you want to log in to the same site twice, you must open that site in two *different* containers.  This functionality is working just fine when used correctly.

If this functionality isn't actually working, it is a Firefox issue, not with this extension, so

[2018-12-04 22:34] jbyler commented on #303
I assumed when using the "Clear Cookies and Site Data..." button that only cookies and site data from the current container would be affected.  When I discovered that cookies from other containers were also deleted, it made me wonder if the multi-account containers add-on was actually segregating cookies at all.  After doing some research I believe that the problem is just with clearing cookies, n

[2018-12-04 22:38] jbyler commented on #909
@chiraag-nataraj, where do you see which container a cookie belongs to?  I'm unable to find that information in the `about:preferences#privacy` cookie list (under "Cookies and Site Data" I clicked "Manage Data..." which opened a dialog titled "Manager Cookies and Site Data" that has a list of cookies.)

[2018-12-05 07:58] MurzNN commented on #854
This is not a duplicate, containers are often needed for use two logins on one site. For example, I use 3 gmail accounts and we to have separate bookmarks for each of them, that will open bookmark in needed container.

[2018-12-05 08:39] mispp commented on #1313
1 - no, not blindly copy everything, just things relevant for the visited domain. in other words, move the domain to a container only keeping login active. having an option to name the container is fine, but i'd prefer it to have a step less and just call the container based on the domain
whole point of this is to have logins (and tracking) separated. one login on one location = one container.

1b

[2018-12-05 09:20] klint commented on #854
I agree, this is not a duplicate of #323, as this one is about storing a container information at bookmark level to always open this bookmark in this context **by default** - without further action of the user when he opens the bookmark.
Whereas #323 is about giving the user a way to user to choose the context at the time when he opens the bookmark.

[2018-12-05 10:00] Knorrke commented on #1189
If this helps you: After Ctrl + . you can hit a number key to open a certain tab, e.g. in your screenshot 1 would open Personal, 2 Work etc.

[2018-12-05 10:16] Knorrke commented on #1201
It's also conflicting with Google Docs and Slack. Would be cool to be able to change the shortcut!

[2018-12-05 10:23] internetionals commented on #854
At work I have to be logged in with multiple identities in the same cloud platform. This means that simply assigning that site to a specific container doesn't work. And we also encounter a similar problem when using specific role accounts (separate users for normal and admin work) with web applications.

Allowing a bookmark to open the site in a specific container would allow me to create separate

[2018-12-05 14:37] groovecoder commented on #1306
Most of us maintainers have been in heavy travel & work-week activities but we are planning to fix and release ASAP.

[2018-12-05 14:47] #1271 closed

[2018-12-05 14:48] #1296 closed

[2018-12-05 15:09] #1293 closed

[2018-12-05 18:38] groovecoder opened #1314 "Edit Container panel: "default" favicons render as missing images"
See https://github.com/mozilla/multi-account-containers/pull/1292#issuecomment-444521831

[2018-12-05 18:41] #1285 closed

[2018-12-05 19:09] RedirectCleaner commented on #1310
Don't "carry over" the container of the current tab, to new tabs opened from links, when the link leads to another domain. Opening links with the same domain should stay inside the same container

[2018-12-05 20:00] chiraag-nataraj commented on #909
So...this _used_ to be the case. Then they "revamped" it :rage:. So now you can't even see individual cookies in "Page Info", and they removed the container information in `about:preferences`.

[2018-12-05 20:18] fooditron commented on #1189
That doesn't really help when it comes to selecting a tab container. Also, CTRL + . Does nothing for me. I think perhaps the shortcut is being over ridden by an add-on...

[2018-12-06 05:12] dannycolin commented on #1250
FYI https://addons.mozilla.org/en-US/firefox/addon/open-bookmark-in-container-tab/

You might also be interested to follow the issue #323 for the progress on the feature you're asking for :).

[2018-12-06 07:32] BlackDex commented on #1310
This would be a great feature which i'm also missing.
This would be very useful with gmail or hotmail for instance where you want to have the webmail in the container but not opening the links in the same container, this kind defeats the purpose of containers for me to hide my Google/Microsoft account cookies from other websites.

[2018-12-06 21:59] hackel commented on #1313
The first point is that you cannot predict how a particular site keeps track of login sessions.  Most still use cookies, some localStorage, etc.  You would have to copy everything for it to work reliably.  I agree it would be convenient to be able to do so, but I prefer privacy over convenience.

With first party isolation, there is a separate data store for each domain, so even if a site on googl

[2018-12-07 16:01] JpTiger opened #1315 "[Enhancement] Have containers survive Firefox Refresh"
Hi there, Firefox Refresh is designed to keep your logins etc, but currently it only does that if they are in your default container (not in any container? not sure of the proper terminology). However, since MAC is an extension and refreshing Firefox wipes your extensions, it appears that you wind up losing the logins associated with individual containers and have to build those containers from sc

[2018-12-08 10:32] lestephane commented on #1315
Maybe another way to achieve what you need is to offer the capability to 'clear' or 'reset' the default container, and optionally to disable its use entirely. That's what i would want. I did not create a  new issue, and wrote a comment here instead, because the spirit of what you and I want is the same. The default container is the one you don't want to spend any more time inside of than you have

[2018-12-09 20:17] lvh opened #1316 "Extensions leak state"
Context: we have a consultancy with multiple clients that have to stay separate. I can use Chrome profiles for this easily, and while I generally prefer Firefox, it's always been worse at this because profiles are not as slick as they are in Chrome. I was excited about using Containers for this since it is a very clear example of a contextual identity problem. But I ran into issues because sharing

[2018-12-10 10:04] somethingGoneWrong commented on #1304
come here for the same reason :)
it would be enough an option to activate to be able to show only one container at a time. thx

[2018-12-10 15:12] zi0r opened #1317 "[Feature Request] Ability to assign domains to a container, without visiting the site"
### Actual behavior
Today, you have to open a container, visit a site, assign it to the container.

### Expected behavior
Ability to goto the container edit page, manually add domains to the list.

### Notes
This would allow you to proactively assign sites to a container.  For example, if you know you want to group all of your shopping sites in a shopping container and know that you commonly shop

[2018-12-11 02:34] Knorrke commented on #1189
Sorry, my comment was a response to the issue of @jnachtigall not yours.

Why not? I think that's the only purpose o.O

[2018-12-11 03:16] fooditron commented on #1189
Sorry, i misunderstood your comment! What's more, the CTRL + . shortcut is now suddenly working for me. And you're right, the 1,2,3,4 shortcuts work great! Thanks 👍 :)

[2018-12-11 09:56] GJRobert commented on #976
Editing this file directly works (must quit the browser first), thanks. For example, find the following string in that file like:
```siteContainerMap@@_github.com```
and append subdirectories or other part of the URL to be like
```siteContainerMap@@_github.com/mozilla/multi-account-containers/issues/473```
so to always open this issue in a certain container, while keeping other github.com URLs uns

[2018-12-11 20:08] castillar commented on #1183
Implementing this could fit neatly with implementing issue 1317 (https://github.com/mozilla/multi-account-containers/issues/1317)--the ability to manually add sites or wildcards to a container list would be *enormously* useful.

[2018-12-12 15:30] maverick74 commented on #1304
I was here for the same thing as well.

Would be awesome to have this feature in an official Mozilla addon (conex, apparently is not being updated anymore...)

[2018-12-14 16:09] mothlyme opened #1318 "Strict mode to isolate everything (Always open unassigned pages in the default container)"
For example I have a Google Container and in the search I would open something that is not yet in a container. This site also gets opened in the google container.
Is it possible to implement a setting where you can choose a strict mode where it changes to the default container when a website is not yet in another container?

[2018-12-14 19:01] cpeterso commented on #1306
The checkbox's check is working correctly for me as of extension version 6.0.1. Thanks!

[2018-12-15 12:09] jillesvangurp commented on #1306
Still broken for me with 6.0.1. I'm running the mac version of 65.0b4. I just checked that everything is updated.

[2018-12-16 15:45] luixxiul commented on #1306
This looks solved on the latest beta, 65.0b4.

[2018-12-16 15:47] freaktechnik commented on #1306
Sam, checkboxes work properly again on nightly. Taking the freedom to close this.

[2018-12-16 15:47] #1306 closed

[2018-12-16 17:11] Julianoe commented on #339
Just adding some (probably useless) energy in here to say that any way of syncing even manually a config for containers and site assignments to those would be a real upgrade. I love containers but use many different PCs and setups.

[2018-12-16 17:13] JetseBrouwer commented on #339
Totally agree! A simple import/export function for config files would be already very useful for me!

[2018-12-17 11:49] LoveIsGrief commented on #1065
Done with #1066

[2018-12-17 11:49] #1065 closed

[2018-12-17 12:04] gcollura commented on #1317
I use [containerise](https://github.com/kintesh/containerise), but it would be nice this was included in Containers.

[2018-12-17 19:19] LoveIsGrief commented on #1121
Asking for other addons to make changes to their code because another addon is installed doesn't seem like the correct solution here. That's like being Microsoft and forcing websites to write code to adapt to their browser.

As for the "container-aware" stuff, opening an URL in container "Boohoo" will still trigger the reassignment by MAC. It makes sense too: if I'm in container "private" and clic

[2018-12-17 20:04] mortenn commented on #365
BrowserPicker is fairly browser agnostic, so if each container was registered as a separate browser in windows, there would be no need for special handling in BrowserPicker.
Other applications looking up browsers in the standard windows way would also benefit, and that would include the default browser picker in windows.

[2018-12-17 22:30] deimidis opened #1319 "Two tabs created rather than one"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No:
- Are you using Firefox in a Private Window? Yes/No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No:
- Multi-Account Containers Version:
- Operating System + Version

[2018-12-19 09:21] nunofernandes commented on #365
This feature would be fantastic!

[2018-12-19 22:57] caltheon opened #1320 "Always Open in this container does not work using Google Mail Inbox Bookmark"
### Actual behavior
When clicking on a link in the Bookmarks Toolbar for Gmail, Gmail does not open in the proper container that is set to Always Open in this Container.  The bookmark link in question is https://mail.google.com/mail/u/0/#inbox .  Changing the target of the bookmark to https://mail.google.com/mail results in Gmail opening up in the proper container.

### Expected behavior
Gmail sho

[2018-12-20 00:09] lindboe commented on #365
I would find this very useful. I want to be able to open a website I'm working on in multiple different containers each with a different user account logged in for testing various workflows.

[2018-12-20 21:07] lhorace commented on #1121
While this comment, may or may not add additional discussion to this thread, however I'd like to still highlight one caveat (ref: "container-aware") that this addon is part of Firefox nightly and _may_ reach release build. Addons being container _aware_, perhaps might be something Addon developers should take into consideration.

[2018-12-20 22:50] lhorace commented on #1318
I'm not sure I should open a new issue, but I'd like to extend this issue by suggesting, always open new tabs in a default container? IE, when launching `firefox` or when clicking on the `+` symbol.

[2018-12-21 20:57] MauroMombelli commented on #822
Still present in FF 64.0

[2018-12-21 20:57] hiljusti commented on #1309
I've also made this same mistake (also with tree-style-tabs and containers) and my mitigation now is to just never push that button. That said, an "undo" option if I hit it by mistake would be a life-saver

The ability to _**disable**_ the "Sort Tabs" button in some configuration file or menu would help me out. (This feels like an advanced option that general users do not need). Should I open that

[2018-12-21 21:00] kevgk commented on #1318
I'm looking for that functionality aswell.
Maybe give us an option like "open external links in temporary container".

[2018-12-21 21:11] lhorace commented on #303
I'm a bit dubious using the  '(dis)trust', nevertheless, I agree with the premise of the argument (feature request).

[2018-12-23 10:00] shankargopal opened #1321 "Panel does not open after update to Firefox 64"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.0.1
- Operating

[2018-12-23 15:51] shankargopal commented on #1321
It seems to be completely erratic.  I restarted Firefox several times before posting the above bug - it made no difference.  Some time later, I re-enabled Temporary Containers, and that also made no difference (including after a restart).  But then after some time I restarted Firefox after closing it for some other work, and MAC started working normally again.

This pattern - not working for some

[2018-12-24 00:17] abulgatz commented on #339
Sync would be amazing!

Containers are great, but configuring them on all of my different computers is a major pain.

[2018-12-24 00:42] lhorace commented on #339
Hey @andromedarabbit , does that extension sync?

[2018-12-24 02:03] andromedarabbit commented on #339
@lhorace No, it doesn't. However this extension help you manage containers with plaintext, which makes managing url and container mappings easier. Maybe it might be much easier to add the sync feature to Containerise instead of multi account containers itself

[2018-12-24 11:37] LoveIsGrief commented on #1121
If it's going to be integrated into firefox, I do think that this issue is therefore even more important to resolve.

Possibilities I see:

# 1. @stoically's [proposal](https://github.com/mozilla/multi-account-containers/issues/1121#issuecomment-366522211): query MAC assignments

## Pros

 - mostly independent of MAC addon changes
 - can be implemented differently by any addon
 - no need to wait f

[2018-12-25 00:31] mingchia-andy-liu commented on #1051
Hello, @Sylvia23 @yatri1609, I had a PR up for this issue back on April. I didn't know how the assignment works. I should have asked to be assigned on this issue instead of working on it head straight. If anything, I would still like to merge my PR in once the test is fixed (the original failing is resolved but there is a new one). But if there is a passing PR ready to be merged, I will just close

[2018-12-25 15:40] Llaves commented on #1318
Another vote in favor of this request

[2018-12-26 14:07] mothlyme opened #1322 "Default start page does not always open in selected container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No
- Are you using Firefox in a Private Window? No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? No
- Multi-Account Containers Version: 6.0.1
- Operating System + Version: Win10 1

[2018-12-31 10:36] alex3kov commented on #1282
Please do this. Preferably export everything (containers and URLs assigned to them) to one file - json or whatever.

[2018-12-31 11:54] mothlyme commented on #1307
I can confirm this issue persists in most scenarios tested

[2019-01-01 16:32] ShivangiKakkar commented on #728
@ph0enix49 @mzavattaro I think this issue is no more reproducible.

@ksesong I tried to reproduce your situation: when I left-clicked  _twitter.com/xxx_ page, it was opened in a new window in the twitter container.

- The current tab didn't load the _twitter.com/xxx_ .

- Yes, it doesn't switch the containers in the same window but it opens it in a new window within the expected container.
- The i

[2019-01-01 16:53] ShivangiKakkar commented on #728
@ksesong I tried to reproduce your situation: when I left-clicked  _twitter.com/xxx_ page, it was opened in a new window in the twitter container.

- The current tab didn't load the _twitter.com/xxx_ .

- It does switch the containers and opens the tab in the expected container.

I think your situation is no more reproducible. Can you please check, If so then I can close this issue. Thanks!

@ph0e

[2019-01-02 16:02] ksesong commented on #728
@ShivangiKakkar I confirm that the issue I described is now fixed.

[2019-01-02 16:04] ph0enix49 commented on #728
I confirm that the issue is no longer reproduceable. Closing this.

[2019-01-02 16:04] #728 closed

[2019-01-02 17:16] ShivangiKakkar commented on #728
@ksesong @ph0enix49 Thanks!!

[2019-01-02 20:20] cpeterso opened #1324 "Closing a tab opened by Ctrl+clicking a link will sometimes close both the new and the original tab"
STR:
1. In a container tab, Ctrl+click a link to open the link in a new tab.
2. Switch to the new tab.
3. Close the new tab.

RESULT:
Sometimes Firefox will warn that it is about to close *two* tabs. Clicking OK will then close both the new tab and the original. I see this error about 1-3 times a day.

I don't know if "Always open in $CONTAINER" is necessary, but I've seen the issue with Gmail tab

[2019-01-03 00:34] cypressious commented on #1310
Is this open for contribution? I'd like to take at it.

[2019-01-03 19:06] unity-csang commented on #365
Agreed that this is a feature I'd love to have as well.

[2019-01-04 14:40] #1109 closed

[2019-01-06 10:32] hardhub commented on #1277
Why only cookies?
I think we need options to specify different settings, even plugin settings.

Let's assume I want to use FoxyProxy and use different proxies depending on site.

Why not to make containers as some sort of profiles?

[2019-01-06 13:47] 15495-4 commented on #1277
Mute the threads

[2019-01-06 13:48] 15495-4 commented on #1324
Ok

[2019-01-07 20:21] elamperti commented on #822
For everyone having this issue, follow this steps to fix the issue locally:

1) Close all whatsapp web tabs
2) Navigate to `about:debugging#workers`
3) Unregister all service workers for whatsapp (`ctrl`+`F` "whatsapp" should help you find them)
![screenshot](https://user-images.githubusercontent.com/910672/50791329-41d42400-12a0-11e9-9cb4-4eb3d6553295.jpg)
4) Go to https://web.whatsapp.com/ again

[2019-01-07 20:32] ShivangiKakkar commented on #822
@spastorino @elamperti  I am not able to reproduce this. Is this still reproducible?

[2019-01-07 20:38] ShivangiKakkar commented on #1268
@groovecoder @jonathanKingston I think this should be closed. It is a duplicate of #766 . Can I close this issue?

[2019-01-07 20:38] MauroMombelli commented on #822
Still does not work form me, i have no watsapp worker, and if i right cloick and select open in caontaner XXX, i see it loading for a moment and then it "reload" in the default container.
Smae if i right click on the tab and select "reopen in container", it will always open a new tab but using default container (arch linux, firefox 64.0.1)

[2019-01-07 20:39] elamperti commented on #822
@ShivangiKakkar Yes, I've had this issue up until now with Firefox 64 on Ubuntu, addon version 6.0.1.

The fix I propose is based on the research by @stoically (apr/18) on related issue #101.
This may have been fixed by PR #116, but I can't confirm that.

[2019-01-07 23:13] #1268 closed

[2019-01-07 23:13] jonathanKingston commented on #1268
Thanks for the submission it is however a duplicate.

[2019-01-08 00:01] jonathanKingston commented on #187
Hey @kjozwiak, this looks like this issue is solved, thanks for responding. As always I appreciate the help you gave us on this!

[2019-01-08 00:01] #187 closed

[2019-01-08 02:13] kjozwiak commented on #187
no worries @jonathanKingston! Glad you guys are still working on this here and there!

[2019-01-09 15:50] jugaltheshah commented on #854
Wanted to chime in and reiterate what other folks have said. It would be super helpful to designate a container at the _bookmark_ level, so as to always open a _bookmark_ in an arbitrary container. This enables myriad use cases, like being able to create bookmarks to the same service (e.g. Gmail) for different uses, like Personal & Work.

Being able to assign a URL to always open in a container is

[2019-01-10 00:38] 3nv4r commented on #1210
+1

[2019-01-10 00:39] 3nv4r commented on #1210
Anyone plan work on that one?

[2019-01-11 03:22] Millichrome commented on #323
I am currently using Rob--W's extension (Thanks), would love to have this integrated in the containers feature.

[2019-01-11 14:20] andreapx commented on #1252
Is the option to edit the URL going to be implemented?
I think that it's very useful. I've setup 89 containers last month and I don't know which site is where. I also need to move one website (since when I open gmail.com it loop betweekn 2 containers...ops!) but I can't (well, I'll try with the storage.js and a javascript beautifier)

[2019-01-11 16:27] ddurst opened #1325 "Consider supporting save/restore of individual containers within/from a session"
Referencing https://bugzilla.mozilla.org/show_bug.cgi?id=1512802, I'm filing this here to reflect a desired capability regarding containers, which has a dependency on/interaction with session restore.

If I understand it correctly, the desire is to be able to save and restore individual containers in a session (and from a session), rather than restoring everything. I moved this out of WebExtension

[2019-01-11 17:10] groovecoder commented on #1325
To make sure I understand if/how this would work in MAC ...

When a user views a Container's detail panel in the pop-up ...

![screen shot 2019-01-11 at 11 08 48 am](https://user-images.githubusercontent.com/71928/51048706-50b52200-1591-11e9-8a5d-3907ac5b6fc6.png)

they see a new item (next to the hide & move options) that says "Save Container tabs".

Later, they can view a Container's detail pane

[2019-01-11 17:13] ddurst commented on #1325
My assumption (and I apologize, as I'm not the original reporter) is that that's where the desire is to integrate it with session restore. There's an ongoing conversation about some users wanting more control over session save/restore -- and my read of this is that (some, or these reporting) users would like to be able to choose which containers to restore from a saved session (a saved session whi

[2019-01-11 17:19] lpwarner commented on #1325
@groovecoder So the status quo Show/Hide is currently the equivalent to having an add-on like [Session Manager](https://addons.mozilla.org/en-US/firefox/addon/tab-session-manager/?src=search)? Does it return the session to the exact same state?

[2019-01-11 17:22] w4rner opened #1326 "Default to Open New Tab in Container [New User]"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No:
- Are you using Firefox in a Private Window? No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? No:
- Multi-Account Containers Version: 6.0.1
- Operating System + Version: Mac

[2019-01-11 19:51] groovecoder commented on #1325
@lpwarner No, I wouldn't say the exact same state. Hide simply closes the tabs and stores the urls of them. Show opens new tabs with the same URLs. So there's plenty of state that could change between on either client or server sides - e.g., Firefox user could clear their cookies, or serve could expire sessions, etc.

[2019-01-11 20:01] groovecoder commented on #1325
@ddurst Ah, "which containers to restore from a saved session" does seem like an enhancement request.

The `sessions` API `Session` object already returns `tabs.Tab` objects which contain the `cookieStoreId` value that maps to Containers, but I can't quite tell how all those might fit together to make this possible using just an extension.

[2019-01-11 20:03] groovecoder commented on #1326
I think this is a dupe of https://github.com/mozilla/multi-account-containers/issues/356 - vote and comment there please.

[2019-01-11 21:15] Nehemoth commented on #1325
I would like to see this. Would be very useful.

[2019-01-12 23:30] #168 closed

[2019-01-13 01:00] lpwarner commented on #1325
Thanks!

On Fri, Jan 11, 2019 at 1:57 PM, luke crouch < notifications@github.com > wrote:

[2019-01-13 22:08] tntturtl commented on #1194
Same issue on latest stable build (64.0.2)

[2019-01-14 13:17] amresh1495 commented on #721
Yes, it is an issue even now on Ubuntu.

[2019-01-14 17:56] JohnLGalt commented on #1325
Have to agree, Being able to, at thte very least, actually save (and later restore) individual containers as a group in the session store would be great.

An even better option would be to be able to pick and choose which containers (including all or none) are saved in / restored from the session store.

[2019-01-15 09:50] sakshi97 commented on #945
Hi. I would like to work on this issue.

[2019-01-15 15:59] milezhacks commented on #356
FWIW, I think Chrome nailed this part of the UX with their multi-user mode.  This binds a user to a window rather than a tab but the flow is always more natural.
That said, one way to improve FF's container flow/experience (IMHO) is: if I hit alt/cmd-T to open a tab, it should spawn the same type of tab that I'm currently in.

For me, I'm using containers to mix personal and work activities.  When

[2019-01-16 21:14] #1207 closed

[2019-01-16 21:18] 3nv4r commented on #1210
Can't wait for this to be implemented... please provide some input .. Why can't we assign a domain to more than one container ?

[2019-01-17 08:39] #1176 closed

[2019-01-18 13:43] #1226 closed

[2019-01-20 15:42] #1210 closed

[2019-01-20 15:45] #1214 closed

[2019-01-23 02:21] #985 closed

[2019-01-23 05:43] bhandeland commented on #365
Even having the ability to open an "anonymous" container that only existed for the duration of the tab - on the command line, would be great.  It would provide for some excellent integration into external apps.  Or maybe add a way to put it into a URL as well - like https://anonymous+nouser:nopass@url  where nouser and nopass don't exist.

[2019-01-23 08:59] richa031 commented on #1314
i'm new to open source please help me find the details for this bug

[2019-01-23 17:40] ShivangiKakkar opened #1328 "Bump version and release"
### Adding new version for new release 6.1.0

[2019-01-23 19:59] #1328 closed

[2019-01-27 03:03] skddc commented on #1135
Bump. This is still terrible for developing stuff on localhost. Especially because removing the assignment is also impossible. It doesn't remember when you check "remember this decision" and use the current default container.

[2019-01-27 10:12] possiblyhuman opened #1330 "Searches via search/URL bar open results in wrong container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: **NO**
- Are you using Firefox in a Private Window? Yes/No: **NO**
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: **YES**
- Multi-Account Containers Version: **6.1.

[2019-01-27 15:43] skddc commented on #1135
Maybe we need to reset something manually, when it was set before the fix?

[2019-01-27 17:19] mcomella opened #1331 "On "Open this site in assigned container", current container button doesn't always work"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: No
- Multi-Account Containers Version: 6.1.0
- Operating S

[2019-01-27 22:30] adrianpza opened #1332 "PLEASE ADD THE 1 AND 2 SYNC OPTION,, I HAVE 20 COMPUTESR AND I WANT SYNC CAN ALSO SYNC THE CONTAINERS PRESETED OPTIONS"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No:
- Are you using Firefox in a Private Window? Yes/No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No:
- Multi-Account Containers Version:
- Operating System + Version

[2019-01-28 13:58] frankehlers commented on #854
The same applies for me. I use multiple accounts for Microsoft tools (home, work, university) that need to be clearly separated. It would be really great if I could assign a container to a bookmark and that bookmark opens the page in the appropriate container.
It is important that the container is not assigned to a URL, but to the individual bookmark. It should be possible to have e.g. 3 bookmarks

[2019-01-28 15:40] groovecoder commented on #1332
Duplicate of https://github.com/mozilla/multi-account-containers/issues/339

[2019-01-28 15:40] #1332 closed

[2019-01-29 00:19] tr3buchet opened #1333 "multi account containers breaks sso auth"
Let's say I open a company resource, that page then redirects to company SSO url, which redirects like 2-3 times before landing at the actual URL I opened. I am only able to add the final URL to a specific container by clicking the MAC icon, but I do not get a chance to add any of the intermediary auth URLs to the container.

This results in acceptable behavior when opening a URL from within the c

[2019-01-29 02:52] tr3buchet commented on #1333
additional info found:
there is a json file `/Users/REDACTED/Library/Application Support/Firefox/Profiles/REDACTED.default/browser-extension-data/@testpilot-containers/storage.js`. This file has a ridiculous format, but with some coaxing you can get at the domains and their respective containers, and whether MAC will ask you to open the domain in its container or do so by default.

Sadly, if you e

[2019-01-29 02:58] tr3buchet commented on #1333
I found [a random person's addon](https://addons.mozilla.org/en-US/firefox/addon/containerise/?src=search) called "containerise" that sortof does what I want, but lacks wildcards, is misspelled, and I'd much prefer to use an official mozilla extension given the security implication.

[2019-01-29 03:07] lhorace commented on #1333
This odd, as I've actually transported that file and made changes to it
in the past. As far as `Containerise` is concerned, many people use it,
you could perhaps submit the limations to them to see if they would
implement them?

As far as official support, AFAIK this is still a test pilot program, no
official statement that Mozilla will take it on.

On 1/28/19 9:58 PM, tr3buchet wrote:

[2019-01-29 09:55] bdrtsk commented on #313
Absolutely must-have feature. Without it Facebook containers doesn't make any sense.
Is there any chance this to be implemented? Don't really want to switch back to Chromium profiles...

[2019-01-29 12:54] groovecoder commented on #1331
@nkkumawat - you are welcome to take this one to submit a PR.

[2019-01-29 15:46] samuel-crypto commented on #313
Indeed. I have 99% of the code, just need time for the brush ups. I will
try to to get it this week.

On Tue 29 Jan 2019 4:55 AM bdrtsk <notifications@github.com wrote:

[2019-01-29 19:26] nebulade commented on #382
Just to have the crosslink to the same issue in bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1522131

[2019-01-30 11:05] rahulshw commented on #1227
This a problem for me as well. The SSO auth site or url shortener services redirect immediately before you can move your mouse to the checkbox of "Always open in".

Till this issue is worked around @mastazi 's solution work very well but there is a bit of problem if my url shortner does not have a "." in it(i.e. instead of youtu.be if its just yout), which in my case was. If you type "yout" in the

[2019-01-31 14:02] RealDrGordonFreeman opened #1334 "[Feature Request] Option to prevent unassigned domains from opening within a container"
**This request is for the multi-account container extension to provide an option which restricts a container to select domains, so that no other domains can open within a given container.**

**Example:** A user is logged in to Twitter within a container called 'Twitter' and clicks a link within a Tweet for an external site. Currently, the site will open in another tab within a Twitter container. T

[2019-01-31 14:16] RealDrGordonFreeman commented on #1334
Very similar request here: https://github.com/mozilla/multi-account-containers/issues/1318#issue-391171516

This feature is clearly in demand.

[2019-01-31 14:18] RealDrGordonFreeman commented on #1318
Opened a similar request. A clear demand for this feature!

https://github.com/mozilla/multi-account-containers/issues/1334

[2019-01-31 15:06] pmac commented on #419
For anyone still following along, @stoically (above) has continued to do an amazing job on the "Temporary Containers" extension:

https://addons.mozilla.org/en-US/firefox/addon/temporary-containers/

I also recommend reading the Medium article linked in the addon description. Check out the code here:

https://github.com/stoically/temporary-containers

Mad kudos to @stoically for this extension. Th

[2019-01-31 16:16] zepplen opened #1335 "[Feature Request] Provide way to associate a URL that redirects with a container."
I love the multi-account-containers plugin except for one issue.

I am using it to log into multiple AWS accounts. AWS provides an account specific url to allow you to more easily log into your account. When you hit that url it will re-direct you to the default login page (w/o any account specific information) and set a cookie to allow the login page to prefill your "account name" on the login pag

[2019-01-31 17:19] Julianoe commented on #339
For the second time now since i use containers a bug at update (could be my fault) caused the loss of containers configuration.
This is a real problem even if you don't need a integrated sync across different devices. I feel that any mean of syncing and export / import is mandatory for this extension to become recommendable to a larger audience

[2019-01-31 17:34] groovecoder commented on #1335
I think this is close enough to https://github.com/mozilla/multi-account-containers/issues/719 to close this as a duplicate. If the approach described there doesn't work for you, you can re-open this issue. If it's okay, add a 👍 and/or comment there please.

Duplicate of #719

[2019-01-31 17:34] #1335 closed

[2019-01-31 17:37] groovecoder commented on #339
@Julianoe - we think the implicit "un-install" step during an update can cause Containers to be deleted. But, if you have any other add-on that requires Containers, the "un-install" step should detect that, and shouldn't delete Containers.

Do you have any other add-ons installed that require Containers?

[2019-01-31 19:33] glcjr commented on #1167
This would be a great way to get around the adblock vs. ebates/mrrebates rebate issues.

[2019-01-31 22:56] tr3buchet commented on #1333
interesting. maybe it's weird on osx? I was hopefully editing that file would work, cause then I could write a quick cli interface for it and solve the problem in a jiffy.

[2019-01-31 23:19] lhorace commented on #1333
Making edit's why Firefox is running is bad idea. I'm aware you mentioned that you closed Firefox, but since Firefox is multiprocess, perhaps there was a running process? AFAIK, that's the place where the containers reads it's configuration, unless there was a commit that change the location.

[2019-02-01 00:49] mlncn commented on #1242
We think [Temporary Containers settings are affected by this same bug](https://github.com/stoically/temporary-containers/issues/68)?  It's...  a pretty painful bug.

[2019-02-01 01:01] grahamperrin commented on #809
With 6.1.0 I don't see a _Containers_ context menu item for the page.

Please, am I missing something? (I don't see anything relevant in release notes https://github.com/mozilla/multi-account-containers/releases at a glance.)

[2019-02-01 07:10] hillbilly3456avk commented on #339
a push for this workaround. This would be a step into the right direction

[2019-02-02 15:38] MohamedAbdultawab opened #1336 ""Open link in new contatiner Tab" right click menu option does not appear when right click on links from bookmarks toolbar"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: ubuntu 16.04
- Firefox Version: 65.0

### Actual behavior
"Open link in new contatiner Tab" right click menu option does not appear when right click on links from bookmarks toolbar

### Expected behavior
"Open link in new contatiner Tab" right click menu option appears when right click on links from bookmarks toolbar
### Steps

[2019-02-03 11:44] raulcano commented on #339
Hi everyone, I am also very interested in the sync of containers.  and I´m following this thread for quite some months already. Are there any news on this?

[2019-02-03 12:44] gcrow commented on #339
I love the container concept, but I've stopped using them on any new systems for the reasons above.  Features 1 and 2 are a must.

[2019-02-04 08:17] ShivangiKakkar commented on #1135
@groovecoder @skddc, After pulling the latest release and simulating the exact scenario as described in the issue, localhost:8090 opens correctly in C2. Tried other combinations as well couldn't find a problem, seems like it is solved.

[2019-02-04 14:31] dafeder commented on #854
Agreed - this would be a great feature, and is not a dupelicate

[2019-02-04 19:03] Xorok commented on #949
I've had the same thing happen to me today :/
Accidentally clicked on the regular Firefox icon instead of Nightly and now all my containers are gone...
About 20 or more...

[2019-02-04 19:07] escapewindow commented on #949
https://blog.nightly.mozilla.org/2019/01/14/moving-to-a-profile-per-install-architecture/ ?
If this is the issue, running Nightly should give you your containers back.

[2019-02-04 22:20] Xorok commented on #949
No, it didn't. I had to recreate them.

Regular Firefox still opens with the same profile as Nightly on my machine, the default profile as seen in the profile manager. Probably because I have had several profiles to begin with when this change was rolled out?

How was this change implemented? How can I limit my profiles to Nightly or Release channel? Does it work by passing `-p` on the default sho

[2019-02-05 04:56] smithed commented on #1167
I just found out about this container stuff and this was the very first thing I thought of. So, mostly, +1.

Just to add in some specific use cases in case it helps the cause:
I have a password manager installed, which I use for non-critical sites -- in other words I have my github password in there, but not my gmail (which can be used to reset my github password) nor my bank. However when I log i

[2019-02-05 07:03] tr3buchet commented on #1333
iirc, I command Q'd the whole thing down while i was editing the file.

[2019-02-05 09:40] TimonVS commented on #1194
I'm in the exact same situation as @nocode99. I want my work mail in a container but I'd like GitHub to open in the default container. I was able to configure this using [Containerise](https://addons.mozilla.org/en-US/firefox/addon/containerise/) but it's a bit messy (it opens the tab in a work container first, Containerise quickly closes the tab and opens a new one in the default container) and I

[2019-02-05 12:59] AluisioASG commented on #949
@Xorok when I tested after the upgrade, it looked like each install can have a different default set in its profile manager. Maybe you can fix it that way?

[2019-02-05 19:22] oneEyedCharlie opened #1337 "Where is the changelog?"
No reasonable person should allow automatic updates of software that doesn't even say what it's changing on your system.

[2019-02-06 09:23] musenbaron commented on #1317
maybe it should be integrated into your favorites

[2019-02-06 10:56] wjdp opened #1338 "Save a set of container tabs into a macro or bookmark"
This is feature request to allow opening of a set of tabs open in different containers on command. Is similar to restoring tabs on restart (see #712) but here I want to open a very specific set of tabs on command.

I work on a web app daily. I have at least three tabs set to different containers logged in as different users (the sessions persist). These tabs take a little bit of time to create and

[2019-02-06 20:55] myfreeweb commented on #313
@samuel-crypto with your patch, will it be possible to have the global (main firefox settings) proxy applied in all containers by default + some containers that have their own proxies + **some containers that connect directly** (skipping the default proxy)?

[2019-02-07 00:39] samuel-crypto commented on #313
Not at present.
This behavior can be implemented but it is a much more major reconstruction
of the add-on.
The way I would probably suggest is to create a separate setting for the
'Default' container - allowing people to edit all settings that default
tabs get, and in this editor, one could change the proxy, which then
automatically solves the case when you need everything to be proxified.
Followi

[2019-02-07 12:41] thelaith commented on #323
Any news?

[2019-02-07 12:42] thelaith commented on #1059
Any news?

[2019-02-07 16:18] BrandonWade opened #1339 "Multi-Account Containers menu is rendered upside down with WebRender enabled"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-02-07 17:16] groovecoder commented on #1135
@skddc ah, the code fixed this bug at assignment time. So, I think you'll need to un-assign and re-assign the sites to their containers to fix this.

[2019-02-08 07:37] skddc commented on #1135
How do I un-assign? The re-assigment is exactly what's broken for me.

[2019-02-08 12:29] groovecoder commented on #1135
Click "Edit Containers" at the bottom of the browserAction panel, then click the container name, and you should see a list of the domains that are assigned to the container. When you mouse over one of the domains, a little trash can icon will appear. Click it to delete the assignment.

[2019-02-08 12:58] skddc commented on #1135
Oof, finally found it thanks to your help! :pray:

[2019-02-08 13:52] groovecoder commented on #1135
Glad you found it. Closing this now.

[2019-02-08 13:52] #1135 closed

[2019-02-09 09:11] GonePh1shing commented on #1318
This functionality is already available in the [Temporary Containers](https://github.com/stoically/temporary-containers) extension. However from a usability and security/privacy standpoint this should really be the default behaviour.

[2019-02-09 23:15] renannprado commented on #339
I love the containers too, but now I'm about to format my computer and I'll lose all my configuration :(
That's sad. Is there at least a way for us to backup such configuration and be able to import it into the browser again?

[2019-02-09 23:37] klint commented on #339
Just copy the Firefox profile folder and paste in on your formatted
computer, you'll loose nothing this way. I let you google around to find
out the location of that folder...

Le 10 février 2019 12:15:48 AM Renann Prado <notifications@github.com> a
écrit :

[2019-02-10 00:25] pierlauro commented on #1282
Waiting for an eventual official support, I created a script to export and import containers among different machines.

https://github.com/pierlauro/ffcontainers

[2019-02-10 00:30] pierlauro commented on #339
Waiting for an eventual official support, I created a script to export and import containers: https://github.com/pierlauro/ffcontainers

[2019-02-10 07:24] GonePh1shing commented on #1333
That extension has supported subdomain wildcards since 2.1.0.

If you do use it, just note that the current version (2.5.1) breaks the 'Temporary Containers' extension. The developer of temp containers has submitted a [pull request](https://github.com/kintesh/containerise/pull/49) that has been merged, so this should be fixed in the next release of Containerise.

Also, it's not misspelled. One wou

[2019-02-10 07:53] GonePh1shing opened #1340 "First tab in each new session always opens in the default container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a greyed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-02-11 00:43] jcuenod commented on #1193
I just want to bump this and #303. It's been quite a while with these open and it seems as though whitelisting/blacklisting of cookies per container is a pretty obvious use case for container tabs.

[2019-02-11 18:32] MichaelTunnell commented on #323
@xboss182 not possible, sadly.

@thelaith not really. I don't expect this to ever happen at this point by the official addon since it has been almost 2 years since requested. Our best bet is for a separate addon to be made but that's not happening yet either. @Rob--W addon is nice but doesn't really accomplish the overall goal.

[2019-02-11 18:34] xboss182 commented on #323
@MichaelTunnell thanks mate

[2019-02-11 19:24] Dngrsone opened #1341 "Cannot log into KDE Identities from within a Container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? **No**
- Are you using Firefox in a Private Window? **No**
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? **No**
- Multi-Account Containers Version: **6.1.0**
- Operating System +

[2019-02-14 00:32] ng4ever opened #1342 "How to automatically have two of the same website open in different containers ?"
Basically I have two different login information for the same website.

[2019-02-14 14:28] voidstarstar commented on #469
@wiktorn @pwaring I think you're expected to click :+1: on the original post in order to "vote" for it.

When in a Private Browsing window, if I click the button to create a new tab in a container, I get the following error message:
`Error: Illegal to set non-private cookieStoreId in a private window`

A similar experience appears to be noted here: https://github.com/mozilla/multi-account-containe

[2019-02-14 18:12] seniorm0ment opened #1343 "[Suggestion] Set a default container"
So my suggestion is to have the option to set a default container that all web pages default open in.
So if I have two containers, say "Personal" and "Work". Any new tab I open in firefox, I can set it to open in "Personal" and then if I want to open a work tab, I can manually do that.
(I know there is an option per site, but I'm talking a browser wide default).

This would be good for people who

[2019-02-15 18:40] kevinrobinson opened #1344 "Containers triggering false-positive Content Security Policy violations"
### Context
Firefox: 65.0.1 (64-bit)
Firefox Multi-Account Containers: Version 6.1.0, Last updated: 24 Jan 2019

### Actual behavior
Firefox detects Content Security violations for a site and sends violations to that site's `report-uri` when there are no such violations.  This appears to be coming from something that the Firefox Multi-Account container is doing, since these violations disappear wh

[2019-02-17 17:30] vbrandl commented on #847
Are there any news on this issue? While the Temporary Containers addon kinda solves this, it would be nice to have it
as an per-container setting and configurable in the Multi Account Containers plugin itself.

[2019-02-17 19:04] moz-hwine opened #1345 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/multi-account-containers/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeabl

[2019-02-18 23:25] roothorick opened #1346 "Convert default container to named container"
Relevantly different from the "transfer stuff between containers" outlined in the FAQ; I'd like the ability to convert the default container into a named container, creating a new, "empty" default container its place. All tabs, cookies, history etc. would carry over to the named container and nothing left behind. This shouldn't run afoul of privacy concerns as nothing is ever actually shared betwe

[2019-02-19 08:41] RobertAb1 commented on #1325
SESSION MANAGEMENT AND CONTAINERS:

(1)
Consider assigning different sessions to separate containers
https://bugzilla.mozilla.org/show_bug.cgi?id=1524959
https://bugzilla.mozilla.org/show_bug.cgi?id=1528598#c6
https://bugzilla.mozilla.org/show_bug.cgi?id=1528604#c2

(2)
Consider allowing individual session management of containers
https://bugzilla.mozilla.org/show_bug.cgi?id=1512802

Consider supp

[2019-02-19 23:04] rakoczy commented on #365
While [pjf](/pjf) said in his proposal:

it is not true in general case and could lead to obscure errors (like a consequence of a change in the list of defined containers without an appropriate update of indexes in scripts).

As a profile name can be specified in command line the only logical and consistent way to implement this extremely useful feature is to allow to specify the container by its

[2019-02-20 02:58] collectorgeneral commented on #1242
Same here. I uninstalled TempContainers but to no avail. I lost my container bindings due to a random freeze on my PC. Pretty painful to have to rebind all my sites. Perhaps there should be a way to backup/restore settings just to avoid the painful process of rebinding all the sites.

[2019-02-21 01:54] #1339 closed

[2019-02-21 16:30] MathieuDR commented on #1282
Sadly doesn't work for me. But I used it to manually export it, Lets see if I can import it as well.
Thanks!

[2019-02-21 17:10] pierlauro commented on #1282
Please, open an issue on [ffcontainers' issue tracker](https://github.com/pierlauro/ffcontainers/issues) detailing the problem so I will be able to fix it.

[2019-02-22 20:06] activescott commented on #303
Combined with  #1346 this would be very powerful. I want to allow new sites/pages to open in a default container and only open a site in a container with my cookies in it when I explicitly choose too. Then periodically delete cookies from the default container (or on a policy like every day or on FF close).

[2019-02-25 09:00] DanHarkless commented on #1208
Yes, the lack of the ability to manually or alphabetically sort the containers in the UI has been a great source of irritation to me as well.  Until such a feature gets added, thanks very much, tienkietboi, for the tip on manually editing the JSON file.

BTW, for anyone undertaking this, please note that you will need to make sure all of your sorted userContextId lines have a comma at the end exce

[2019-02-26 15:42] sgtsquiggs opened #1348 "Tab history stack lost when navigating to a container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-02-26 16:32] jonathanKingston commented on #1345
Thanks for the update and making these changes automatically!

[2019-02-26 16:32] #1345 closed

[2019-02-26 23:16] RealDrGordonFreeman commented on #1334
@groovecoder This issue requires attention.

[2019-02-28 18:39] RealDrGordonFreeman commented on #1318
@groovecoder Similar request here.

[2019-03-01 11:46] bloodmandarin commented on #1331
I have a similar issue, but not sure whether it requires a new "issue". I have assigned containers to certain pages, but the corresponding checkmark does not appear afterwards, so I cannot retract that decision anymore.

In other words, I want to disable the automatic sorting after initially having accepted it. How?

![always open in](https://user-images.githubusercontent.com/9247936/53636306-01e6

[2019-03-01 14:29] stoically commented on #1331
Only happens for me (on Linux) with Firefox 66.0b11 (64-bit) Developer Edition - not with Firefox 65.0.1 (64-bit), 66.0b11 (64-bit) Beta or 67.0a1 (2019-03-01) (64-bit) Nightly.

@mcomella Since you seem to be on Nightly could you confirm that this doesn't happen anymore for you with the latest 67.0a1?

The underlying problem when it doesn't work is that `explicitOriginalTarget.id` on the confirm

[2019-03-01 14:39] stoically commented on #1331
@bloodmandarin This seems to be unrelated. Could you please open a new issue with steps to reproduce?

[2019-03-01 15:18] juanibiapina commented on #1264
It does not work for the `Default` container, only other containers.

[2019-03-01 16:17] kevinblumenfeld commented on #1208
**THIS IS 100% UNTESTED!!! DON'T USE THIS!!**
I am just seeing if I could spark interest in something more robust.
Currently, this is just for Windows.
All feedback welcome.

[code]

[2019-03-01 16:37] cgatesman commented on #1331
FWIW, I see this on macOS Firefox Developer Edition 66.0b11.  It mostly happens when loading an external link (outside of the browser into a new tab (e.g. from Slack)) to a website assigned to a container.  If you keep trying the button, it eventually works.  It's like there is just some kind of massive delay populating the targets to those buttons.

[2019-03-01 22:02] DanHarkless commented on #1208
Kevin:  Cool stuff.  I'll add for people who aren't familiar with it that that's a PowerShell script, and you'd manually run it to sort the containers (i.e. this isn't some code you add to a Firefox file somewhere).

[2019-03-01 22:06] kevinblumenfeld commented on #1208
@DanHarkless thank you! and thank you for clarifying that for others!!

[2019-03-02 17:12] kapad commented on #1346
Either this, or simply allow setting certain websites to open by default in the "no container" (i.e. the default container) which is currently not possible.

I very often open links from email (a Google container) that I want to open in the "default" container.

(An example use case for me would be if any one were to comment on this issue. I would get an email from GitHub that I would open in Gmai

[2019-03-03 18:05] ZombieAlex commented on #1236
This is actually even worse than described. Disabling and re-enabling removes all your custom containers but **does not** reset `@testpilot-containers/storage.js` with all site assignments.

`storage.js` pairs domains with containers by a container ID number rather than the container's name.

The two issues combined mean that after I recreated my custom containers in a different order than they we

[2019-03-04 17:49] rkapur-gds opened #1351 "[Feature Request] Option to separate extension data per container"
It would be cool if we could separate extensions configuration per container. There are some containers that I'd like to enable a proxy extension for, but not for all containers.

[2019-03-04 23:19] ZerofeniX commented on #1318
It would be nice if this were an option on a per container basis. Similar to the prior request. I mainly use containers to segregate site that I use that are notorious for tracking me but sites like google I would still like to use. However whenever I use google I'd prefer if the new tabs I start from searching would open in my default container and not the google container.

But this might not be

[2019-03-05 08:28] gilgamesh3 commented on #1343
I'm start using the **multi-account-conteiners** just now and this is a feature I really want and need.

[2019-03-05 16:13] lhorace commented on #1343
Seems like a Dup/Related #1318.

[2019-03-05 16:17] charlieegan3 commented on #1264
Can we reopen this? I'm still experiencing this issue when trying to make a site always use the default container.

[2019-03-05 16:37] lhorace commented on #1264
Hello there,

I think the intended behavior here is, the checkbox becomes available when you open the site !Default container.

[2019-03-05 16:43] charlieegan3 commented on #1264
If that were the case, why does it show 'Always open in Default'?
![screenshot from 2019-03-05 16-41-02](https://user-images.githubusercontent.com/1774239/53821457-bb695500-3f65-11e9-87db-c7765421bad0.png)

[2019-03-05 16:47] ShivangiKakkar commented on #1264
@charlieegan3 @juanibiapina Hey! according to me, this is the desired behaviour anyhow if you open a tab it will open in default so if you wanna assign a particular tab it must be in some container otherwise it will anyhow open in default. Let me know if I am interpreting you wrong. :)

[2019-03-05 16:58] charlieegan3 commented on #1264
So if I'm in a tab of `container A` then usually I want links I follow to also open in `container A`.

However, what do I do when I have a site like github where I have one account rather than multiple? I'd like them to always open in `container Default`.

Maybe there's another way to do this but my instinct is to attempt to set the github site to always `Default` container. Maybe there is no such

[2019-03-05 17:00] lhorace commented on #1264
Totally get the gist here, the workaround would be to specify the container you want to open the link in via Open -> No Container.

[2019-03-05 17:09] charlieegan3 commented on #1264
I think both of those features would be good too but they're slightly different.

* https://github.com/mozilla/multi-account-containers/issues/1318 is close but usually I want followed links to open in the same container. I'm looking for a site-by-site setting instead to override that (there's already a feature for this, but it doesn't work with the default container).
* https://github.com/mozilla

[2019-03-05 17:36] lhorace commented on #1264
Ideally one wouldn't want to use Default container at all, uses Temporary Container here. There's going to be a lot for and against on this particular issue. I feel like that would probably end up in a back pile and never see the light of day. That's my observation about this repository at least. This might not answer your question but have you tried https://addons.mozilla.org/en-US/firefox/addon/

[2019-03-05 18:06] lhorace commented on #1346
A lot of people are sometimes asking for same feature spread across different issues, why I find often, these issues stay stale and never actioned. It would be nice if someone could combine relevant parts into one issue so people can vote for them.

As for OPs post, I am not sure why developers should implement this? Why not simply create a container, assign the site to it, and be done with it? Wh

[2019-03-06 09:36] charlieegan3 commented on #1264
I think this is the issue we need :wink: https://github.com/mozilla/multi-account-containers/issues/1194

[2019-03-06 17:02] ddurst opened #1352 "Containers menu briefly clips... sometimes"
Moving this from https://bugzilla.mozilla.org/show_bug.cgi?id=1529470.

* User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:67.0) Gecko/20100101 Firefox/67.0

### Actual results:
The container menu is clipped for a few seconds. See the attached screenshot: https://bugzilla.mozilla.org/attachment.cgi?id=9045528&action=edit

### Expected results:
The container menu should render perfectly ins

[2019-03-06 20:41] cypressious commented on #1310
I created a standalone extension (https://addons.mozilla.org/de/firefox/addon/container-outgoing-links/) if anyone is interested. It only triggers if the link is opened in a new tab.

I prototyped the behavior in this code base but found the overall code structure very confusing. If anyone is interested, the code is here: https://github.com/cypressious/ff-container-outgoing-links

[2019-03-06 20:52] lhorace commented on #1310
Not bad, though, I wonder the problem with that. If Firefox or MAC make changes, would it break that extension and would you bee keen to maintaining?

Ideally, having this in a PR, would be great. Seems like issues are pilling and not receiving much attention these days.

[2019-03-06 20:56] lhorace opened #1353 "[question] MAC has landed in the Beta release of Firefox, should bugs not be reporting against Bugzilla?"
Hello everyone,

Now that MAC has landed in Beta, somewhat official, and issues are pilling up and not receiving any attention. Are developers time now focused on release, if so, is Github still the spot to be reporting issues?

Regards

[2019-03-06 21:05] cypressious commented on #1310
@lhorace The only thing that I can see breaking is the default container not being named 'firefox-default'. As you can see, there's not a lot of code in https://github.com/cypressious/ff-container-outgoing-links/blob/master/background.js.

I would have liked to make a PR but like I said, the code is not very welcoming to outsiders.

[2019-03-07 05:54] Sdaswani commented on #1352
@ddurst it's not after minimizing necessarily. I have FF Nightly open right now and if I keep clicking the extension it happens periodically.

[2019-03-07 10:44] intellent commented on #847
Would it be a valid option to reset container state for links with target="_blank" or those manually opened in a new window/tab?

So let’s say I’m on Twitter in my Twitter container and I click on an external link in my timeline. FF opens a new tab (forgets about the Twitter container) and opens the site without a specific environment preset. From there on its default behavior: If the new URL belo

[2019-03-07 22:38] terrizgit opened #1354 "Click link from outside FireFox opens either two tabs (assigned container for domain) or default container (domain not assigned to a container)"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-03-08 09:32] franzjschneider commented on #330
Hard to believe it's 2019 and we're still asking for something so simple and such a no-brainer. I keep getting tempted to switch to Brave completely.

[2019-03-08 12:06] falolaf commented on #1353
So, MAC will be part of FF soon? Where can I read more about that?

[2019-03-08 13:53] juanibiapina commented on #1264
So at least the unusable checkbox should not appear.

[2019-03-08 20:12] Z3ROGRAV1TYx commented on #1343
I hadn't seen that I guess just due to the naming scheme. Any clue if there are any plans to implement a feature as such?

[2019-03-10 18:51] cxt666 commented on #339
As I started using MAC extensively:

1. Assignments ==> Yes, please
2. Containers ==> Yes, please
3. Cookies & storage ==> Nice to have, if possible
4. Tabs ==> Nice to have, would need to be somehow integrated with Tab Sync, which probably makes it incredibly complex
5. Mobile ==> No

[2019-03-10 21:50] lhorace commented on #1353
Nothing official 'till release, since it's in Beta and Beta has pre-release features. The overriding assumption here, it's not really a question of if but when? I don't know the track record of Firefox Beta (iron out bugs before) release, if any or all features make it to release (not pulled out at the last minute).

The comment from groovecoder:

https://github.com/mozilla/multi-account-container

[2019-03-11 06:21] kapad commented on #1346
Yes. This works, but it's breaking my usual workflow.

**Consider the following example**

Oooooh, I don't think you even understood my use case. See the example, if you still don't get it, or think it's not a common use case, leave me a comment here.

[2019-03-11 07:02] lhorace commented on #1346
That's why I asked to get a better understanding, the point wasn't to undermined your point but to bring light that there plenty of similar issues on this topic. Just so you know:

This a comment from groovecoder, one of the developers on the project:

https://github.com/mozilla/multi-account-containers/issues/339#issuecomment-434534754.

I would surmise, you'll have better luck submitting a PR or

[2019-03-11 10:38] aman5319 opened #1355 "Firefox Multi-account container icon is not visible on the toolbar bar."
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No:
- Are you using Firefox in a Private Window? Yes/No:  No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating Sy

[2019-03-11 15:20] ite-klass opened #1356 "The development tools Debugger tab ignores container session to load resources"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-03-12 10:21] rainbowdesign opened #1357 "[Feature Request] Save and restore bookmarks to folder"
The idea is to have different "sessions" and save the "session" to bookmarks and restore it from there.

In this modus you get a button for every container.
When you open a container with that button all other open containers are saved to their bookmark folder and all new tabs are open in that container.

The benefit is that you dont need to have many tabs open because you can simply store and man

[2019-03-12 10:47] rainbowdesign commented on #1357
I found an answer that looks similar but i would still suggest to merge the features into this plugin.
Also it seems a vers reoccuring feature request you should find a solution for whis question even its only to mention the other plugin in the description.

--

[2019-03-12 12:06] kapad commented on #1346
Yes. You're right on this. I didn't realize it when I was posting.

My bad for misunderstanding your intent.

[2019-03-12 14:12] JobLeonard opened #1358 "When using "Reopen in container" from tab, "Firefox Multi-Account Containers" sometimes is missing from the context menu"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-03-12 20:25] PabloGrok commented on #1346
I'd like to leave my 2 cents here too. I find this containers extension really nice but sometimes frustrating. My need is to have EVERY website open by default in a named container (my main "online personality") not in a "default" container with no name, no color and no icon, so I guess this is a +1 to roothorick's original post.

[2019-03-13 08:18] fsdjfhadflkjhsd commented on #313
Hi Samuel, I just signed up on github, as I found out about your per-tab-proxy allowing plugin. I hope you will release it soon. Have a great day!

[2019-03-13 18:11] ItsNickBarry commented on #920
Using the !bang features for certain sites (`!tr`) opens three tabs: one empty tab, and two for the site in question.

[2019-03-13 22:38] JetseBrouwer commented on #339
@cxt666 when it comes to point 3, the 'cookie autodelete' extension has an option that can be enabled to work with the containers. When whitelisting a website or domain you can do this globally or for the current container.

[2019-03-14 08:34] kolargol opened #1359 "Container escape when using search engines"
Hello everyone,

Containers are great things but they have severe problem with search engines like google.
When you container "google.com" and keep searches inside container all works as it suppose to - unless you click result link - link is opened in current container making container isolation uneffective...

To workaround it I need to click on every link "Open in (...) no context" - which is so

[2019-03-14 20:56] ryandrew14 commented on #1314
@groovecoder I can't reproduce this, has this been fixed elsewhere?

[2019-03-15 02:50] lhorace commented on #1343
With votes and someone willing to work on it and submit a PR? AFAIK, this repository is in maintenance mode and patches only.

[2019-03-15 14:34] groovecoder commented on #1343
Yes - votes will help us prioritize. And PRs are welcome, but we are currently focused on other projects right now, so we may not be landing an significant changes or features in this project for a while.

[2019-03-15 14:44] groovecoder commented on #1359
I'm closing this as a duplicate of https://github.com/mozilla/multi-account-containers/issues/847, which would effectively solve this issue by letting someone create a google.com-only Container. Please upvote https://github.com/mozilla/multi-account-containers/issues/847 if you like that approach to this problem, or re-open this issue if you think this is different.

[2019-03-15 14:44] #1359 closed

[2019-03-15 17:15] k4ch0 commented on #1201
Indeed, +1 to can configure the shortcut!

[2019-03-15 17:54] #1355 closed

[2019-03-15 17:54] aman5319 commented on #1355
I just didn't know we can get back icons from customizing toolbar section.

[2019-03-15 17:57] knut-hildebrandt commented on #691
Would wish for the support of URLs as well. An use case example is Wordpress. If making changes to a site it would be nice to have the backend in one container while the live site is in another. But after mapping the backend to "work" container the site also always opens in "work" and vice versa. Of course I can temporally choose another container, but making this permanently changes it for the wh

[2019-03-16 19:43] ryandrew14 commented on #1314
Reproduced -- diving into this now.

[2019-03-17 23:45] arashpayan commented on #1331
I just want to chime in and mention that I'm seeing the same problem over the same period as @mcomella described, except that I am on Ubuntu 18.04. More details:
Firefox version: Nightly v67.0a1 (2019-03-17)
OS: Ubuntu 18.04.2 LTS
Multi-Account Containers version: 6.1.0
Other add ons: `Netflix 1080p` and `uBlock Origin`

FWIW, I reset my Firefox profile about a week ago and the problem still remai

[2019-03-18 12:54] JpTiger commented on #365
+1 this request. Loving the containers extension, would love to be able to do things like launch a specific set of sites into specific containers by running one simple script.

[2019-03-18 18:03] trollepierre commented on #1081
Hi, same issue one year later. No update?

[2019-03-18 18:15] trollepierre commented on #988
Hi guys,I would like to reopen this issue, because it doesn't work for me now
Version 65.0.2
<img width="315" alt="Capture d’écran 2019-03-18 à 19 13 18" src="https://user-images.githubusercontent.com/8363334/54553269-1cefe180-49b2-11e9-9997-b1b174288e66.png">

[2019-03-18 18:16] trollepierre opened #1360 ""Always open in" is always disabled"
The "Always open in [container]" checkbox always appear to be disabled. Even when I open a window of the good container. Firefox 65.0.2

<img width="315" alt="Capture d’écran 2019-03-18 à 19 13 18" src="https://user-images.githubusercontent.com/8363334/54553330-3db83700-49b2-11e9-9102-750ed46e00d4.png">

[2019-03-18 18:45] stoically commented on #1081
Starting with Firefox 66 it's possible to reassign keyboard shortcuts on the Add-on overview page.

[2019-03-19 17:47] Rob--W opened #1361 "Opening in assigned container url-decodes parameters"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1535643 for the full report and STR.

I think that the issue is caused by the `decodeURIComponent` call here:
https://github.com/mozilla/multi-account-containers/blob/99db19279225664f943df7c873e01c355c875b26/src/js/confirm-page.js#L3

The parameter is set at:
https://github.com/mozilla/multi-account-containers/blob/c2f2d69ba1685a74335837ec86a0896779

[2019-03-20 07:44] rohitshriwas commented on #822
I had the same issue and the local workaround suggested by @elamperti worked for me on Firefox 65.0.2 (64-bit). Thank you!

[2019-03-20 12:54] spastorino commented on #822
@ShivangiKakkar I'm not having this issue anymore since a while. With whatsapp I'm having a different one but unsure if it's related to containers.

Mainly after cleaning temps, cookies, offline data, everything that it's removable from the clean recent history menu, when I visit whatsapp it shows the QR code, I scan that and get logged in as usual. When I close the tab and at some point in the fu

[2019-03-20 13:05] stoically commented on #822
@elamperti The fix introduced in https://github.com/mozilla/contain-facebook/pull/116 would work for Facebook Container on Firefox >=61, though the WhatsApp domains didn't make it into an official release yet.

It's not that easy to introduce the same fix in MAC, because:

What FC does is
1. Add-on initializes and clears serviceworkers for all contained domains (in all containers)
2. Visiting a co

[2019-03-20 13:56] mikepikefl opened #1362 "Feature Request: optionally set Download Location per container"
Hello folks- I just wanted to add a feature request for an optional container setting to override the Download location.

Thanks!

~Mike

[2019-03-21 18:15] terrizgit commented on #1354
Anyone else had this problem?

Anyone from Mozilla see this?

[2019-03-21 18:15] rubcap commented on #1331
Same issue here, except that I click the blue button on the right to open the tab in the container I choose before.

_Steps:_
1. Open a "Work" container tab.
2. Go to mail.google.com and select the checkbox (in the add-on pop-up menu) to open it in "Work" by default.
3. Close the container tab.
4. Go to the same site (mail.google.com) in a normal, non-container tab.
5. "Open this site in assigned

[2019-03-21 20:59] arashpayan commented on #1331
I should clarify — I see the problem occurring regardless of which button I click. It takes several attempts for either one.

[2019-03-22 03:48] lhorace commented on #1334
Hey there,

Unfortunately, if someone is willing and able to pick up the work and submit a PR, then:

https://github.com/mozilla/multi-account-containers/issues/1343#issuecomment-473309397

[2019-03-22 09:00] lhorace commented on #1354
Hey there,

This seems like the expected behaviour if you opening a link outside of Firefox? It won't open in your currently open container. In fact, AFAIK, any link opened outside of Firefox always opens in a new tab. Though, there might be option somewhere to negate that behaviour, instead open in the current opened tab. Or are you suggesting when you open a link within a container (eg personal)

[2019-03-22 09:33] ricab opened #1363 "[Feature request] list websites associated with container"
Sometimes I want to "always open a website in a container", but choose the container with this other related website. Or I want to check what sites are potentially going to be exposed to this each other in a container.

For that I would have to see what sites I assigned to which containers. I could not find a way to do that today.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.a

[2019-03-22 10:13] lhorace commented on #1363
Hey there,

This could be checked now, albeit obscure, `click on MAC -> Edit Container -> Pencil of the container`, from here you should see a list of assigned sites.

That would be nice, though, may not be human readable, you could have a look at the json file for the time being?

[2019-03-22 10:43] ricab commented on #1363
Ah I see, thanks. Where can I find the json file?

[2019-03-22 10:54] lhorace commented on #1363
`.mozilla/firefox/<profilename>.default/containers.json` and `.mozilla/firefox/<profilename>.default/browser-extension-data/@testpilot-containers/storage.js`. The latter is difficult to read.

[2019-03-22 11:08] ricab commented on #1363
OK, I have `storage.js.migrated` here, which does not seem to have the current session's info yet. But I could indeed see some sites associated with container id's in the second file and then lookup the container ids->names in the first. `clang-format` made it easier to read the jsons :)

I think I'll stick with the first method you proposed. Thank you!

[2019-03-22 11:31] stoically commented on #1363
Starting with Firefox 66 the Add-on storage is automatically migrated to IndexedDB (hence the `storage.js.migrated` file). It's now located in `.mozilla/<profile>/storage/default/moz-extension+++<Internal UUID>^userContextId=4294967295`. The `Internal UUID` for a given Add-on can be obtained from `about:debugging`. A way to get more or less human readable local storage would be:
- Navigate to `abo

[2019-03-22 12:17] groovecoder commented on #1334
Please move upvotes & comments to https://github.com/mozilla/multi-account-containers/issues/1318. We have few opportunities to develop any enhancements or new features for this project, so we like to conslidate all upvotes & comments into as few issues as possible. It will help us prioritize when we have a chance to work on something.

[2019-03-22 12:18] groovecoder commented on #1334
Closing as dupe of #1318.

[2019-03-22 12:18] #1334 closed

[2019-03-22 21:29] terrizgit commented on #1354
Hi lhorace - thanks for commenting :)

I agree it should open in a new **tab** (and it does). Thanks for that distinction - it's a link opened **outside Firefox**. I'll update my original ticket accordingly.

Not exactly. When I click a link **outside** FF, if it's a link (direct or redirected - I just confirmed that and will also update that above!) to a domain I don't have marked "always open in

[2019-03-22 23:54] ItsNickBarry commented on #920
Workaround: set duckduckgo.com to always open in its own container.

[2019-03-29 22:07] Mozilla-GitHub-Standards opened #1364 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-31 10:42] smichel17 commented on #1331
For me, it seems to be that the area around the text saying the name of the current container is not clickable; the rest of the button is. For reference, that's the red square:

![image](https://user-images.githubusercontent.com/6563664/55288054-776d4280-53a1-11e9-9f7f-19060bebfd8f.png)

keyword: confirmation (adding because I searched for "confirmation page" first and this didn't come up)

[2019-03-31 22:23] miahz commented on #339
Just ran into a variation of this issue after using Firefox Refresh on one of my machines. While my tabs and other data were maintained, my Containers were not. And they did not Sync back from my other machine.

A quick fix - aka a "manual sync" that some have asked for – is to copy `containers.json` from the source profile to the target profile, then restart Firefox.

[2019-03-31 22:41] pierlauro commented on #339
By just copying the `containers.json` you would still loose all the `Container -> websites` associations ("Always open site X in container Y").

An effective way of exporting and importing containers safely is using [ffcontainers](https://github.com/pierlauro/ffcontainers).

[2019-04-01 11:24] mcepl commented on #339
Except, will it work now with [storage being in IndexedDB](https://blog.mozilla.org/addons/2019/02/15/extensions-in-firefox-66/), not in storage.js files?

[2019-04-01 20:52] pierlauro commented on #339
The [updated version](https://github.com/pierlauro/ffcontainers) does work with the new storage in IndexedDB.

[2019-04-02 10:17] mcepl commented on #1321
For me it was after upgrade to FF 66.*, but the results looks the same.

[2019-04-02 14:14] cgatesman commented on #1331
This is exactly right!  Here I thought it was some kind of timing issue, but I see now, that it was actually that bolded text that wasn't clickable!  Nice catch!

[2019-04-02 14:32] stoically commented on #1331
@smichel17 Nice catch. It seems that the behavior of `explicitOriginalTarget` changed and now also takes into account elements nested inside buttons.

[2019-04-03 10:12] geotheory opened #1365 ""Open this site in your assigned container" dialogue fails to action on clicking "Open in xxx container""
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No:  NO
- Are you using Firefox in a Private Window? Yes/No:  NO
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No:  YES
- Multi-Account Containers Version: 6.1.0
- Operati

[2019-04-03 10:51] stoically commented on #1365
A workaround is to not click on the bold text on the button, until #1350 gets released.

Duplicate of #1331

[2019-04-03 10:51] #1365 closed

[2019-04-03 20:13] caltheon commented on #323
Someone made an extension to add right-click bookmark->open in container->Container

https://addons.mozilla.org/en-US/firefox/addon/open-bookmark-in-container-tab/

[2019-04-04 10:51] christophgysin opened #1366 "CLI interface to open link in specific container"
I would like to have a way to be able to open a link from the commandline in a specifc container. E.g.:

[code]
Is there a way something like this could be implemented?

I'm happy to contribute if someone can point me in the right direction what is needed to achieve this.

[2019-04-05 02:41] ScraperDave commented on #847
Looking forward to a feature similar to this request.
It holds me back from really getting to use M-A-C.

[2019-04-05 12:47] D219 commented on #1342
One solution would have been #854, but it was closed

[2019-04-05 15:33] francisbarton commented on #1331
I came to this bug report to say "me too" but then I found @smichel17 's solution and I wanted to report that it works for me too (Ff dev aurora 67.0b7 / Windows 10) - it seems like there is a fix! Just need to make the clickable area the same size as the whole button.

[2019-04-05 20:34] larssb commented on #1336
This would be great to get in. Going the long route of:

1. Right click on 'x' bookmark
2. Clicking properties
3. `Tab` to the `Location` field
4. Ctrl+C
5. OS centric key (MacOS == `cmd`) + T, to open a new tab
6. Ctrl+V to insert the copied bookmark URI
7. Hit *Enter* to finally go to the site in a *multi-account-container* you want....

that is cumbersome :-)

Thanks

[2019-04-06 14:10] promeneur commented on #1360
opensuse 15.0
Firefox 66.0.2
Multi-account containers 6.1.0

i confirm this. thus nothing is recorded

[2019-04-06 21:51] trollepierre commented on #1360
however it's been one week since I don't have this problem. But I don't know what I did to fix it...

[2019-04-06 21:54] promeneur commented on #1360
there is no bug but a bad understanding of how to use this extension.

[2019-04-06 22:33] Kobberholm commented on #1341
I cannot reproduce this issue.
I am running KDE Neon 5.15 and Firefox 65 (64 bit) with Plasma Integration 1.4.
When I login, I noticed that it is loading a few fonts from themes.googleusercontent.com, so I figured that might be blocked with the Google Container, but you do not have that and I have tried both with it enabled and disabled.
I would recommend you try creating a blank test profile in F

[2019-04-08 07:42] Kylejustknows commented on #356
I want another kind of "Default Container" which I failed to get. Users can not define rules like wildcard.

I want google.com in Container1(for account reason), but everything else in Container2.
But now all the page I open from google.com(even I open in new tab) will keep using Container1, no way to switch containers automatically, no default container settings.

[2019-04-09 07:14] mewwts commented on #854
+1, not a duplicate.

[2019-04-09 09:44] ReporterX commented on #1208
This feature is still not implemented after two years. Sigh!
There is an extension which can display the containers alphabetically. For those who use a lot of containers, this is great.
https://addons.mozilla.org/en-US/firefox/addon/conex/

[2019-04-10 17:21] pbenedict commented on #1145
The advice here sounds like users should abandon the use of themes. That's pretty incredible. I believe this misses the whole point of the request.

As the extension stands today, the tab's **little** color underline is **hardly** a good indicator of its container. This has devolved into a worse situation since Quantum Firefox, because themes have great freedom to customize colors all over the hea

[2019-04-10 19:59] groovecoder commented on #1145
@pbenedict I'm happy to re-open and start accepting more upvotes and/or comments. I'm also going to change the issue title to be more specific.

[2019-04-10 20:32] joaopsys commented on #339
It's unfortunate that this is not officially supported yet (at least 1 and 2). In the meantime I'm putting my hopes in @pierlauro with https://github.com/pierlauro/ffcontainers!

[2019-04-10 21:28] lhorace commented on #339
Is @pierlauro willing to open PR, proof of concept, at least there could be talked about how this would look like? IIRC, without going through the backlog, I recalled this was a firefox limitation and not necessarily an MAC issue? Perhaps @pierlauro can talk about the road blocks. Waiting on the Mozilla team can take awhile. As indicative on how long this issue has been open.

[2019-04-10 22:22] pierlauro commented on #339
As soon as I will understand how to properly synchronize contents with the new storage solution (problems referenced [here](https://github.com/pierlauro/ffcontainers/issues/3#issuecomment-481717048)), I would rather prepare a generic addons data export/import tool (independent from the addon, working with all the ones using IndexedDB).

That would solve the problem at an upper level as it would wo

[2019-04-10 23:11] mhammond commented on #339
FWIW, some if the issues doing this have been enumerated in https://bugzilla.mozilla.org/show_bug.cgi?id=1288858 - it's far from trivial to do correctly (although quite easy to do poorly)

[2019-04-11 20:37] J-a-n-u-s commented on #822
Solution that works for wire.com at least, disable tracker blocking (e.g. ublock origin). That was the only one I had to turn off to get wire.com to work in it's own container.

[2019-04-12 18:35] WesleyBranton commented on #847
The lack of this feature is the main reason that I don't currently use MAC (other than Facebook container). It defeats the purpose of the feature if I can accidentally open other websites in a container that I'm using for banking.

[2019-04-14 22:58] worldsdream commented on #847
I installed the addon. I thought this feature was in it already. It should be standard that if you add a domain to a container, then it restricts that domain only. If you click on a link or in your favorites bar. It should go to your standard mode. If you click on a link or favorite bar that contains a link that you have setup with another container, then it needs to open that particular container

[2019-04-14 23:34] lhorace commented on #847
@worldsdream What do you use for alternative or you just don't use containers at all?

[2019-04-15 01:59] Aaron-P opened #1367 "Hard coded cookie store id prefix breaks extension functionality on re-branded forks"
- Multi-Account Containers Version: 6.1..0
- Operating System + Version: Trisquel GNU/Linux 7.0

### Actual behavior
Editing a container creates a copy of the expected result and the original container remains.  Removing a container doesn't work.

### Expected behavior
Editing and removing containers should work.

### Steps to reproduce
1. Install a re-branded fork of Firefox such as Abrowser on T

[2019-04-15 06:02] worldsdream commented on #847
@lhorace I dont use any alternative. Firefox for my private stuff. Chrome for gmail, youtube and other Google stuff. As they track everything already. Brave browser for social media. I call it the containers of browsers.

I also can delete the history of that browser and everything related gets deleted. I did not see a delete container history feature.

For example: I want to delete the cookies an

[2019-04-15 07:56] gwarser commented on #847
https://addons.mozilla.org/firefox/addon/container-outgoing-links/

[2019-04-15 13:08] ctgardner commented on #972
I understand the crux of this issue isn't to simply replace functions declared using the `function` keyword with arrow-functions, but to inline named async functions where sensible. I've reviewed all named async functions and I believe none would benefit from being inline, with the exception of a few handlers registered using `addListener`. Given the past confusion surrounding this issue, I believ

[2019-04-15 14:13] Leptopoda opened #1370 "[Feature request] Addon seperation"
Is there a way to seperate addons too?
I would like to use different addons in different containers. Or in my banking container I want every unencryptet traffic blocked (https everywhere) but in my normal container I don't want this.

so is there a way to have different settings of the addons in the different containers??

[2019-04-15 15:46] groovecoder commented on #1370
This is an upstream bug for Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1365019

[2019-04-15 18:18] gliptak commented on #847
The implementation seems to be simple https://github.com/cypressious/ff-container-outgoing-links/blob/master/background.js#L21

[2019-04-16 10:57] 532910 commented on #989
https://developer.mozilla.org/docs/Mozilla/Add-ons/WebExtensions/API/contextualIdentities:

Does it still

?

[2019-04-16 19:17] abawany commented on #1208
It seems that closing Firefox before editing `containers.json` is important. I tried it without doing that and then restarted Firefox. While the containers came up in the suggested order, their underlying cookies/local storage remained associated with the old profile.

[2019-04-17 09:34] serious6 opened #1372 "[Feature request] Search-Engines: Create new temp container when jumping to resource"
This ticket is describing a feature request handling the situation when you have configured a container f.i. google.

### Actual behavior
- Defined a container for a given search engine f.i. google
- query for a random term in google
- click on a given result of the search
- Result: the page will be opened in the same google container

### Expected behavior
- Defined a container for a given search

[2019-04-17 15:25] JohnLGalt commented on #1208
That's why step 1 is to close Firefox.  :)

I am a bit disappointed that there is not a UI to do this already, but the instructions up there are pretty clear, so I'm going to do this myself.

Having a UI would be better, though....

[2019-04-17 15:33] piroor opened #1373 "[Feature request] Sort tabs with less steps"
Currently "Sort Tabs" command moves all tabs always, even if they don't need to be moved:
https://github.com/mozilla/multi-account-containers/blob/6f4d3c43274701e8c166f3ed80e4d453860fd31d/src/js/background/backgroundLogic.js#L278-L286

 * This operation produces too much tab moves. When there are too many tabs (for example, over 1000+) it may take much time.
 * It scrambles tabs unexpectedly and u

[2019-04-17 15:52] JohnLGalt commented on #330
#1347 adds code for sorting alphabetically only, and while this is a step in the right direction, I think we need more.

Since editing the containers.json manually works perfectly, I've done it that way - but would be great to see it in the UI itself.

[2019-04-17 17:54] lhorace commented on #1373
Two things, if you are willing, submit a PR and have the community vote. The latter might not be necessary. I would urge you to tap one of the developers to get them to review it. Right now, from what I understand, developers won't be available to work on MAC till near the end of the year.

[2019-04-17 21:56] franzjschneider commented on #330
After way too long a wait and a struggle to find a replacement, I ditched this extension for Simple Tab Groups. Worth the switch. It's a great extension with a good level of customization, organization, and sorting for groups. Great in combination with SortTabs for also sorting tabs by different criteria.

Simple Tab Groups by Drive4ik:
https://addons.mozilla.org/en-US/firefox/addon/simple-tab-gro

[2019-04-18 01:13] dannycolin opened #1375 "Add Dark Mode for "Open this site in your assigned container?" page"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: **no**
- Are you using Firefox in a Private Window? Yes/No: **no**
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: **yes**
- Multi-Account Containers Version: 6.1.0

[2019-04-18 06:18] vsrawat opened #1376 "container doesn't stuck to https://www.puzzles-mobile.com/"
all other sites open from bookmarks in correct containers,
but container doesn't stuck to https://www.puzzles-mobile.com/

I have assigned this site a 100 times to a gmail id container, but whenever I open, this open in a new non-gmail container. then, I have to open the container first in a new tab, go there, and open this site from bookmarks. The association is showing "always open in default co

[2019-04-18 07:20] piroor commented on #1373
OK, I've created a PR to implement this.

[2019-04-18 16:05] korenavni opened #1378 "Firefox multi account containers"
I have firefox browser with firefox multi-account plugin- I'm running multi tabs with the same site- and wants to know whether the cookies kept separately?

[2019-04-18 16:24] groovecoder commented on #1378
Yes, cookies are kept separately for separate containers.

[2019-04-18 16:24] #1378 closed

[2019-04-18 19:06] nba2 commented on #854
+1, would be a very helpful feature.

[2019-04-18 19:08] nba2 commented on #1342
+1, me and others in #854 would very much appreciate this feature. I just switched from firefox to chrome and it was very easy to have one personal profile and one profile for school that were totally separate. Multi-account containers is very much lacking in comparison.

[2019-04-19 00:15] Aaron-P commented on #1367
So I currently have 3 ideas of how to fix this, and wanted to see if anyone had any input on them.

1. Remove the transforming back and forth of the container id and use it as-is.  This is the most complex solution as the numeric portion of that id is used in a bunch of places, but I would consider it the most 'correct' solution so the id isn't being messed with at all.  One potential downside, wh

[2019-04-20 02:43] T3chminator opened #1379 "Syncronize or move containers to new PC"
I've been using Multi Containers for quite some time now and have many containers for various websites. I recently got a new PC and despite having checked everything to sync Firefox, the containers have not been brought over. Just the Multi-fox extension and other stuff is synchronized.

Any way either manually or otherwise I can bring over all my containers from my old PC?

[2019-04-20 13:14] groovecoder commented on #1379
Duplicate of https://github.com/mozilla/multi-account-containers/issues/339. Please upvote and check comments there.

[2019-04-20 13:14] #1379 closed

[2019-04-20 19:34] T3chminator commented on #339
OK I don't see any real solution but just a discussion. Or maybe there is a solution but has been lost in all the comments. Can anyone tell me if there is a solution to get back all the containers to transfer to the new PC?

[2019-04-20 19:56] gcrow commented on #339
I've ceased active use of containers until the user experience (including
sync) is improved.  Got too much on to maintain the various hacks.

On Sat, Apr 20, 2019 at 8:34 PM T3chminator <notifications@github.com>
wrote:

[2019-04-20 20:36] T3chminator commented on #339
Is there an alternative?

[2019-04-20 20:37] lhorace commented on #339
Unfortunately, there is no solution and if you are following the upstream ticket, the issue is still in discussion how it should look like. Options are, unless someone tackle this or we wait for development time availability which to my understanding is not till the end of the year from the moz-team. :(

[2019-04-20 20:38] pierlauro commented on #339
@T3chminator I've been quite overwhelmed lately, fixing this is still in my
backlog.

On Sat, 20 Apr 2019, 21:34 T3chminator, <notifications@github.com> wrote:

[2019-04-22 08:41] Leptopoda commented on #1370
so I can close this issue??

[2019-04-23 13:30] echosa opened #1380 "Very often I'm unable to click the buttons to open a page either in the current container or its assigned container"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: Yes
- Multi-Account Containers Version: 6.1.0
- Operating

[2019-04-23 13:35] stoically commented on #1380
A workaround is to not click the **bold** container name in the buttons. Open PR to fix this is #1350.

Duplicate of #1331.

[2019-04-23 13:35] #1380 closed

[2019-04-23 14:54] ReporterX commented on #1370
You don't have to.

FYI, you may create different profiles to achieve this.
https://support.mozilla.org/en-US/kb/profile-manager-create-and-remove-firefox-profiles

[2019-04-23 23:44] srlennon opened #1381 "Container Preference Synchronisation"
Would it be possible to have your preferences for containers synchronised across all devices using Firefox. For example I setup a number of websites to always use certain containers (Personal, Work, Banking) when they open and I would like these preferences to sync across devices so I don't have to manage them all in multiple places.

[2019-04-24 00:15] groovecoder commented on #1381
Sounds like a dupe of https://github.com/mozilla/multi-account-containers/issues/339. Upvote & comment there.

[2019-04-24 00:15] #1381 closed

[2019-04-24 01:48] srlennon commented on #1381
My bad, my search for whatever reason failed to find open issue 339. #339 covers this and more.

[2019-04-24 16:07] ALink2ThePast opened #1382 "[Feature Request] Allow "Delete cookies and site data when Firefox is closed" to be container specific"
Some of my containers are set for productive things I'd like to stay logged into, others I'd like to see automatically delete cookies and site data whenever I close FF.

The "Delete cookies and site data when Firefox  is closed" setting is great but it would be even better if I could have it only apply to site data associated with containers that I specify.

[2019-04-24 16:08] Toldry opened #1383 "[Feature Request] Cotainer Window"
Opening an entire window of container tabs, such that when opening a new tab from this window (for example by pressing the shortcut `CTRL+T`), the new tab is automatically assigned to the same container as the source tab

[2019-04-25 05:12] falolaf commented on #1382
I belive that you can do that with:
https://addons.mozilla.org/sv-SE/firefox/addon/cookie-autodelete/
You can set it to be container aware and then add domains to the "greylist", per container. Hope that will work for you.

[2019-04-25 16:21] WorldsEndless commented on #1383
This would be very nice. IIRC, there was a separate plugin that offered this but without the benefit of tabs. This is essentially the Firefox Profile functionality.

[2019-04-27 14:49] JohnLGalt commented on #330
Simple Tab Groups looks great - if you simply want different tabs.  This bullet item under current functionality seems especially interesting:

Added support of "Firefox Multi-Account Containers"

I wonder if that means that the full functionality of MAC is there, including isolated credentials, history, etc.

I'll definitely take a look at it.  Thanks!

[2019-04-27 14:51] JohnLGalt commented on #1208
Caveat - after reordering, any container that had sites already logged in had to relogin.  But every container still works perfectly fine.

[2019-04-28 04:06] franzjschneider commented on #330
No problem. And while I haven't personally used the isolated credentials, it looks like you can use this extension with containers under Preferences > General > Tabs > and then check "Enable Container Tabs." You can then add containers by clicking Settings... next to that check box.

For managing memory, here's another extension that works well with Simple Tab Groups for suspending idle tabs. It u

[2019-04-28 10:21] oryband commented on #1318
It is very confusing to set this up in in that add-on. I haven't succeeded in doing so up till now. I agree this should be the default behavior.

[2019-04-29 20:43] RealDavidoff opened #1384 "[Feature Request: Simple"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No:
- Are you using Firefox in a Private Window? Yes/No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No:
- Multi-Account Containers Version:
- Operating System + Version

[2019-04-29 20:53] RealDavidoff opened #1385 "[Feature Request: Simple] Open new tab always next to current"
This is my review because I love it: https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/reviews/1325378/

So I thought you forgive me if I make a suggestion for further improvement?

Currently, when clicking a link opens a new tab, the tab
- either jumps two three positions further right (jumps yes, like it can't decide where it want itself to open)
- or, even worse, the new t

[2019-04-30 13:04] NavdeepD2 opened #1386 "History is still visible in default, which was searched in containers, why ?"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: **No**
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: **Yes**
- Multi-Account Containers Version: **6.1.0**

[2019-05-01 15:30] #1384 closed

[2019-05-01 15:43] RealDavidoff opened #1388 "[Issue] Selection to open in which container has more errors than reported"
What I mean by "more errors than reported":
Both of these topics
https://github.com/mozilla/multi-account-containers/issues/1312
https://github.com/mozilla/multi-account-containers/issues/1222

Plus now mine, relate to the same issue IMHO. Because in addition to the other two I can also report a repetitive error for THIS situation:

- Twitter has assigned container, but is NOT set as default
- in

[2019-05-01 16:05] RealDavidoff commented on #1388
----
Brief update:
- 61 tabs are open, in case it matters (but almost all "auto tab discarded")
- and: I just found a WORKAROUND that *sometimes* works (I tried 5 times, twice it worked):

1) open new tab
2) click the "multi account containers" icon
3) now instead of clicking your new container, click the arrow to the right of it
4) then click that entry "multi account containers confirm" that sho

[2019-05-01 16:05] #1388 closed

[2019-05-02 10:46] monkeydri opened #1389 "tab close - switch back to last tab in current container"
It is annoying when it switches back to a different container than the current one on tab close, especially when the tab bar is hidden, it would be nice to have an option to change this behaviour.

To explain it better it is Firefox default behaviour to switch back to last created tab when current one is closed, but with containers it could be nice to have an option to switch back to last created

[2019-05-03 16:51] RealDavidoff opened #1390 "[Issue] delete container specific cookie"
This issue is not like https://github.com/mozilla/multi-account-containers/issues/1382 which is a feature request.

Instead I am reporting an actual issue IMHO:
- website allows multiple accounts (pinterest)
- am logged in, in one container
- want to log in in different container
- check cookies

1. seeing cookie updates that time-wise cannot be true (tab is discarded per other extension, or even

[2019-05-04 00:32] wjessop commented on #949
Just lost all my containers. Seems one of the Firefox windows crashed and now there is no option to use or create containers. Restarted Firefox, still no options.

[2019-05-04 02:12] MostHated commented on #1201
I have been trying to find them but have yet to see anything. Are there any additional hotkeys? I would love to see something like, ctrl + alt + 1 opens a new tab for container 1, ctrl + alt + 2 opens a new tab for container 2 (just examples of course).

[2019-05-04 05:16] Jugale opened #1391 "Extension is considered "legacy""
Today, both Firefox Quantum and Firefox Developer Edition disabled this extension:

<img width="1079" alt="image" src="https://user-images.githubusercontent.com/2460248/57174190-13e1a380-6e7e-11e9-8c69-89c0635ce901.png">

The "More Information" link goes to the page http://mzl.la/1J7Lcsp
It seems that this extension needs to be signed in order for it to be available again? I attempted to re-instal

[2019-05-04 05:19] MikuAuahDark commented on #1391
Can confirm. Firefox just show warning that the addon is disabled a few minutes ago as of writing.

This should be high priority issue, I don't want to lose all cookies in the container.

[2019-05-04 05:23] calvinbay commented on #1391
Same prob here just happen today >>> add-on could not be verified for use in Firefox and has been disabled.

[2019-05-04 05:34] MikuAuahDark commented on #1391
It seems to happen on all extensions that was previously developed for Test Pilot. Which means, Firefox Side View and Firefox Color also affected.

[2019-05-04 05:54] Mhynlo commented on #1391
Looks like the Firefox team is tracking the issue here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1548973

[2019-05-04 06:19] subinraju90 commented on #1391
Hope it gets resolved soon

[2019-05-04 08:27] NavdeepD2 commented on #1386
Anyone ????

[2019-05-04 09:37] tleveille opened #1392 "config lost after mozilla's armagadd-on-2.0 debacle"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No
- Are you using Firefox in a Private Window? No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Fedora

[2019-05-04 09:53] demoklion commented on #1391
Here's a temporary workaround:

[From mozilla's website](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Distribution)

[2019-05-04 10:39] stoically commented on #1392
Sorry about your containers.

Duplicate of #864

[2019-05-04 10:39] #1392 closed

[2019-05-04 10:40] stoically commented on #1391
This is due to an expired certificate in Firefox itself. As stated by @Mhynlo, please follow https://bugzilla.mozilla.org/show_bug.cgi?id=1548973 to track progress.

[2019-05-04 10:40] #1391 closed

[2019-05-04 10:48] stoically commented on #1390
You could open the Developer Tools (Menu > Web Developer > Toggle Tools or Ctrl+Shift+I) and select Storage. There you can see the cookies which are set in the currently loaded container and website.

[2019-05-04 10:56] stoically commented on #1386
History isn't aware of containers yet.

Platform bug is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1283320

Marking as duplicate of https://github.com/mozilla/multi-account-containers/issues/1233

[2019-05-04 10:56] #1386 closed

[2019-05-04 10:58] stoically commented on #1385
Glad you like the Add-on.

Closing this as duplicate of https://github.com/mozilla/multi-account-containers/issues/1030 - please vote there. Thanks!

[2019-05-04 10:59] stoically commented on #1383
Closing as duplicate of https://github.com/mozilla/multi-account-containers/issues/943 - please vote there. Thanks!

[2019-05-04 10:59] #1383 closed

[2019-05-04 11:04] stoically commented on #1307
Duplicate of https://github.com/mozilla/multi-account-containers/issues/822

[2019-05-04 11:04] #1307 closed

[2019-05-04 11:04] stoically commented on #1376
Duplicate of https://github.com/mozilla/multi-account-containers/issues/822 - please vote there. Thanks!

[2019-05-04 11:04] #1376 closed

[2019-05-04 11:05] stoically commented on #1375
Add-ons can't detect the currently activated theme in Firefox. So this would need a setting in the Add-on.

[2019-05-04 11:07] stoically commented on #1372
Duplicate of https://github.com/mozilla/multi-account-containers/issues/929 - please vote there, thanks!

[2019-05-04 11:07] #1372 closed

[2019-05-04 11:09] 11MAJ11 opened #1393 "Lost the add-on after firefox update!"
Hi

after my Firefox got updated, the container add-on became obsolete and unsupported.

Now I lost all of my containers that I can't live without.

What to do now?

[2019-05-04 11:10] stoically commented on #1393
This is due to an expired certificate in Firefox itself. Please follow https://bugzilla.mozilla.org/show_bug.cgi?id=1548973 to track progress.

[2019-05-04 11:10] #1393 closed

[2019-05-04 11:10] #1364 closed

[2019-05-04 11:15] stoically commented on #1360
This is expected behavior since it's not possible to assign "new tabs" to a container. You can only assign websites to containers, no internal Firefox pages.

[2019-05-04 11:15] #1360 closed

[2019-05-04 11:17] stoically commented on #1358
Can't unfortunately reproduce the issue. The context menu is always present after reopening for me.

[2019-05-04 11:20] stoically commented on #1357
This would need bookmarks to be aware of containers.

Duplicate of https://github.com/mozilla/multi-account-containers/issues/323 - please vote there.

[2019-05-04 11:20] #1357 closed

[2019-05-04 11:31] ialima opened #1395 "After the certificate issue disabled the extensions, the containers were reset to default"
Lost everything.
Issue: https://discourse.mozilla.org/t/certificate-issue-causing-add-ons-to-be-disabled-or-fail-to-install/39047

[2019-05-04 11:32] stoically commented on #1395
Sorry about your containers.

Duplicate of #864

[2019-05-04 11:32] #1395 closed

[2019-05-04 11:39] ialima commented on #1395
Sure it's the same question? There the problem seems to be about tabs that were closed when deactivating the extension. Not about containers reset after disabling forced by a failure of Mozilla itself.

[2019-05-04 11:43] stoically commented on #1395
The underlying problem is the same - the tabs are closed because the containers are removed upon deactivating the last Add-on with container permissions (contextualIdentities).

[2019-05-04 11:44] stoically commented on #1354
Can't reproduce myself and like stated by OP the cause seems to be another Add-on. Please let me know if you can reproduce it with just MAC. Thanks.

[2019-05-04 11:44] #1354 closed

[2019-05-04 11:46] stoically commented on #1353
AFAIK MAC will not be pre-installed with Firefox - so MAC related bugs should still be filed here; though container-feature (contextualIdentities) specific bugs belong on bugzilla.

[2019-05-04 11:46] #1353 closed

[2019-05-04 11:46] stoically commented on #1356
This is not something that can be fixed in the Add-on. You might want to report this to [bugzilla](http://bugzilla.mozilla.org/).

[2019-05-04 11:46] #1356 closed

[2019-05-04 11:48] stoically commented on #1352
Unfortunately I'm unable to reproduce.

FWIW, I've seen this sporadically happen with other Add-on popups too, which might point to an underlying Firefox issue.

[2019-05-04 11:50] stoically commented on #1351
Duplicate of https://github.com/mozilla/multi-account-containers/issues/309 - please vote there.

[2019-05-04 11:50] #1351 closed

[2019-05-04 11:53] stoically commented on #1348
This is due to how MAC works under the hood. When navigating to an assigned website a *new* tab, with new history is created. You still have the history in the old tab though.

To support this, something like https://github.com/mozilla/multi-account-containers/issues/1029 would be needed.

[2019-05-04 11:53] #1348 closed

[2019-05-04 12:00] stoically commented on #1346
Transferring storage from one container to another would need Firefox support - but since this has a high risk of compromising privacy, it is out of scope for MAC.

As for the always open all websites in a specific container, the Containers with Transitions Add-on might be able to achieve that.

[2019-05-04 12:00] #1346 closed

[2019-05-04 12:01] ialima commented on #1395
Is that my problem has no relation to the tabs, but okay, I think I understood that the mechanism that closes the tabs is the same that resets the containers, when the extension is disabled.

It's a problem that should get more attention from developers. From scratch, lose all containers and logins saved, no way to recover... It is a very unpleasant thing.

[2019-05-04 12:02] stoically commented on #1344
Thanks for the report. This can't unfortunately be solved by the MAC Add-on - please consider opening a [bugzilla](http://bugzilla.mozilla.org/) issue instead.

[2019-05-04 12:02] #1344 closed

[2019-05-04 12:03] RealDavidoff commented on #1390
The idea is great yet impractical:
- users seek not to see, but need to see and delete container specific cookies
- many users can handle browser options (some not even that) but none can handle developer tools
- and users see no need to, unless they are ... developers.
;-)

So no, what's needed instead is a simple UX to see and delete container specific cookies under browser options.
Easiest: rig

[2019-05-04 12:06] stoically commented on #1318
Duplicate of https://github.com/mozilla/multi-account-containers/issues/847 - please vote there. Thanks!