[2019-05-04 12:06] #1318 closed

[2019-05-04 12:07] #1165 closed

[2019-05-04 12:08] stoically commented on #1390
Although I'd agree with that, managing of cookies in Firefox was simplified and which even removed inspecting single cookies - so I doubt that it'll get implemented in Firefox anytime soon.

[2019-05-04 12:09] RealDavidoff commented on #1385
No, is not duplicate, has nothing to do with that.
#1030 is about reverse order
Mine is about haphazard/random distribution of new tabs.

It appears the full ramifications of opening new tabs haven't been considered for all use cases (version, extensions, whatever).

Reverse order?
That would be a joy. Compared to now.

Again: Logical - and simplest for developers - is: open any new tab RIGHT NEXT

[2019-05-04 12:13] stoically commented on #1342
Duplicate of https://github.com/mozilla/multi-account-containers/issues/1171 - please vote there. Thanks!

[2019-05-04 12:13] #1342 closed

[2019-05-04 12:14] voidstarstar commented on #469
It looks like this depends on this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1320757

This issue specifically talks about permanent private browsing mode, but I see no reason why this shouldn't be permissible for regular private browsing mode too.  Most use cases for permanent should also apply to non-permanent.

Non-permanent private browsing example:
A user has 3 websites (A, B, and C) t

[2019-05-04 12:18] stoically commented on #1385
Ah, ok, I've misunderstood. Unfortunately I'm unable to reproduce. For me assigned domains always open next to the current tab. Could you provide specific steps to reproduce (which domain, where/how to click links)? Also please make sure that you don't have other Add-ons installed that could be the reason for that to happen.

[2019-05-04 12:20] stoically commented on #1341
The MAC Add-on doesn't interfere with requests on the same domain if you're already in a container. So if this is a reproducible issue for you, it would need to reported to the [bugzilla tracker](http://bugzilla.mozilla.org/).

[2019-05-04 12:20] #1341 closed

[2019-05-04 12:25] stoically commented on #1366
Duplicate of https://github.com/mozilla/multi-account-containers/issues/365 - please vote there. Thanks!

[2019-05-04 12:25] #1366 closed

[2019-05-04 12:25] stoically commented on #1340
Duplicate of https://github.com/mozilla/multi-account-containers/issues/474 - please vote there. Thanks!

[2019-05-04 12:25] #1340 closed

[2019-05-04 12:30] stoically commented on #1338
Having a "macro", or "group of websites", open in a specific container is out of scope for the MAC Add-on, but could be achieved by an stand-alone Add-one, marking the issue as such.

Opening a bookmark folder in a container would need https://github.com/mozilla/multi-account-containers/issues/323

[2019-05-04 12:31] stoically commented on #1336
Duplicate of https://github.com/mozilla/multi-account-containers/issues/323 - please vote there. Thanks!

[2019-05-04 12:31] #1336 closed

[2019-05-04 12:35] stoically commented on #1333
Duplicate of https://github.com/mozilla/multi-account-containers/issues/719 - please vote there. Thanks!

[2019-05-04 12:35] #1333 closed

[2019-05-04 12:38] stoically commented on #1330
This is working as expected. If you assign a website to always open in a container, exactly that should happen, regardless of where you're coming from.

[Containers with Transitions](https://addons.mozilla.org/firefox/addon/containers-with-transitions/) might achieve what you're looking for.

[2019-05-04 12:38] #1330 closed

[2019-05-04 12:42] stoically commented on #1324
This is not something that can be fixed in the Add-on since it's native Firefox behavior and would rather need a ticket on bugzilla.

[2019-05-04 12:43] stoically commented on #1322
Duplicate of https://github.com/mozilla/multi-account-containers/issues/474 - please track progress there, Thanks!

[2019-05-04 12:43] #1322 closed

[2019-05-04 12:44] stoically commented on #1321
This also happens for me with other Add-on popups, so it seems that it's not MAC specific.

[2019-05-04 12:46] stoically commented on #1320
The underlying issue here is that gmail loads a serviceworker, so marking this as duplicate of https://github.com/mozilla/multi-account-containers/issues/822 - please track progress there, thanks.

[2019-05-04 12:46] #1320 closed

[2019-05-04 12:47] stoically commented on #1319
Unfortunately I'm unable to reproduce this.

Please make sure that you don't have other Add-ons installed that might cause this behavior.

[2019-05-04 12:47] #1319 closed

[2019-05-04 12:49] stoically commented on #1317
Duplicate of https://github.com/mozilla/multi-account-containers/issues/719 - please vote there. Thanks!

[2019-05-04 12:49] #1317 closed

[2019-05-04 12:51] stoically commented on #1316
Duplicate of https://github.com/mozilla/multi-account-containers/issues/309 - please vote there, thanks!

[2019-05-04 12:51] #1316 closed

[2019-05-04 12:56] stoically commented on #1311
Thanks for opening the bugzilla ticket. Closing as this can't be solved in MAC.

[2019-05-04 12:56] #1311 closed

[2019-05-04 12:57] stoically commented on #1312
This is working as expected. If you assign a website to "always open in" and "remember my choice", it should always open the site in that container, regardless of the "open in new container tab" selection.

[2019-05-04 12:57] #1312 closed

[2019-05-04 12:58] stoically commented on #1310
Duplicate of https://github.com/mozilla/multi-account-containers/issues/847 - please vote there, thanks!

[2019-05-04 12:58] #1310 closed

[2019-05-04 13:22] zeorin commented on #719
The fact that [an extension exists that does exactly this](https://addons.mozilla.org/en-GB/firefox/addon/containerise/) is pretty strong proof it's a widely desired feature. Be nice if it was official Mozilla, though.

[2019-05-04 13:55] possiblyhuman commented on #1330
@stoically

I set startpage.com to always open in its own container, but the above steps make it so it doesn't open in its own container.

This sounds contrary to what you said should happen.

[2019-05-04 14:00] stoically commented on #1330
In your STR you wrote `The search results should open in the current tab, even though that tab is not in the correct container for startpage.com.` - which I understood as you want it to open in the current container instead of the assigned container.

If you instead meant, that in this case the startpage results are not opened in the assigned container, then I'm unfortunately unable to reproduce -

[2019-05-04 14:05] dannycolin commented on #1375
@stoically according to the doc there's a theme.getCurrent() (see : https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/theme).

[2019-05-04 14:10] tigny commented on #1393
indeed. a lot of add-ons are "unsupported" currently...

[2019-05-04 14:12] stoically commented on #1375
That unfortunately doesn't give you the information whether the "default", "dark" or "light" theme is activated, just some [metadata](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme).

[2019-05-04 14:13] possiblyhuman commented on #1330
Yeah, I wrote in the STR what actually happens. The Expected Behaviour is what should have happened.

But, if it's working for you, I don't know. I'm still getting the issue my end. Maybe some edge-case with my setup.

I changed stuff to work-around the issue, so it's no longer a problem for me anyway.

Cheers for checking though.

[2019-05-04 14:14] voidstarstar commented on #469
@jonathanKingston I just realized that you were the author of [a patch for this](https://phabricator.services.mozilla.com/D11453).  Maybe I'm misunderstanding your patch, but it looks like it is trying to allow containers to work in private windows when `permanentPrivateBrowsing` is enabled but not work in private windows when `permanentPrivateBrowsing` is disabled.  Is there a reason why containe

[2019-05-04 14:19] dannycolin commented on #1375
@stoically that's enough information to guess if the theme is a light or dark one by calculating the contrast ratio. This is exactly how the Firefox devs have implemented the `prefers-color-scheme` on Linux. :)

[2019-05-04 14:21] sbssk8 commented on #949
Same, today I lost all my containers. I had about 14 containers and now I just have Personal, Work, Banking and Shopping. Strang that work still keeps my hidden tabs but got the original name "Work" and I lost all my cookies.

[2019-05-04 14:41] Tithen-Firion commented on #1236
Now with [armagadd-on-2.0](https://bugzilla.mozilla.org/show_bug.cgi?id=1548973) this issue affected many people. Any plans to change the current behaviour?

[2019-05-04 15:00] AdKiller commented on #1236
I have a creeping feeling that after today's sh*t show with certificate signing that disabled all Firefox add-ons across all platforms, the settings of this addon will be reset again. (thankfully I have backups that I can dig out).
https://www.ghacks.net/2019/05/04/your-firefox-extensions-are-all-disabled-thats-a-bug/

Firefox containers is the best feature that Mozilla has created in a long time,

[2019-05-04 16:14] LeLobster commented on #1395
Where is the cookie data stored? I have a backup of my profile from a month ago and would like to restore the containers but I can't find where the container cookies are stored.

[2019-05-04 16:15] ramast commented on #1395
So this problem has affected virtually every user of firefox containers today. With no warning of any kind.
I understand this is open source and is provided as is but is there really no solution whatsoever to this? Have I really lost all my containers and all saves sessions of all websites ?

[2019-05-04 16:19] ramast commented on #864
So this problem has affected virtually every user of firefox containers today. With no warning of any kind.
I understand this is open source and is provided as is but is there really no solution whatsoever to this? Have I really lost all my containers and all saves sessions of all websites ?

[2019-05-04 16:20] stoically commented on #1395
@LeLobster They are in `storage/default/<scheme>+++<website-url>^userContextId=<container-id>`

@ramast If you don't have a backup of your profile then the container data is unfortunately gone. IMHO it'd be great if containers would behave like Add-ons and only delete data if the Add-on is actually removed, not just disabled.

[2019-05-04 16:24] 3j9fkyahunqoxwqu commented on #864
Hi
i don't know about addon developing but may be a way to backup/restore containers also be a great workaround for this issue if it is hard to fix or impossible due to APIs or ...
Thanks

[2019-05-04 16:32] LeLobster commented on #1395
@stoically Would I need to copy over something else besides
[code]
and `storage/default/....` for the previously containered domains?
I've restored all those files from backup but I still get a login prompt, though all containers and their settings are successfully restored.

[2019-05-04 16:37] stoically commented on #1395
Sounds about right, though I've never tried manually restoring container data that way. Do you see your containers in Firefox? And opening an "old" container gives you a login page though the cookie should be there?

[2019-05-04 16:38] LeLobster commented on #1395
Exactly, all the containers with their correct icon and name are there. Even whitelisted websites open in their previously selected container. It's just not "reading" the cookies because I'm not logged in anywhere.

[2019-05-04 16:42] stoically commented on #1395
Maybe the storage needs to be referenced in some internal db somewhere then. I'm afraid I'm unable to help here. Only alternative that comes to mind is restoring the whole old profile and porting "missing" data from the new profile to the old one.

[2019-05-04 16:56] LeLobster commented on #1395
This whole certificate debacle turns out to be a little more inconvenient than I at first thought, but thank you for the quick replies either way. I'll see what I can salvage.

Container data is completely separate from Mozilla's `cookies.sqlite` right?

[2019-05-04 17:08] stoically commented on #1395
Oh. It's quite possible that cookies, also from containers, are actually in that `.sqlite` and not in `storage/default`. Sorry for the confusion.

[2019-05-04 17:14] 11MAJ11 commented on #1393
Why do many add-ons become incompatible after a firefox update?

I tried switching to chrome only because of this.

[2019-05-04 17:37] LeLobster commented on #1395
Yeah looks like it is. If I use the `cookies.sqlite` from my old backup I am logged in on the containered websites but as soon as I copy over the `.sqlite` file from my recent profile it logs me out everywhere.

[2019-05-04 17:38] binearyfar opened #1396 "Container Extension Disappeared"
I've been using multi-account containers and today it suddenly disappeared while I was actively using it. I tried re-installing and it says it "Download failed..." My connection is working, so what's the issue?
![Screen Shot 2019-05-04 at 1 37 48 PM](https://user-images.githubusercontent.com/50273461/57182810-f0b0f700-6e71-11e9-812e-95eefedb3aa9.png)

[2019-05-04 17:39] quietlystorming commented on #1236
@AdKiller You were right.

[2019-05-04 17:41] stoically commented on #1396
This is due to an expired certificate in Firefox itself. Please follow https://bugzilla.mozilla.org/show_bug.cgi?id=1548973 to track progress.

[2019-05-04 17:41] #1396 closed

[2019-05-04 18:16] jpitts opened #1397 "Cert expiration issue affecting this and other add-ons"
Multi-Account Containers is removed from my browser, very likely related to [an issue being widely discussed](https://www.engadget.com/2019/05/03/firefox-extension-add-on-cert/). The fix isn't yet restoring the Multi-Account Containers in my updated Firefox v66.0.3, as of 11am PST.

![image](https://user-images.githubusercontent.com/509756/57183085-9ce7e300-6e5c-11e9-93ca-69c6638f5a93.png)

When I

[2019-05-04 18:46] qsantos commented on #1236
When I encountered the problem, I feared that the usual proposed solution, which implied reinstalling the addons, would wipe out my containers (again). However, I managed to reactivate my addons using [another approach](https://old.reddit.com/r/firefox/comments/bkcjoa/all_of_my_addons_got_disabled_and_they_are_all/emggvbx/) (note that I needed to set `devtools.chrome.enabled` to `true` in `about:c

[2019-05-04 18:54] RealDavidoff commented on #1385
I agree yes, I mentioned the "discard" addon on purpose, I was already wondering if *together* with "multi account containers" it might be contributing to the issue at hand.

Hmm, "uninstalling other addons", I have to see how to help pinpointing this issue then, because it took a LOT of work to put the addons together and with options that facilitate my work. MAYBE someone lends me a 2nd computer

[2019-05-04 19:01] stoically commented on #1385
For me happens what is described in #1030 - new tabs are *always* opened directly right to the current one, instead of opening after the last tab opened tab from the current tab (many "tabs" in that sentence).

You could navigate to `about:profiles` to quickly create a new profile, install MAC and see if you can reproduce.

[2019-05-04 19:22] RealDavidoff commented on #1385
Okay thx, THAT is the browser behavior I'd love to have too (I guess most people would).
I may have memory loss but I believe *before* multi account container plugin (or discard?? plugin) it WAS like that, yes.
Thx for confirming it IS possible to achieve that.

[2019-05-04 19:34] T3chminator commented on #949
Is there an alternative to this shit?

[2019-05-04 20:10] Bananenschreck commented on #1390
Cookie AutoDelete supports containers. You could open the site in your mentioned container and then delete ist with Cookie AutoDelete.
It's not pretty but it should do your job.
https://addons.mozilla.org/en-US/firefox/addon/cookie-autodelete/

[2019-05-04 22:26] tigny commented on #1393
There is no need to switch to Ggl Chrm:
"Certificate issue causing add-ons to be disabled or fail to install:
We rolled-out a fix for release, beta and nightly users on Desktop. The fix will be automatically applied in the background within the next few hours, you don’t need to take active steps.
For more information, please see https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-i

[2019-05-04 22:43] 3j9fkyahunqoxwqu commented on #949
I also had same issue but fortunately after several hours of being unable to do my work, finally my browser get the studies and the addons enabled again but lost all my +10 containers.
I am creating all of them now :\
Its OK, all people may do mistakes but i hope firefox plan more in the future so this problems become lower.

[2019-05-04 23:32] aplatypus commented on #1397
This issue has affected plug-ins across the board.  It is an extremely crippling of my workflow.  On a Sunday with no WARNING and not ameliorating work-arounds.

For example it MUST be allowed for me the User to enable such a known, reliable plugin for 30 days or something.  And re-enable the plugin again after 30 days if the issue has not been fixed.

Several items that have been disabled are sec

[2019-05-04 23:55] aplatypus opened #1398 "provide downloadable installer"
Mozilla have crippled Firefox such that I may not download this plugin, let alone install it.

Please provide an official binary download for the plugin via this GitHub project.

![image](https://user-images.githubusercontent.com/67028/57186059-d4699480-6f1b-11e9-8114-d52a366c3dde.png)

This is really not how I need to spend my one day off (Sunday at that)

[2019-05-05 01:12] raulcano commented on #949
This just happened to me as well.
For a few hours the Multi-containers addon was considered not having the Mozilla signature and disabled. After reboot, the addon was re-enabled , but the settings are in default now, so I lost all my containers. Not cool.

[2019-05-05 03:59] dry4ng opened #1399 "Lost all customizations"
The recent [addon issue](https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/) resulted in completely reset state of multi-account-containers. I have lost all customizations and tab specific cookies.

[2019-05-05 04:16] TrekkieTechie commented on #1399
I have also had my MAC configuration reset to defaults, and it's going to be a pretty frustrating exercise to reconfigure it on each of my computers.

Can the configuration not be stored somewhere that it won't be erased if the extension is disabled? If that isn't possible, could we have the ability to export and import our configuration? (Honestly, that would be a great feature regardless.)

[2019-05-05 08:39] JackStamper commented on #1399
I had a Container with all my "Bookmarks", meaning Articles, Videos, or even Pages on Multi-Page stories I was at. Loosing them is frustrating, as recovering them all is probably impossible.

Is there any guarantee this won't happen again?

[2019-05-05 10:03] cody42 commented on #1397
Mozilla has published a fix, but manual steps are neccessary to apply ist as fast as possible: See https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

[2019-05-05 10:14] cody42 commented on #1399
My configuration has been restored, but on my wifes pc all configurations are lost. No obvious differences in the settings regarding addons, we both have settings and addons synced using a firefox account. Seems pretty random to me.

Export/import of the configuration would truly be a great feature.

[2019-05-05 11:41] JackStamper commented on #1399
I just resigned to make new Customizations...and the first new category I opened, was filled with the Tabs from the first category I lost. Every new category was then filled with the tabs of the next lost category. They...were all there. I just needed to make enough new categories to capture them.

[2019-05-05 12:25] Temporalin commented on #949
Also happened to me.

I left Firefox downloading a file, I logged in the computer after a day without using it, and there was a message about some add-on being problematic or something (sorry, I don't exactly remember what it said). There was a link to "know more" and a new tab opened, it was a submenu of the add-ons config, but nothing appeared about that problematic addon.

I restarted Firefox,

[2019-05-05 14:22] andrewmcguinness commented on #949
People suffering from this early may 2019 (including me) -- seems to be a side-effect of the issue at https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/
Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1548973

[2019-05-05 16:47] mwillers commented on #1399
For me, all data was lost as well ...
Dear devs, please instruct on how to recover the data.
Thanks

[2019-05-05 17:41] hub2git opened #1400 ""Always Open In [Container]" does not work with photos.google.com"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? Yes/No: No
- Are you using Firefox in a Private Window? Yes/No: No
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes/No: No
- Multi-Account Containers Version: 6.10
- Operating Sy

[2019-05-05 19:06] Brass2387 opened #1401 "I cannot even Download it. Why?"
When I click "Add to Firefox", it says "Download failed. Please check your connection."
I am obviously online...  my internet connection is good.  FF version 66.  Any clues?
Thanks.

[2019-05-05 19:43] rdelval commented on #1401
There's an issue with a certificate that expired. No new extensions can be installed at the moment. Long story short, wait until Mozilla pushes an update or enable studies. See here for more details here https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

[2019-05-05 20:41] Brass2387 commented on #1401
Well, THAT explains it, Rdelval.  Thanks for that information.
I DID have a different "containers" thing installed...  I think the name was Paranorma, or something like that.  It just all-of-a-sudden Disappeared!  I then had all 417 of my tabs on Only One browser/container, instead of the 30? that they were in.  Did this Certificate problem cause that extension to fail?

[2019-05-05 20:43] rdelval commented on #1401
Yes, all extensions are disabled unless you take steps to allow Firefox to re-enable them as outlined in that blog post from Mozilla.

[2019-05-05 20:44] walkenzoy commented on #949
Been hitting this too, due to the extensions signing issue listed above.

I did not have a storage.migrated file to recover from.

I did end up recovering my container tabs: By clicking "edit containers" in the extension, then clearing out the name field, then clicking on it, I was presented with an auto-complete list of container names I had previously created, and re-creating the containers rest

[2019-05-05 21:03] FreeWF opened #1402 "My user containers have all disappeared after firefox update... HELP !!"
My user containers have all disappeared after firefox update !!
I had about 20 containers with more than 300 Links that were hours and hours of research.
I absolutely need to restore them. Can you help me ? It's just a nightmare...
Thanks...

[2019-05-05 22:19] FreeWF commented on #1402
PS: the add-on did not appeared after restart, so after reading some informations, I let firefox make study. Few hours after, the add-on appeared but all the user containers had all disappeared. Everything empty. How to restore everything ? Where those informations are stored ?

[2019-05-06 00:32] jonlm commented on #1399
Sigh. This happened to me too. There is now an official note saying that they were irrevocably lost:

https://support.mozilla.org/en-US/kb/add-ons-disabled-or-fail-to-install-firefox#w_container-add-ons

That links to a bugzilla which will attempt to prevent this from happening again in the future. If you read that bug you'll see that the containers were actively deleted due to some javascript tha

[2019-05-06 04:34] psylenced commented on #1402
https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

Basically - due to Firefox's expired certificate error - the container data is lost and unrecoverable.

[2019-05-06 06:19] jpitts commented on #1397
This is resolved with the Firefox v66.0.4 update.

[2019-05-06 06:19] #1397 closed

[2019-05-06 09:56] pwaring commented on #469
I think there are two different use cases for private browsing and containers, albeit with a bit of overlap. For example, the biggest selling point of containers to me is not to do with privacy or isolating sites such as Facebook, but the ability to have simultaneous sessions with the same website - I think containers are the only way to achieve that within the same browser.

[2019-05-06 13:45] matthewadie commented on #1402
This happened to me as well, and now I have to re-setup several containers on 5 different machines.  I love Firefox and I live the Multi-Account Containers, but there really needs to be a way to sync between machines and make backups.

[2019-05-06 13:58] acdha commented on #339
The AMO certificate issues over the weekend would have been substantially less disruptive if at least the container names had been synchronized. Right now I have to delete all of the default containers and create a dozen new ones on every system I use for work.

[2019-05-06 14:03] RememberTheAir commented on #339
@acdha why so? The armagadd-on2 did not delete extensions data - unless you removed and reinstalled them manually

[2019-05-06 14:19] acdha commented on #339
@RememberTheAir Whoever told you that it didn't delete data is categorically wrong. I arrived at work this morning to find the message that several addons had been disabled & that 66.0.4 was available, let it restart, and the container list was reset to the defaults. The system was locked over the weekend so there was no user interaction involved at any point until I clicked the restart button for

[2019-05-06 14:22] caltheon commented on #1402
Same issue on all my computers.  At least I can stop searching for an answer on how to fix, this is one giant screw-up for Firefox and for this extension

[2019-05-06 14:25] FreeWF commented on #1402
At least, please give me a solution to recover it manually, where the list of the links were saved, I can maybe recover with a deleted file recover software. This is a disaster...

[2019-05-06 14:27] groovecoder commented on #1236
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1549204 for the bugzilla bug, and I'm going to start closing duplicate issues of this one.

[2019-05-06 14:29] groovecoder commented on #1401
This was caused by a larger issue with all add-ons, described here:

https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

A release was made yesterday to fix the download + install issue:

https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

To address the underlying issue of data loss when container add-ons are disabled or un-installed, we have both a long-stand

[2019-05-06 14:29] #1401 closed

[2019-05-06 14:29] groovecoder commented on #1402
This was caused by a larger issue with all add-ons, described here:

https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

A release was made yesterday to fix the download + install issue:

https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

To address the underlying issue of data loss when container add-ons are disabled or un-installed, we have both a long-stand

[2019-05-06 14:29] #1402 closed

[2019-05-06 14:30] groovecoder commented on #1399
This was caused by a larger issue with all add-ons, described here:

https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

A release was made yesterday to fix the download + install issue:

https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

To address the underlying issue of data loss when container add-ons are disabled or un-installed, we have both a long-stand

[2019-05-06 14:30] #1399 closed

[2019-05-06 14:30] groovecoder commented on #1398
This was caused by a larger issue with all add-ons, described here:

https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

A release was made yesterday to fix the download + install issue:

https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

To address the underlying issue of data loss when container add-ons are disabled or un-installed, we have both a long-stand

[2019-05-06 14:30] #1398 closed

[2019-05-06 14:46] dentarg commented on #339
I did the same thing and my containers survived.

[2019-05-06 14:58] raulcano commented on #339
This is pretty much what happened to me.

Chris Adams <notifications@github.com> schrieb am Mo., 6. Mai 2019, 11:19:

[2019-05-06 16:03] vsrawat commented on #949
Yesterday, my ff had disabled all add-ons and was refusing to download and install addons afresh, as reported by many users. Then the problem rectified on its own.

But today I noticed that all my containers are gone.

How do I restore them. I have backup of my ff profile from about a week ago. Which folders/ files to restore from that so as to get back all my containers?

Thanks.

[2019-05-06 16:12] KwanEsq commented on #949
In your backups should be a file named "containers.json".  If you copy that into your current profile (with Firefox closed), replacing the file there, it should restore the container definitions.

[2019-05-06 17:02] 11MAJ11 commented on #1393
Hi,

Thank god, containers are back, but I lost their data completely, is there a way to store my container data and bak it up whenever I want?

Thank

[2019-05-06 17:19] qsantos commented on #1236
Nevermind my previous comment: 66.0.4 did reset my containers…

[2019-05-06 17:41] Whoareyouagain commented on #949
I have the same issue again because of extension signed issue. This is the second time my container setting is wiped. It is getting annoying when I have everything set up the way it is. I have 8 different containers set up for specific sites and they are vital for what I do. And now I have to redo everything again which can take me up to an hour to set it back up. Since it is becoming an issue, th

[2019-05-06 20:00] T3chminator commented on #949
This might be the answer to restoring the containers. May I know where to find this 'containers.json' file?

[2019-05-06 20:00] T3chminator commented on #949
@Whoareyouagain Could you please let me know where to find the 'containers.json' file?

[2019-05-06 21:51] Dormann commented on #1016
Hello,

I would have requested the same thing but I realized it was already asked here.
But why is there not an option to set each container to open new links (with the middle click) in the default container or in the current one ?
It is cumbersome and not really user-friendly to make a right click and then select the right container.

Just like pauschuu said : when you're using google, you could

[2019-05-06 23:50] ppayne opened #1403 "Clicking on container name, when offered to open site in assigned container, has no effect"
- Is "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" selected? No:
- Are you using Firefox in a Private Window? No:
- Can you see a grayed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"? Yes:
- Multi-Account Containers Version: 6.0.1
- Operating System + Version: Mic

[2019-05-07 00:03] ppayne commented on #1403
May be related to #1350, also similar to #1365.

[2019-05-07 00:33] jonathanKingston commented on #1403
Yup this looks like a duplicate, thanks for raising though. I will try and get a release out soon.

[2019-05-07 00:33] #1403 closed

[2019-05-07 01:23] #972 closed

[2019-05-07 01:28] jonathanKingston commented on #1375
We should probably just use `@prefers-color-scheme` in CSS if we can help it rather than the API call.

[2019-05-07 01:33] jonathanKingston commented on #1375
Also all the Firefox error pages are still light themed right? This is where the design for this came from, so until we have more examples I don't think we can easily more forward here.

[2019-05-07 01:35] jonathanKingston commented on #1389
For anyone implementing this, I think this can be implemented with https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/moveInSuccession

[2019-05-07 02:52] dannycolin commented on #1375
There's a dark mode version in Nightly

What do you mean by you need more example?

Btw, I've noticed that the "Open this site in your assignef container?" now have a dark background. Some texts are still not visible tho. Does one of you pushed an update related to that issue?

[2019-05-07 06:33] stoically commented on #1400
That's because the domain in question uses ServiceWorkers, which doesn't work with assignments.

Duplicate of https://github.com/mozilla/multi-account-containers/issues/822

[2019-05-07 06:33] #1400 closed

[2019-05-07 06:48] rpedrica opened #1404 "View * Container arrow missing after Firefox Certificate issue"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Slackware Linux -current (kernel 4.19.36, gcc 9.1.0)
- Firefox Version: 60.6.2esr (64-bit)
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Extensions
Name 	Version 	Enabled 	ID
Adblock Plus - free ad blocker	3.5.2	true	{d10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d}
Country Flags & IP Whois	0.2.9	true	{802a552e-13d1-468

[2019-05-07 06:59] hub2git commented on #1400
https://github.com/mozilla/multi-account-containers/issues/822#issuecomment-452068677 seems to fix the problem.

[2019-05-07 07:13] enRchi commented on #339
I also lost all of my container settings, because the extensions were disabled...  :(

[2019-05-07 09:40] klint commented on #339
I haven't touched my FF for days as I was on holidays. Shall I download the new version with another browser, install it and the  only run FF? Will I be safe like this? But wait... I'm using the beta version and there is no fix for that one yet.

[2019-05-07 13:27] garretwilson opened #1405 "All containers are gone after Firefox certificate shenanigans."
I'm on Windows 10 with Firefox 66.0.4. I have been using multi-account containers for months. The version I currently have appears to be 6.1.0, last updated January 25, 2019. I had removed all default containers and added a single custom container.

As you know Firefox recently accidentally [disabled all extensions](https://discourse.mozilla.org/t/fixed-certificate-issue-causing-add-ons-to-be-disa

[2019-05-07 15:44] groovecoder commented on #1405
Sorry. You're correct this was caused by a larger issue with all add-ons, described here:

https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

A release was made yesterday to fix the download + install issue:

https://www.mozilla.org/en-US/firefox/66.0.4/releasenotes/

To address the underlying issue of data loss when container add-ons are disabled or un-installed, we

[2019-05-07 15:44] #1405 closed

[2019-05-07 20:15] thefireinyourflies commented on #1236
experienced this bug yesterday and reproduced again today with a set of test pages. when troubleshooting another third-party add-on, i disabled everything else including multi-account-containers. in so doing all contained tabs immediately closed without warning and are nowhere to be found in history to re-open! re-enabling the add-on does not restore the tabs. i am logged into FF account. what can

[2019-05-07 20:18] AdKiller commented on #1236
if this issue is difficult to fix, there should at least be an export/import for the custom permanent containers.

[2019-05-07 20:33] jonlm commented on #1236
@thefireinyourflies See the bugzilla link. When the extension is disabled there is some javascript that actively deletes all container tabs and custom container data. They're gone for good unless you happen to have a backup of your entire profile from when the data was valid. Yes, this is a horrible design that needs to be fixed, and seemingly will be.

[2019-05-07 21:40] thefireinyourflies commented on #1236
thanks for the info @jonlm, i had see that bugzilla but i am not a developer and it did not hit me what part of the report mentioned closing open container tabs. i see that script snippet now mentioning "this.closeContainerTabs( )" function

fortunately i do have a usable file level backup of my FF profile i was able to recover, would you or anyone else have guidance what to do with it to get my t

[2019-05-07 22:22] thefireinyourflies commented on #1150
hi @v00p do you remember which other files need restore besides containers.json? does it restore tabs in containers or just the container items?

[2019-05-07 23:23] garretwilson commented on #1236
As noted in #1405, when Mozilla disabled all my plugins because of the certificate SNAFU, suddenly all my containers are gone.

@groovecoder indicated that I should comment and/or vote to get this fixed. So I hereby vote: Firefox, please don't erase my data and delete my configuration. (We have to _vote_ on something like that? I would have thought it would be a critical top-priority bug.)

[2019-05-07 23:38] FreeWF commented on #346
Because of this bug, I lost more than 300 links, hours and hours of research during several months. I absolutely need to recover them. Does anybody knows in which file(s) all the links were saved ? I don't mind if the links are not anymore in the right containers, but I absolutely need to recover the links. Please help...

[2019-05-08 01:10] kilasuit opened #1406 "Clash of Keybinding with 1Password"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Win 10 - 1903
- Firefox Version:  66.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status: : 1Password X - 1.14.3

### Actual behavior
Inability to use Keyboard blindings for 1Password as FF Multi Account Containers uses same Key Bunding

### Expected behavior
To be able to use 1Password Key Bindings alongside FF

[2019-05-08 08:02] stoically commented on #1406
You can manage shortcuts for Add-ons in Firefox directly. Open the Add-on Manager (Ctrl+Shift+A), select "Extensions", click the cog top right and select "Manage Extension Shortcuts".

[2019-05-08 08:02] #1406 closed

[2019-05-08 12:15] RonKaminsky opened #1407 "Unable to unhide tabs with filesystem URLs"
- Multi-Account Containers Version: See output of about:support below
- Operating System + Version:
- Firefox Version:
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior
Tab with file: protocol can be hidden, but not subsequently unhidden (using "Show this container").

### Expected behavior
If the file still exists, the tab should be reopened as if "Open File" had

[2019-05-08 15:26] NessunoIM opened #1408 "Enhancement - Containers sites detail."
Is possible to have a page or a window in this extension where I can view, for every container, what sites I added ed eventually modify directly it (adding or removing sites).

[2019-05-08 15:40] stoically commented on #1408
Duplicate of https://github.com/mozilla/multi-account-containers/issues/1363 - please vote there, thanks!

[2019-05-08 15:40] #1408 closed

[2019-05-08 23:56] FreeWF opened #1409 "How to recover all the links (even manually) in containers deleted by mozilla bug ?"
I lost more than 300 tabs which I recently transfered into custom containers. But after mozilla's new version, all custom containers have been deleted. Mozilla explains their new version won't recover those. But I absolutely need to recover the tabs / links inside. Don't need the containers to be back exactly as is, but I need to recover the links that were inside those custom containers. Can you

[2019-05-09 04:34] dailyherold commented on #1208
For Ubuntu users (possibly other distros), `vim /home/$USER/.mozilla/firefox/*.default/containers.json`. Not sure if there's a chance of being more than one `*.default` directory, but for me there was only one, and I was able to edit the `containers.json` file while Firefox closed and see my desired order upon re-opening. Thanks @tienkietboi for the tip!

[2019-05-09 07:46] lhorace commented on #339
I am not sure about down vote but I haven't updated Firefox, I'd like to avoid problems? So if someone could clue me in?

[2019-05-09 08:01] JetseBrouwer commented on #339
The problem has been resolved from Firefox 66.0.4 on.

On 9 May 2019 09:48, Horace <notifications@github.com> wrote:

I am not sure about down vote but I haven't updated Firefox, I'd like to avoid problems? So if someone could clue me in?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/mozilla/multi-account-con

[2019-05-09 08:03] lhorace commented on #339
Then I haven't lost any container data here, so, I guess I'm the lucky one. AFAIK for Sync, I've seen @stoically and @jonathanKingston is active. So work should start ? But upstream bug report should be the place to follow

[2019-05-09 08:23] pwd-github commented on #339
Hey folks! I love that there's such a keen interest in containers. I too use containers and believe that they can offer so much more, with sync being integral to that vision. However, what isn't integral is the continuous chatter in this thread. Please respect your fellow container sync enthusiasts and just silently watch this thread. When there is news, it will be posted.

[2019-05-09 08:43] lhorace commented on #339
I disagree, we need work to move, this endless chatter is not for not. Whatever the objective, to get this to move, since there hasn't been anything from the mox-team (granted they have been been busy with other projects), doesn't necessarily mean we stop being vocal. Anyway, whatever the position, there should be enough votes and some working on something else. However, where I will concede with

[2019-05-09 09:15] vinzent opened #1410 "When using "Reopen in container X" it will still open in container Y"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Fedora 30
- Firefox Version: 66.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status:
hotfix-update-xpi-intermediate	1.0.3 true

### Actual behavior

Click on "Reopen in container X" still opens in "Container Y" if "Always open in container Y" is activated

### Expected behavior

Click on "Reopen in container X" o

[2019-05-09 09:19] lhorace commented on #1410
I think the behaviour you describing is intended behaviour? You want to _always want it to open in work_ which negates _Reopen in personal_

[2019-05-09 09:29] vinzent commented on #1410
But if I explicitly select "open in container X" I expect it to be openend in the selected container and not in the one that was selected as the default container.

I was using this feature for few weeks now and the latest update made it stop working.

Tried with 6.0.0 - but same issue here.

Can't find the 6.0.1 version to try.

[2019-05-09 09:38] lhorace commented on #1410
I think what you want is a feature request because it changes of behaviour, but for now, don't select _always_ open in work container.

[2019-05-09 09:59] camy011 commented on #534
Bump, found this defect was already opened after I wrote up a new one so pasting that information here.

- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Windows 7
- Firefox Version: 66.0.5 (64-bit)
- Other installed Add-ons + Version + Enabled/Disabled-Status:

*Occurs in safemode with all addons disabled*

| Name  | Version  | Enabled  | ID |
| --- | --- | --- | --- |
| Cl

[2019-05-09 10:21] vinzent commented on #1410
funny thing, can't reproduce the old behaviour I. downgraded to 66.0.2 and 6.0.1 but no luck. So it worked for me as I expected it just by some unknown circumstances.

So I think I can workaround my personal issue by not ticking "Remember my decision for this site", so I will prevent the page from being opened in an wrong container but still being able to override the default.

[2019-05-09 11:59] codingchristoff commented on #864
Recently I started FireFox on both my Laptop and Desktop and both started in what seemed like a fresh install. All add-ons had been disabled. When I investigated it stated they were out of date and unsupported. When I closed FF and re-opened my add ons came back however it seemed they had all reset to default.

The containers is by far the most annoying as all my custom containers have now been lo

[2019-05-09 14:02] calegario commented on #1409
If you look at the profile folder (usually C:\Users\@user\AppData\Roaming\Mozilla\Firefox\Profiles), you will find a folder called "browser-extention-data" and finally "@testpilot-containers". The "storage.js.migrated" file contains all the URL's associated to the previous containers.

If you recreate new containers with the same name, all the URL's will be associated to the new ones.

[2019-05-09 18:43] Dom-R commented on #503
I would like to show my interest in this feature.
I don't see the purpose of not allowing specific websites to be an all purpose use. In my example I don't want/need to have github logged in in two or more different containers.

[2019-05-10 00:33] FreeWF commented on #1409
Than you very much, this is very interesting. I found the file, it contains 692 Kb, but when opening it, URLs are not readable directly, It's probably compressed and / or coded.  Or a special software is needed ?
I used Sublime text because it is said that this free software can open hex files, but I'm not a programmer at all, so I don't know how to use it properly and how to get the URL in text m

[2019-05-10 02:21] thetoastcaper opened #1411 "Hiding container loses all tab history"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Linux 4.15.0-48-generic
- Firefox Version: 66.0.4

### Actual behavior
Hiding and re-showing a container loses the navigation history (Back/Forward buttons) of all tabs contained

### Expected behavior
Tabs should retain their navigation history when their container is hidden and re-shown

### Steps to reproduce
1. Open a cont

[2019-05-10 12:56] mwarkentin commented on #365
This would be great so I could open a new google doc from the command line either for work or personal:

[code]

[2019-05-10 13:34] ALTanir opened #1412 "Add-ons disable tragedy-May 4,2019 caused to signing and testing"
Multi account containers v4.1.0 @testpilot-containers. It released in Nov 16, 2017 for fx53+. No other versions support for fx56.0b5 in Win7 32bit. Now its need to test properly and signed approval for resolves. We should **be committed to request their(add-ons authors) to test&resigned programs for every add-ons using specific version of firefox.** I have found a resigned .xpi file from favorite

[2019-05-10 13:48] ALTanir commented on #1409
Keep back up your OS-C'Drive>AppData> Local&Roaming "Mozilla"-Folder. After test approval and signed properly of the add-ons we can re-enable it. Yes, some add-ons disabled caused corporal certificate expired. And so its need the other versions from list or, email authors to test and sign the versions. Some extensions have already resigned and can recovered. For me -test pilot-4.1.0@fx56.0b5.

[2019-05-10 17:05] StellarGreg opened #1413 "After Manual Disablement and re-enable, Multi-account Containers ceased to open sites in their containers"
Hi, just BEFORE the recent drop out of virtually all extensions, I needed to disable ALL my security extensions to get through an important transaction on line. When I re-enabled my containers were gone, but having re-created them and attempting to go through the necessary "teach it what to do" process, the second time that I'm going to a site I expect it to ask if I want to open in the current ta

[2019-05-10 21:10] kingjr commented on #949
@T3chminator `/your/home/folder/.mozilla/firefox/<random_string>.default/containers.json`

[2019-05-11 01:44] FreeWF commented on #1409
OK, I'll back up the files. Isn't it possible to find the name of my old containers in a specific file ? This may solve the problem, as explained calegario above.  I would have liked to try...

[2019-05-11 06:02] calegario commented on #1409
You're welcome! I imagine the worry due to this bug.

So, in my case. I used the notepad to open this file like a .txt. It works, but my file is smaller. I recommend Notepad++ as an alternative. You need only a txt reader.

[2019-05-11 06:16] calegario commented on #1409
On the profile folder (C:\Users@user\AppData\Roaming\Mozilla\Firefox\Profiles\@profile) you will find a file called "containers.json". It's important because it contains the containers names and ID's - that you can associate it to the URL's in the first file mentioned (storage.js.migrated). If you're lucky, you'll find the names and ID's. If it's not possible you can manually associate new contain

[2019-05-11 06:29] lonix1 opened #1414 "Add hook for ignoring "always open in" setting"
If "always open in container" is selected, then that behavior is impossible to  circumvent.

Other addons (e.g. [Context Plus](https://github.com/totallymike/contextPlus/issues/33)) which allow to reopen or move a tab to a different identity (/tab) won't work because the move is intercepted by this addon, and the "always open in" policy is enforced.

It would be nice if there were some sort of hoo

[2019-05-11 14:58] FreeWF commented on #1409
Thanks again Calegario ! My"storage.js.migrated" when opened with notepad isn't directly readable as text. It is probably compressed, they are chunks that you can read, but it's mainly unsuable as is. About "containers.json", it is 1 Kb, not empty but it doesn't contain my custom containers's names. I think it has been reseted to default. So I'm stuck...What can be done. ?

[2019-05-11 15:21] ALTanir commented on #1409
calegario commented May 11, 2019- This is very helpful. Thanks for the idea ! ...\Roaming\Mozilla\Firefox\Profiles will find a file called "containers.json". It's important because it contains the containers names and ID's...~ And then can use it to back up by copy-paste

[2019-05-12 02:30] FreeWF commented on #1409
ALTanir, I've just written before that this file on my computer does not contain the names and IDs of my custom containers. It probably have been reseted to default.

[2019-05-12 17:43] grahamperrin commented on #864
**Enable Built-in Containers Feature**
<https://addons.mozilla.org/addon/enable-builtin-containers/>

[2019-05-12 17:52] grahamperrin commented on #339
For those of you who may not have seen it, there's a **Container add-ons** section in a recent knowledge base (KB) article:

https://support.mozilla.org/kb/add-ons-disabled-or-fail-to-install-firefox#w_container-add-ons

[2019-05-12 18:07] dannycolin commented on #864
@grahamperrin it wouldn't have help with the certificate problem since all addons were disabled automatically.

It'd be better to open an issue on bugzilla.mozilla.org asking the devs to make sure that `privacy.userContext.enabled` can't be reset by Firefox if it has been set to `true` manually or by an extension that is still installed even if it's disabled.

@jonathanKingston did you have any lu

[2019-05-12 18:38] FreeWF commented on #1409
Why is my "storage.js.migrated" unreadable (probably compressed) when for some people they are readable ? Is there a way to get the URLs ? And for containers.json, is there a way to get a backup of it ? (this because in my case the file was reset to default). Thanks in advance for help...

[2019-05-13 07:33] AssafTzurEl commented on #346
Still happens, latest FF (updated to 66.0.5 a few days ago). Any news?

[2019-05-13 07:39] AssafTzurEl opened #1415 "Feature request: Allow sync using Firefox account"
## Request

Allow synchronization of containers and related data using Firefox account.

### Actual behavior

Need to configure the containers on each machine I'm using. Then, I need to login to each account in each container on each machine. Tedious.

### Expected behavior

Create a container on one machine, see it on another. Login to a site in one container on one machine, be able to access tha

[2019-05-13 08:32] Knorrke commented on #1201
@MostHated they are configured in the manifest.json:
https://github.com/mozilla/multi-account-containers/blob/41686fdf6c017cdd9cdf1ba132e416e35291a28d/src/manifest.json#L36-L44

But firefox 66 solved this now, every addon keybinding can be configured in `about:addons` 🎉
https://www.ghacks.net/2019/01/16/manage-firefox-add-ons-keyboard-shortcuts-on-aboutaddons/

[2019-05-13 09:59] dentarg commented on #339
...except on my laptop 😢

[2019-05-13 10:13] mcepl commented on #339
Guys, could you cut it, please? As much as the ArmagAdd-on was a disaster, it is not relevant to this ticket.

[2019-05-13 10:45] lhorace commented on #1415
Hello there,

Duplicate #339

See also upstream bug report https://bugzilla.mozilla.org/show_bug.cgi?id=1288858.

Cheers

[2019-05-13 10:48] lhorace commented on #346
@FreeWF You might find this useful #1409

[2019-05-13 17:31] ALTanir commented on #1409
FreeWF> ALTanir, ... my computer does not contain the names and IDs of my custom containers. It probably have been reseted to default.
Answer: The roaming'folders contained file "containers.json" views the current activity- which features will shows you when the firefox page running last time & options performable. Then close the firefox and copy-backeup, or read by text. But when if you have lost

[2019-05-13 18:41] ALTanir commented on #346
@klemens> Mine were also lost ...recreating.. same ...still there.
Reply= [My story was same](https://github.com/mozilla/multi-account-containers/issues/1409#issuecomment-491914991)
Also the files- "containers.json" contained containers names and ID's and "cookies.sqlite"- that copy&backup to another mozilla(any) performs the similar logged in account properly !!
#1412

[2019-05-13 19:46] lhorace commented on #339
I think what @mcepl means, keep it on-topic.

[2019-05-15 14:19] ALTanir commented on #1412
Later, I have got news about resolve problems:- Currently authors of add-ons are suffering some problems have no acceptable [commerce.](https://discourse.mozilla.org/t/add-on-signing-now-being-throttled/40208?u=altanir) Signing duration is now higher than normal errors. So corporal attempt to release services or issues like a certificate validation- needs soon by kind consideration from mozilla CE

[2019-05-15 14:38] vinzent commented on #1414
I think this relates to my issue/request: https://github.com/mozilla/multi-account-containers/issues/1410

[2019-05-15 15:27] lonix1 commented on #1414
Related but not the same thing. Your issue is part of firefox itself, whereas this is about interoperability with other addons.

We need the ability to 1) move container tabs around, and 2) move them between "identities" as made possible by other addons.

[2019-05-15 19:44] ALTanir commented on #1412
Later, I have got news about resolve problems:- Currently authors of add-ons are suffering some problems have no acceptable [commerce.](https://discourse.mozilla.org/t/add-on-signing-now-being-throttled/40208?u=altanir) **### Signing duration is now higher than normal errors.** So _corporal attempt to release services or issues like a certificate validation_- needs soon by kind consideration from

[2019-05-15 20:13] goodevilgenius opened #1416 "No option to open a link in a new window in a specific container"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Fedora 30 (Linux 5.0.11)
- Firefox Version: 66.0.3
- Other installed Add-ons + Version + Enabled/Disabled-Status:

<table xmlns="http://www.w3.org/1999/xhtml">
        <thead>
          <tr>
            <th data-l10n-id="extensions-name">Name</th>
            <th data-l10n-id="extensions-version">Version</th>
            <th d

[2019-05-15 20:58] lhorace commented on #1416
Hello there,

I suspect MAC is not responsible for this, as Reopen, Open, etc is upstream. You might want to open a issue there and link to this one.

[2019-05-16 05:30] maphew commented on #311
Thanks for the wiki page. It made this long twisting thread understandable. Maybe edit the OP to reference it.

My 2c: "Containers" is an unfortunate choice of word, "Profiles", "Personalities" or at least "Profile containers" would be better. Containers are bins I throw things in to manage them, like with like, cups with glasses, bowls with plates. That's what I want to do most often with my tabs

[2019-05-16 13:43] ndarilek opened #1417 "Accessibly convey active container to screen reader users"
I'm a screen reader user, and it isn't at all obvious to me whether or not I'm in a container tab. Since I'm now trying to use container tabs more heavily, this lack is significantly hindering their use for me.

I'm interested in doing some extension development, so may be willing to submit a PR. But I need some guidance on where to look. Specifically:

1. How is the user's presence in a container

[2019-05-16 14:42] goodevilgenius commented on #1416
@lhorace I'm not quite sure what you mean.

The issue is that there's no option to open a link in a new window, in a specific container. MAC modified the context menu for links to include options to open links in a specific container for new tabs, but not for new windows.

![Screenshot from 2019-05-16 09-37-12](https://user-images.githubusercontent.com/254662/57862886-b70bb480-77be-11e9-9b82-86b2d

[2019-05-16 14:53] lhorace commented on #1416
The distinction here is Firefox provided support in WebExtensions for MAC to hook into 'Open Link in New Tab', where as it maybe missing for 'Open in New Window'. So it might be a great idea to report this to upstream as well and link it here. MAC may or may not be able to hook into 'Open in New Window'.

Nevertheless, you going to need the necessary votes so mox-team can prioritize feature reques

[2019-05-16 21:04] lhorace opened #1418 "It was never about you"
I was looking for a program that manage one server. Vagrant, Docker, I prefer to stay away. The first question I asked you, are you developing?

[2019-05-17 15:17] NessunoIM opened #1419 "Feature Request: automatically open in new default tab if site isn't "saved" in any container."
Can you add the possibility to open directly on new default tab when I click inside a link in specific container, if the site link that i clicked is not saved as "open in specific tab".
This actually is possible only with Facebook container.

[2019-05-20 01:11] lhorace commented on #1418
Wrong area

[2019-05-20 01:11] #1418 closed

[2019-05-20 21:04] djmitche opened #1420 "All container config reset"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Fedora 29
- Firefox Version: 66.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status:
 * Facebook Container
 * Firefox Color
 * Firefox Multi-Account Containers
 * React Developer Tools

### Actual behavior

Containers menu shows "Personal", "Work", "Banking", etc., and not my Google Cloud container.

### Expected

[2019-05-21 19:27] dfwdraco76 commented on #339
When I upgraded to FF67 it created a brand new profile.  With a sync feature -- or even a way to export and import settings -- I now have to reconfigure EVERYTHING...  Please, please, please add the sync functionality!

[2019-05-22 03:44] joshhansen opened #1421 "Automatic site-specific containers"
This is a feature request asking for a configuration option (likely off by default) that enables opening sites in per-site containers by default, unless otherwise assigned to a different container.

For example, if I visit github.com, by default my current configuration opens it in the default container. However, I would prefer that by default any site I open be separated from all other sites unle

[2019-05-22 19:16] y0lopix commented on #1420
I have the same issue since I updated to Firefox stable 67.0

[2019-05-22 19:59] NenoLoje commented on #1420
Same here, after upgrading to 67.0 the configuration was reset.

[2019-05-22 20:21] Dormann commented on #1419
I also would greatly appreciate this feature.
As I use google (:-S) to search something, I would like for any link in the search result page to be opened automatically outside the container, even if the target site is not associated to any specific container.
With this in mind, the url would need to be cleaned in order to get rid of any data related to google.

[2019-05-23 03:46] lhorace commented on #1419
Duplicate https://github.com/mozilla/multi-account-containers/issues/914.

It might be a good idea to move the discussion there since that issue has votes and additional context.

Cheers.

[2019-05-23 03:56] GodKratos commented on #323
I've finally found a work around solution that makes this behaviour work as desired thanks to the post [here](https://www.reddit.com/r/firefox/comments/8u28z6/how_to_make_a_bookmark_that_always_open_in_a/)

Using the [Redirector](https://addons.mozilla.org/en-US/firefox/addon/redirector/) addon I made two rules as follows:
**Rule 1**
- Include Pattern: *#redirect-*
- Redirect to: http://www.$2.myr

[2019-05-23 04:01] lhorace commented on #1420
Hello everyone,

What OS did this happen on?

Cheers

[2019-05-23 04:02] freewil commented on #1420
MacOS

[2019-05-23 04:05] lhorace commented on #1420
That's MacOS for everyone? I can't reproduce here on Ubuntu 18.04 after upgrading to Firefox 67.0, however it's useful information for the developers.

[2019-05-23 04:35] falolaf commented on #1420
I have seen reports that FF67 creates a new profile. Could that be the issue here? Have a look in about:profiles.

[2019-05-23 04:48] MurzNN commented on #323
@GodKratos, thanks for very good workaround!

[2019-05-23 06:17] NenoLoje commented on #1420
It's Windows 10 here.

[2019-05-23 06:19] NenoLoje commented on #1420
Good idea, but it only shows the default profile.

However, FF67 has now the ability to disable selected extensions for InPrivate mode. It seems like when you start using this, the container settings reset.

[2019-05-23 10:41] hightower5 opened #1422 "Some problems"
There are some problems and missing features:

- different number of icons in firefox setting and plugin setting
- in firefox setting is missing whitespace between icon and text
- need more icons e.g. email, multimedia, forum, filesharing, vpn
- open this site in assigned container doesn't work
- sort containers themself
- multi language support e.g. german

[2019-05-23 12:49] y0lopix commented on #1420
It could be that. I disabled and I re-enabled the Firefox containers addon in private browsing mode just before I realized that my containers were reset

[2019-05-23 15:40] caltheon commented on #323
@GodKratos

I follow all of it until the part where you add http://www.containername.myredirect to auto open in the required container.  How do you manage that?  Since it isn't a real URL, I can't do it the normal way of going to the site and choosing open in this container, it just gets redirected to ISP search page.  I may be blind, but I don't see any way to configure the website list explicitl

[2019-05-23 17:00] MichaelTunnell commented on #323
@GodKratos that is a great solution! it is convoluted and has a lot of setup but once it is done it works perfectly so thank you for sharing this solution!

@caltheon ISP redirects are awful. There are a few options though. 1.) disable internet like you did. 2.) change your DNS provider. 3.) use a separate extension ([Containerise](https://addons.mozilla.org/en-US/firefox/addon/containerise/?src=s

[2019-05-23 17:13] lhorace commented on #1422
What browser version and OS? I can't reproduce this here on Firefox 67.0 and Ubuntu 18.04?

See #1377 and #1347

You can help by translating and submitting a PR for review.

You have my thumbs up for this, this would really help in organize containers.

in firefox setting is missing whitespace between icon and text

Please show examples, e.g. screen shots?

[2019-05-23 17:31] lhorace commented on #1422
I somewhat was able to reproduce this, once the site is assigned to a container and you open link in a new tab. Clicking `Open in **Example** container` appear to do nothing. Clicking `Always remember my choice` on and off and clicking `Open in **Example** container` multiple times did it finally succeed.

[2019-05-23 17:50] CamJN opened #1423 "Multi-Account Containers interfering with 1Password non-deterministically"
- [x] "Firefox will: Never remember history" in the Firefox Preferences/Options under "Privacy & Security > History" is NOT selected
- [x] You are NOT using Firefox in a Private Window
- [x] You can see a greyed out but ticked Checkbox with the description "Enable Container Tabs" in the Firefox Preferences/Options under "Tabs"

- Multi-Account Containers Version: 6.1.0
- Operating System + Version

[2019-05-23 23:55] GodKratos commented on #323
@caltheon I just browsed to the redirect URL in my address bar and it just fails to the load the site but still allows me to add it to the container. Remember to enter in the URL including the http:// part into the address bar and not the search bar. If you don't add the http:// it will try to do a search but it also sounds like your ISP does some search thing for unknown URLs?

[2019-05-24 10:36] Hultan commented on #1422
Talking about icons, I would like to add that a setting for the main icon would be awesome. The current icon does not match my current theme at all. See the image below, the upper part is the default look, and it is barely visible. The lower part is when I have the mouse over the icon, and then it is visible. I would love if I could choose another icon that fits my current theme better.

![multi-a

[2019-05-24 12:28] hightower5 commented on #1422
Hi,
I don't know why I had yesterday some problems. Today it works sometimes.

Yesterday I checked the option "Always open in **Banking**".  Closed tab. And entered the url in the address field. After this I got a new window with the question: Open this site in your assigned container?
-> Open in this Current Container? or Open in this Banking Container?
-> I have tried Open in this Banking Contai

[2019-05-24 12:49] hightower5 commented on #1422
What means PR for review? Are there some strings to translate, link?

Missing whitespace:
https://abload.de/img/container-tabs4zjwb.png

Different number of icons:
https://abload.de/img/settingsm1kii.png
https://abload.de/img/plugin4lj4m.png

[2019-05-24 13:26] y0lopix commented on #1420
Also, when disabling the module for Firefox in `about:addons` with this button :
![Screenshot 1](https://user-images.githubusercontent.com/13918281/58330759-e2824500-7e37-11e9-9db7-b6b5201ce84e.png)
All containers are reset and this does not happen when enabling the module. You can see the list of containers in `about:preferences#containers`

[2019-05-24 15:45] jcpro opened #1424 "Addin icon almost invisible when using Dark theme"
### Actual behavior
The Multi Account Container icon in the FF toolbar almost blends in with the default Dark theme FF making it difficult to see on certain monitors.  Even in Compact Dark mode the icon is still too dark to see.

### Expected behavior
The icon should stand out and be more visible when users are using Dark theme.

Normal Dark Mode:
![firefox_2019-05-24_09-43-20](https://user-images

[2019-05-24 15:49] lhorace commented on #1422
PR stands for Pull Request, see the Tabs above. I am not sure if the developers have any documentation for translating. I would presume one would need to dig into the code or you could wait for developers response and contribute; which may take some time as they are currently busy with other stuff atm.

For future reference, you can drag and drop images into the text box. This makes it easier to r

[2019-05-24 16:22] lhorace commented on #1422
@Hultan You might want to combine your report with this issue #1424 ?

[2019-05-24 16:28] Hultan commented on #1422
Thank you @lhorace, glad to see that this issue is already opened. I thought I could be lazy and add another icon issue with your issue, but I realize now that you were talking about other icons. Sorry :-)

[2019-05-24 16:31] Hultan commented on #1424
I have the exact same issue with FF and Linux Manjaro and the Adapta-Noko-Maia theme.

[2019-05-24 16:33] lhorace commented on #1422
Actually, it was open hour ago, heheh

[2019-05-25 07:55] udaykapur opened #1425 "Facebook container loses its icon from the list of containers"
Since upgrading to FF 67.0, I have noticed the icon which is shown next to the Facebook container from the list of containers has gone missing. After the first time it went missing yesterday, I chose a colored circle for it but it went missing again today.
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 18.04.02 LTS
- Firefox Version: 67.0
- Other installed Add-ons +

[2019-05-25 10:45] oripwk commented on #1289
I also think it would be great if we could configure different homepages for different containers.

[2019-05-25 12:30] udaykapur commented on #1425
Edit: typo

[2019-05-25 16:01] NessunoIM opened #1426 "Enhancement: add exceptions to created rules, for open site in other tabs"
Could be useful to have the possibility to add exceptions to created rules.
Example based using Temporary Container (https://github.com/stoically/temporary-containers) but applicable for each containers.

For pre-created rules, if I want open (for example) Facebook in a different container (not the fb tab) such as temporay container, or another container, unatantum, it is not
possible.

Ultimately

[2019-05-26 02:20] raulcano commented on #339
Hi all,
In the meantime, as it has been suggested by someone else in this thread (in 2017!), I can only recommend you all to use Containerise, which allows you to export all your config in a text file and import it as easily:
https://addons.mozilla.org/en-US/firefox/addon/containerise/#&gid=1&pid=4

Have fun!
Cheers,
Raúl.

[2019-05-26 04:02] T3chminator commented on #339
How to use it?

On Sun, 26 May 2019 at 03:21, raulcano <notifications@github.com> wrote:

[2019-05-26 07:32] skank opened #1427 "Ability to backup config to a file"
Recent events has caused users to lose their configs.
The config is rather cumbersome with a lot of clicking etc.

Ideally we should be able to export settings to a file.
As an example uBlock & uMatrix has this very essential feature.

[2019-05-26 12:47] raulcano commented on #339
Hi @T3chminator
It is rather simple, but you have to know where and in which format to add
the input.
Install the addon, and in the new icon that appear in your brower, click on
the "pencil" button (CSV editor).
Paste the following as an example, and save it. You will have a few
containers with the names assigned below:

!*.amazon.com , Shopping
!*.calendar.google.com , Google
!*.contacts.google.c

[2019-05-26 15:27] grahamperrin commented on #864
True, but it's an extension that might help to minimise the future possibility of a user shooting himself or herself in the foot.

I should encourage a more fundamental re-think. Essentially:

- disabling the containers feature of Firefox must not delete container-related data.

[2019-05-26 16:34] dannycolin commented on #864
@grahamperrin FYI, https://bugzilla.mozilla.org/show_bug.cgi?id=1549204

[2019-05-26 16:43] grahamperrin commented on #864
Thanks, I began following that bug a couple of weeks ago but hadn't digested it. I'm with https://bugzilla.mozilla.org/show_bug.cgi?id=1549204#c3

[2019-05-28 16:11] MisterT87 commented on #1420
+1 - On Windows 10 x64 (1809) and Firefox 67.0 I have the exact same problem

[2019-05-29 14:07] hightower5 commented on #529
Please add a multi language support for this extension.

[2019-05-29 16:15] julien-garrigue commented on #1427
Ah yes, that would be very very useful to save the config somewhere. Thank you

[2019-05-29 16:20] julien-garrigue commented on #1409
I think this is related to this feature request: https://github.com/mozilla/multi-account-containers/issues/1427

[2019-05-29 16:20] julien-garrigue commented on #1420
I think this is related to this feature request: https://github.com/mozilla/multi-account-containers/issues/1427

[2019-05-29 23:27] piecevcake opened #1429 "Please make available code to restore/import tabs into original containers"
Clearly you have worked with Mozilla to achieve this in firefox open/close and session restore.

Please make to code available so that onetab, tree tabs and bookmarking addons can use it to enable restore of THEIR saved tabs into the original containers.

Thanks.

(_Additional_ to https://github.com/mozilla/multi-account-containers/issues/1430)

[2019-05-29 23:45] piecevcake opened #1430 "Feature request: button to set container for all imported, restored, or new tabs"
I and thousands of other users import bulk tabs regularly if not daily.  From tree tabs saved groups, which restores a TREE structure of tabs in sidebar (also from Onetab, bookmarks, etc).

When saved they are in containers.  But none of these facilities allows restoration into the original containers.

**With Tree tabs, "reopen tab in container" loses the tree structure, so the backup facility is

[2019-05-30 00:14] lhorace commented on #1429
Hello,

There's possibility you are barking up the wrong tree here. To understand this correctly, you want to export data from MAC that include container name, assignments, additionally with TAB information? If this is the case, sounds like a good idea. Though it would need votes to change priority.

Technically speaking, correct me if I'm wrong here, MAC is adding and simply exposing/using contai

[2019-05-30 00:18] lhorace commented on #1430
Possible duplicate https://github.com/mozilla/multi-account-containers/issues/914

[2019-05-30 00:29] piecevcake commented on #1430
NOT a duplicate.

 #914 refers to the opening of _links_  and requests change to the default behaviour I am happy with for links.

(There is now an option to open individual links in different container so  #914 is basically solved.)

[2019-05-30 00:30] piecevcake commented on #1430
-----------
NOT a duplicate.

#914 refers to the opening of links and requests change to the default behaviour I am happy with for links.

(There is now an option to open individual links in different container so #914 is basically solved.)

[2019-05-30 00:36] lhorace commented on #1430
Right, though I think it's all encompassing, anyway see #1343, #1318, but #847 might be what you looking for.

[2019-05-30 00:40] lhorace commented on #1429
You also might want to chime in on https://github.com/mozilla/multi-account-containers/issues/1427

[2019-05-30 03:23] terrizgit commented on #1354
I disabled Conex - same problem. Then I disabled ALL my other add-ons - I get the same behavior :(

[2019-05-30 13:37] blackjackshellac commented on #1249
This should be the "default" behaviour.

[2019-05-30 20:39] CamJN commented on #1423
New info, it only works to have both MAC enabled alongside 1password if 1password is loaded by firefox first, is there a way to control this? Right now i'm either having to get lucky or disable MAC when starting firefox then enable it afterwards once 1password has already loaded.

[2019-05-31 11:39] mcepl commented on #339
You know I hate you, don't you? With upgrade to FF67 I have to reconfigure all my containers AGAIN.

[2019-05-31 21:07] hightower5 commented on #1422
Please [Support different Languages](https://github.com/mozilla/multi-account-containers/issues/529).
And Vote for an internationalized extension.

[2019-06-01 00:00] lhorace commented on #1249
Hi @kurobeats and @blackjackshellac Might want to move discussion over to #847.

Cheers

[2019-06-01 16:46] dlee commented on #1194
I can confirm that the "Always open in Default" checkbox is disabled. The checkbox only becomes available if you're on a non-Default container.

[2019-06-02 05:57] Zeklandia commented on #1208
I did this once and it worked fine. I added a new container, closed Firefox, edited `containers.json`, and when I opened Firefox back up, all my containers were gone, replaced by the defaults. All the more reason for Mozilla to implement this feature!

[2019-06-03 10:29] mario-areias commented on #313
@samuel-crypto thanks for the work you are putting into that. Really appreciate this. That's a feature I would like very much to have, so let me know if there is anything I can do to help. Test, docs, development whatever.

[2019-06-03 16:29] nilskp opened #1431 "Make selected containers Private"
I really dislike the fact that extensions can view my webpage when I'm on sensitive pages. The only way to disable extensions per session seems to be in Private mode. It would be nice to assign e.g. the Banking container as  a Private container, thus leveraging the disabling feature of extensions.

Or better yet, specify which extensions are allowed to run per container, but that may be more work.

[2019-06-03 17:35] GLComputing opened #1432 "Option to move/copy cookies and other data"
When selecting "Reopen in Container", then "Always open in ..." so the site always opens in a new container, it would be useful to add an option to move or copy any cookies and associated site data.

Especially useful for new users to move sites into containers and not leave all the old cookies/data in the default.

[2019-06-03 19:06] ALTanir commented on #1412
I think the multi-account container-list for open in new'option would includes by authors as to toggle selection on all the names. That is, ### **"Open Link in New Container Tab"-option will show a toggle selection** system. I find it my dreams up to date for ["container-opener"](https://addons.mozilla.org/en-US/firefox/addon/container-opener/) that a nice creation. It can install only by debug-op

[2019-06-03 19:25] GLComputing commented on #339
It's a shame that the Container allocations aren't accessible ... Containerize and Mozilla's MAC don't share the data. I wonder what happens if they conflict?

[2019-06-04 18:45] kbenson commented on #1361
As a very simple way to test this bug, if you have a google container that requests you switch when accessing google.com URLs, and to a Ctrl-k search for "at&t", after authorizing the switch to the google container you'll find your search is for "at".

The full chain looks like this:
1) Ctrl-k search for at&t and redirected to container chainge confirm page with URL moz-extension://bd774d98-6895-4

[2019-06-05 06:03] LoZio commented on #469
Adding to the voters here! I just switched to Firefox from Chrome just to use the containers feature. I usually have no history recorded and discovered the feature is not available.
On my part, I see more confusion installing an extensione (fb containers) or reading docs about containers and then not having the way to use it without apparent reason, than having them both working. At least we need

[2019-06-05 09:54] Rob--W commented on #1361
@stoically This bug has steps to reproduce (last comment) and a description that is a hint towards the simple fix (original report).

Could you slap the good-first-bug label on this issue?

[2019-06-05 10:56] arnout commented on #1421
For the "joining", you can always reopen a tab in a new container, and afterwards you can set the "Always open in ..." option to persist it. So that feature is not strictly needed.

It would be useful instead to have a right-click option to open a URL in the same container (when the default is to open it into a new site-specific container). The latter would actually be useful in general: I have a

[2019-06-06 00:06] wirkkalaj commented on #1390
I used the developer tools to see the cookies for that particular site, but is there a way to see all of the cookies for a particular Container? That would be a nice feature. Even if it was only through the multi-container extension. I realize adding that to the browser options would be difficult.

[2019-06-07 08:37] silverwind commented on #1424
👍 I think the icon should respect dark themes and be of the same color as the hamburger here:

<img width="56" src="https://user-images.githubusercontent.com/115237/59091685-25e8b300-8910-11e9-8e57-cbd8f7aa26bb.png">

[2019-06-07 18:44] yipivan commented on #313
I just searched this function online and found the Sidebery plug-in which allows you do this.

[2019-06-07 20:17] RobinDanielSandlin opened #1433 "Tabs open in reverse order from previous close"
- Multi-Account Containers Version:
- Operating System + Version:
- Firefox Version:
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior
Tabs open and are displayed in reverse order from when the container was last closed/hidden

### Expected behavior
Tabs should open in the same order they were when the container was closed.

### Steps to reproduce
1. Open a contai

[2019-06-08 08:49] scheinercc commented on #1375
Is this the right place to add this to? Wanted to file a ticket that the URL under "...for this site" is not readable in Nightly with `dark mode` enabled in macOS (which then makes the Firefox `default theme` appear just as the `dark theme`):
<img width="1018" alt="image" src="https://user-images.githubusercontent.com/817856/59144649-e7411e80-8a1d-11e9-94dc-bffbcf40d2d5.png">

[2019-06-08 11:41] antoni-k opened #1434 "Feature Request: Option to automatically exit container"
This is a feature request for an option that would allow a container to act much like the Facebook Container extension - it would only activate when a listed site is opened, and deactivate when you navigate to a site which is not on that list.

[2019-06-08 12:01] antoni-k commented on #1434
Something like [this addon](https://addons.mozilla.org/en-US/firefox/addon/container-outgoing-links/) would be great.

[2019-06-08 12:44] bah2830 commented on #313
I've been using this plugin for the proxy feature and it works well. Only issue is that if I close the sidebar the proxied containers stop going through the proxy.

Really hoping to see this natively supported in the multi-account-containers plugin soon

[2019-06-09 06:32] ThinkWithPbody commented on #1424
I'm currently using Firefox Color and I hope changes made there could reflect on the icon for MultiAccount Container.

[2019-06-09 06:34] ThinkWithPbody commented on #1375
I'm currently using Firefox Color and I'm hoping that they could make the two compatible.

[2019-06-09 16:52] silverwind commented on #1424
Filed https://github.com/mozilla/multi-account-containers/pull/1435.

[2019-06-09 21:06] NessunoIM opened #1436 "Facebook container prevent me to view fb embed video in other sites"
- Multi-Account Containers Version:
- Operating System + Version:
- Firefox Version:
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior

### Expected behavior

### Steps to reproduce
1.
2.
3.

### Notes

[2019-06-09 21:08] #1436 closed

[2019-06-11 15:17] thbmatrix commented on #339
Considering @jonathanKingston 's comment (and recently @pierlauro 's updates) regarding what's harder and what's (not so) easier, I would like to share my opinion too, just for the sake of adding (I don't see any other way of helping)!!

1. Assignments ==> Would be amazing, but it's possible to survive without it.
**2. Containers ==> Please, please, please, please, please... It's killing me to add

[2019-06-11 15:37] pwd-github commented on #339
At this point, there's little point in continuing the discussion. There has long been a pull request to add, or at least pave the way for the functionality in #1197 and that's been ignored. At this point, we need to find out what Mozilla wants to do with containers. As hampering their development doesn't make logical sense unless there's a plan for them.

[2019-06-12 04:59] frezbo commented on #365
I have a use case where I have assigned multiple cloud accounts to different containers. I use a tool called [aws-vault](https://github.com/99designs/aws-vault) to login to each of these accounts. So if the firefox CLI has an option to pass the **container** name the on which the URL needs to be opened, I can easily write a wrapper to open the different AWS accounts on the specific container, thus

[2019-06-12 05:35] byteit101 opened #1437 "Session cookie-protected PDF's can't be correctly saved from container tabs"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Debian 9
- Firefox Version: 60.7esr
- Other installed Add-ons + Version + Enabled/Disabled-Status:
Adblock Plus - free ad blocker	3.5.2	true	{d10d0bf8-f5b5-c8b4-a8b2-2b9879e08c5d}
CanvasBlocker	0.5.10	true	CanvasBlocker@kkapsner.de
Decentraleyes	2.0.11	true	jid1-BoFifL9Vbdl2zQ@jetpack
Don't Fuck With Paste	2.3.1	true	DontFuckW

[2019-06-12 09:20] KolyaKorruptis commented on #309
Not sure if this is the right place:
I'd like to enable work related extensions in the work-container only. And privacy related extensions in my private-container only.

[2019-06-12 09:27] xRiot opened #1438 "Feature request for moving container position in list"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Debian 10 Buster (64bit)
- Firefox Version: 68.0b9 (64-bit)
- Other installed Add-ons + Version + Enabled/Disabled-Status: Dark Reader / Firefox DevTools ADB Extension / Floating Player / Hide Tabs / React Developer Tools / uBlock Origin / User-Agent Switcher / Simple Tab Groups (disabled)

### Actual behavior
There is no opti

[2019-06-12 13:50] hightower5 opened #1439 "Not a real Container"
Containers creates cookies out of containers. I found in the privacy and security settings cookies from the used containers. This is not really useful and desired.

[2019-06-12 15:19] daysofwineandroses commented on #365
Came here for the exact same use case as @frezbo

[2019-06-13 05:51] lhorace commented on #1439
Hello,

Can you explain how have you determined that?

Regards.

Images welcome.

[2019-06-13 07:14] falolaf commented on #1438
Have a look here:
https://github.com/mozilla/multi-account-containers/issues/1208

[2019-06-13 14:26] hightower5 commented on #1439
![Container](https://user-images.githubusercontent.com/18751660/59440909-ffd37f00-8df7-11e9-866d-5cfefcacc13d.png)

[2019-06-13 21:36] rafaeldff opened #1440 "New feature: keybinding for "reopen in container""
It would be nice to be able to reopen the current tab in a specific container with the keyboard. It doesn't even need to introduce a new keybinding. If the "reopen in container" option were available everywhere the "send page to device"  submenu option is, we could trigger it with the keyboard via F6 and Shift+F10 (or open-popup-menu key if the user's keyboard supports it).

[2019-06-14 07:06] ciato commented on #1422
It seems like the clickable part is only on the left side of the button text. If you click there, the button works fine.

[2019-06-14 07:15] mvdan commented on #1194
I usually don't like plus-one comments, but I agree with this thread. I found it surprising that the tickbox was disabled. I made my setup with the default plus a work container, and the setup isn't nearly as powerful if I can't fix certain sites to the default container.

Of course, I could replace the default container with a "personal" container of some sort. However, why is that necessary? Tha

[2019-06-16 13:47] lhorace commented on #1439
That's not completely accurate, what's happening here is Cookies and Site Data lumps all cookies together and appears to be a platform bug, see https://bugzilla.mozilla.org/show_bug.cgi?id=1480175 and https://bugzilla.mozilla.org/show_bug.cgi?id=1485309. MAC does containerize site cookie data, you can test yourself using steps below:

1. delete all paypal cookies
2. create a container
3. log into

[2019-06-17 07:01] mvdan commented on #854
https://github.com/mozilla/multi-account-containers/issues/1050 is similar, but not the same issue.

@groovecoder any chance this issue can get a second look? Are you open to contributions?

[2019-06-17 07:33] mewwts commented on #854
Can we reopen or create a new issue for this?

[2019-06-17 08:45] NessunoIM opened #1441 "Enhancement: less steps to open site in a container"
It would be very useful the possibility to open a site (early setted to open in a container) directly from address bar: see image below, especially (but not exclusively) for sites where I set to open in a specific container, without check "remember decision for this site".

![open shop](https://user-images.githubusercontent.com/19640640/59590709-f2b2da80-90ec-11e9-8f3f-d61d781b696c.png)

[2019-06-17 08:53] lhorace commented on #854
Source https://github.com/mozilla/multi-account-containers/issues/323#issue-211632110

I'm a bit confused, isn't what #323 is trying to imply here?

[2019-06-17 14:49] mewwts commented on #854
To me #323 is about right-clicking on a bookmark and opening it in a specific container. The way I understand this issue is being able to create, say, 3 bookmarks that each open a specific link, e.g. gmail, in different containers.

[2019-06-18 09:39] brendanjones commented on #1441
This. That "Open this site in your assigned container?" window is completely superfluous UX. The user has already selected they always want the site opened in a particular container, there's no need to ask again. Skip this screen.

[2019-06-19 05:34] benyanke opened #1442 "No workaround to "Always open site in container""
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 18.04
- Firefox Version: 67.0.3 in ubuntu snap

### Actual behavior
When a site is selected to always open in a container, it's impossible to work around, at least using the tab right-click dropdown "reopen in container".

### Expected behavior
When specifically selecting "reopen in container," the user would expect tha

[2019-06-19 08:38] ite-klass commented on #1356
I have no tech insight into why it should be there rather than here, so my argument/ticket would be weak. So I won’t do that.

[2019-06-20 06:59] mvdan opened #1443 "Please reconsider or reopen #854"
I believe https://github.com/mozilla/multi-account-containers/issues/854 was prematurely closed, and a number of people have been asking for it to be reopened in the last year.

It seems like the developer who closed the issue didn't fully grasp the point of the issue, and assumed it was a duplicate. He said "please re-open if not", but we can't, and noone is paying attention to the closed issue.

[2019-06-20 07:00] mvdan commented on #854
It seems like comments here are being sent to the void, so I've opened https://github.com/mozilla/multi-account-containers/issues/1443 in case any active developers aren't aware of the situation.

[2019-06-20 18:51] michaeljfriedman commented on #1421
I fully support the implementation of this feature, though we should also be aware that this can create a very frustrating experience and should be carefully designed. For instance, sites like eBay and PayPal which are very closely integrated and rely on sharing cookies to process payments would be broken if completely isolated (at least, without user intervention). Someone technical who understan

[2019-06-21 17:04] onionjake opened #1444 "Popup escapes its container: launch google meet in gsuite"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 19.04
- Firefox Version: 67.0.3
- Other installed Add-ons + Version + Enabled/Disabled-Status:
Bitwarden - Free Password Manager	1.39.3	true
Easy Container Shortcuts	1.3	true	firefox.container-shortcuts@strategery.io
Firefox Multi-Account Containers	6.1.0	true	@testpilot-containers
Notes by Firefox	4.3.5	true	notes@mozi

[2019-06-21 17:14] onionjake commented on #1444
I just tested this on a regular google account (not gsuite) and it correctly opens the link inside a container, so I can only make this happen google calendar with gsuite.

[2019-06-21 18:02] onionjake commented on #1444
The other strange thing about this is I have pop-up blocking enabled without an exception for this website.  Using `window.open()` from the javascript console gets blocked... I'm curious why the popup (that is also outside my container) isn't blocked.

[2019-06-22 03:02] lhorace commented on #854
From my point of view, how is this different from the latter? I believe both issues are the same albeit slightly different in workflow. That as if I am following you response correctly.

From my view, that's exactly what the other issue is trying to solve. _Isn't_ it to associate a container with a bookmark? If not, please clarify.

The intent here is to consolidate issues.

[2019-06-22 03:10] lhorace commented on #854
@mvdan

It's not that it's going to a void, there is no one available to work on it. The one's who were active recently have went AWOL. Perhaps opening a issue to open existing issue my not be the way to go. And from what I understand @UserNaem should be able to reopen, however re-opening the issue doesn't necessarily mean any work will get done on it. Bear in mind, that issue has more votes, and

[2019-06-22 08:31] mvdan commented on #854
We can agree there. But as others said, #323 is mainly about manually opening a bookmark in a specific container. It does mention that it would be nice to set a default too, but it's entirely possible that the issue will be closed/fixed without implementing both features.

Also, what I meant by "the void" is that it's easy for closed issues to go unnoticed. I also don't expect every open issue to

[2019-06-22 08:34] mvdan commented on #1443
For some context - #323 is related, and does mention this feature on the side:

So perhaps they are duplicates, as long as #323 requires this feature too. The other option is to keep the two features (manual vs automatic container selection) in the two separate issues, thus reopening #854.

[2019-06-24 08:55] Self-Layer opened #1445 "Edit Container not working in popup window"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Windows 7 V. 6.1 Build 7601 Service Pack 1
- Firefox Version:67.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status: Disabled all other Add-ons & restarted --> the behaviour remained the same

### Actual behavior
Click on Add-On-Icon > "Edit Containers" > Click on any of the Pen-Symbols > Nothing happens

(If I c

[2019-06-24 14:56] lorkh4n opened #1446 "Keeper/Multi-Account Container incompatibility"
Unsure if this is an issue on this end or Keeper's end.

- Multi-Account Containers Version:6.1.0
- Operating System + Version:Windows 10 Enterprise
- Firefox Version:67.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status:Keeper Password Manager 12.3.5

### Actual behavior
When running Keeper addon (using SSO), unable to sign in to Keeper, redirects back to corp login page, even afte

[2019-06-26 10:14] quenna999 commented on #1446
hi there,we are looking for apple enterprise accounts due to company urgent project.
plz any one know about this account?can help us with this.would like to pay for it.
fanboer@gmail.com
skype:live:fanboer

[2019-06-27 11:30] voidstarstar commented on #469
It should be noted that starting in Firefox 67, extensions will be disabled in private browsing by default.  This means that any potential confusion caused by private browsing would have required a user to manually enable this extension for private browsing.  Since a user now explicitly needs to enable this, I think the risk of confusion is greatly diminished.

[2019-06-27 11:55] voidstarstar commented on #1248
@groovecoder I think this might be a slightly different issue.  #469 is for **Permanent** Private Browsing Mode but this issue seems to be concerned with regular Private Browsing Mode.  I don't think the [suggested patch](https://bugzilla.mozilla.org/show_bug.cgi?id=1320757) for #469 would allow this extension to work if the user just hits `Ctrl`+`Shift`+`P` since it still checks `PrivateBrowsingU

[2019-06-28 08:48] girst opened #1447 "Release new version and publish on AMO"
There have been 10 commits since latest released version (6.1.0) was released on AMO, including a fix for http://bugzil.la/1539507 (buttons on 'always open in' page not working).

Please release a new version that includes this fix on AMO.

[2019-06-28 11:25] valignatev commented on #309
Another use case: enabling VPN or proxy plugin only for specific container.

[2019-07-02 10:14] eoghanmurray commented on #339
I presumed Firefox sync wasn't working because my containers didn't show up on the new device.

[2019-07-03 09:00] janw-me opened #1448 "Icon does not show when dark theme is selected"
I switched to dark theme (a default buildin color scheme).
And the icon was invisible. Below is the screenshot of the hover state which is visible but barely.

I'm on vanilla Ubuntu 19.04 with Firefox 67.0.4
Container version 6.1.0 last updated 25 jan 2019

![image](https://user-images.githubusercontent.com/1026882/60578323-48d87c80-9d81-11e9-8977-6c4ec43e365f.png)

[2019-07-03 11:17] hightower5 commented on #1422
You are right. The highlighted text isn't clickable in the middle of the button text.

[2019-07-04 17:57] jgoding77 opened #1449 "Firefox multi-account containers 'forgets' assigned sites"
-->
- Multi-Account Containers Version:
- Operating System + Version: Occurs both in Win10 and Win 7
- Firefox Version: 67.0.3 (64-bit) )Win 7)
- Other installed Add-ons + Version + Enabled/Disabled-Status:
All enabled: Canvas Defender, DuckDuckGo, Facebook, Multi-Account Containers, Ghostery, Grammarly

### Actual behavior
After assigning sites to individual accounter multi-account containers rep

[2019-07-06 17:48] benelori opened #1450 "Installation aborted because the add-on appears to be corrupt."
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 19.04
- Firefox Version: 66.0.3
- Other installed Add-ons + Version + Enabled/Disabled-Status:

AdGuard AdBlocker	3.2.1	false	adguardadblocker@adguard.com
DuckDuckGo Privacy Essentials	2019.7.2	false	jid1-ZAdIEUB7XOzOJw@jetpack
Enhancer for YouTube™	2.0.92	false	enhancerforyoutube@maximerf.addons.mozilla.org
Facebook Co

[2019-07-06 19:10] benelori commented on #1450
I think this is integrated by default in the newer versions of firefox.

[2019-07-06 19:10] #1450 closed

[2019-07-06 23:56] mozjag commented on #503
I would like this as well. I use containers for sites like Reddit and banks, but have most other stuff, including all the Google sites, in the default "container" (not really a container, but that's now my mental model). I'd therefore like to have YouTube automatically open in default and not the Reddit container.

Yes, I _could_ migrate all my Google stuff to a new Google container and work aroun

[2019-07-07 17:46] irvinm commented on #1448
I agree.  It would be beneficial to provide an option to display a lighter icon that better supported dark themes.

![image](https://user-images.githubusercontent.com/979729/60771998-75600180-a0bd-11e9-867b-c5d54ca5d571.png)

[2019-07-08 06:38] msdobrescu commented on #1199
This is a long awaited feature by me. Regular users might understand the containers, but might not start learning json to sort it manually. Please add such feature in the UI.

[2019-07-08 09:24] Amalinda opened #1452 "global containers per website acrross all firefox sessions"
Hi, I am forwarded by ([this tweet](https://twitter.com/firefox/status/1148145781746143232))

Firstly, thanks for everyone behind this important add-on who made this possible. This is one of the best add-ons invented. I am not reporting a bug, rather a proposal to a feature I think might make this add-on more practical.

We all have noticed how every Facebook link always opens inside the "Facebook

[2019-07-08 14:18] rthompsonhi opened #1453 "Feature Request -> Reopen in Container (Always)"
This request is to expand upon "Reopen in Container ->" list.   Provide a second menu item "Reopen in Container (and Always open in Container) ->" list.   The intent being, when moving a tab to a new container, it auto-adds the site to the "Always Open in this Container" config and a user doesn't have to perform two steps.   This could be a configurable option if necessary.

Thanks

[2019-07-08 22:20] openjck opened #1454 "Keyboard shortcut conficts with 1Password"
1Password uses the same default keyboard shortcut:

<kbd>Ctrl</kbd> + <kbd>.</kbd>

As a result, it's occasionally not possible to open 1Password with its default keyboard shortcut if this extension is installed.

[2019-07-08 22:23] openjck commented on #1454
It may be worth asking whether this extension needs a keyboard shortcut at all.

[2019-07-09 07:18] vsrawat opened #1455 "containers gone on disabling/ enabling add-on"
I had some problem with fb on fb, I started ff in safe mode, that disables all extensions and then I enabled them one by one and found the cause of the problem.

however I found that all my defined multi-containers are gone on disabling/ enabling this add-on.

Why should it happen?
Disabling is not removing an add-on, disabling doesn't mean you should delete all content without asking the user or

[2019-07-09 07:22] vsrawat opened #1456 "open in default containers - why should I choose container name?"
When I open some website that, due to your shabbily made add-on, doesn't open in its default defined container - I am supposed to "reopen in container and choose container name"

why should I choose container name?
i have already defined it and it is stored with you. My container settings are showing that association. In fact the site should have opened in that container on the first click itself.

[2019-07-09 07:25] vsrawat opened #1457 "website and container association being asked repeatedly."
When I defined a container and set the sites that are to open in that, I open the add-on's setting in tool bar, click on "always open in default container".

however on next session, when I click on a website, I am first presented with a tab asking "always open in default container". Why am I asked that again when I had already clicked on that in your settings.

[2019-07-09 07:27] vsrawat opened #1458 "website and container association not sticking or not being followed"
even I have defined container-website assosiation, and I can see that association again in your setting, the website opens first in no container and I have to choose "reopen in container" and give container name.

so website and container association not sticking or are not being followed.

[2019-07-09 08:56] tubize commented on #691
This would be a great addition, for instance when working with Azure Devops.
I work for a company that does a lot of projects for other companies, often I need to switch back and forth between their devops and ours. Now I do it in an incognito window, but it would be great if
dev.azure.com/MyCompany     and
dev.azure.com/TheOtherCompany
would open in a different container automatically, keeping me

[2019-07-09 17:14] tomrittervg commented on #1415
Is this as simple as using storage.sync instead of storage.local?  (Not counting the transition where you might need to check both, and propagate and whatnot...)

[2019-07-09 17:26] groovecoder commented on #1415
Duplicate of https://github.com/mozilla/multi-account-containers/issues/339. Please upvote and comment there. I'm going to uplift the comment about `storage.sync` over there.

[2019-07-09 17:27] #1415 closed

[2019-07-09 17:36] groovecoder commented on #339
Noting here for posterity ...

https://github.com/mozilla/multi-account-containers/issues/1415#issuecomment-509728750 made me realize that integrating code from [containers-sync](https://addons.mozilla.org/en-US/firefox/addon/containers-sync/) may be a straightforward way to do this.

[2019-07-11 11:23] roman-io opened #1459 "Container forgets logins"
### Notes
This is the most important plugin for me in Firefox, this is THE reason why I moved from Chrome to Firefox. Please continue developing this plugin and add new features.

### Context
Multi-Account Containers Version:6.1.0
Operating System + Version: Ubuntu 16
Firefox Version: 67.0.4

### Actual behavior
Forgets logins (probably cookies)

### Expected behavior
Remembers logins

### Steps t

[2019-07-11 13:52] kyounger commented on #1454
You can reassign keyboard shortcuts in fairly recent versions of firefox.

[2019-07-11 15:40] ksmithut commented on #1454
@kyounger Where does one change the keyboard shortcut for the multi-account-containers plugin? I know it's possible to change the 1Password keyboard shortcut (although it's changed within the plugin specific settings), but I never use (or never need to use) the keyboard shortcut for this plugin

[2019-07-11 15:44] ksmithut commented on #1454
Found it. In the Addons menu, Click on extensions, then click on the gear on the top right corner, then select the Manage Extension Shortcuts. There you should be able to change or remove the shortcut for any of your extensions.

[2019-07-11 18:15] openjck commented on #1454
I didn't know about that. Thanks!

Still, I think it's unfortunate that this add-on overrides the shortcut of a more popular add-on, especially considering that I can't imagine a case where I'd want to use a shortcut to activate this add-on.

[2019-07-12 02:00] michaelblyons commented on #1252
I do not appear to have an `@testpilot-containers` folder there.

[2019-07-12 09:35] tigerjack opened #1460 "How to use external authentication services"
I still haven't figure out how to deal with this specific case.
Suppose I have container A (www.myuniversity.it for example) and a container B (www.govservice.gov for example); I have set an "Always open on this container" for sites belonging to the corresponding domains.
However, on site www.myuniversity.it there is an option to login using a redirection to govservice.gov; whenever I use this opt

[2019-07-12 14:37] s3rvant opened #1461 "Request: Customize other add-ons per container"
Not sure if this is even possible however I would love to be able to customize which add-ons are enabled (and even their configurations) per container.

As an example I prefer to run NoScript all the time however it occasionally gives trouble for particular sites and rather than disabling the add-on it'd be awesome to just reopen the tab in a different container that has the entire NoScript add-on

[2019-07-12 14:44] groovecoder commented on #1461
This requires platform work too: https://bugzilla.mozilla.org/show_bug.cgi?id=1365019

[2019-07-12 18:38] graial opened #1462 "Disable javascript in some containers"
Good evening,

I understand that this is outside of the scope of the main use case for this feature but is it possible to disable javascript for some of the tabs type available within this extension?  If no, is that a significant or trivial change?

I'm, interested to hear your feed back on this as sometime I find myself on webpages with very hungry scripts

[2019-07-12 22:38] SamSirry commented on #1434
With this requested feature, following links from Facebook may still expose you, because Facebook appends the ClientID to the URLs which you click to from its site, and when you land on another container, trackers can link this container with the Facebook container, defeating the usefulness of using containers in the first place.
P.s.: Even if you disable 3rd party cookies, that doesn't help. Howe

[2019-07-13 06:45] tallthom opened #1463 "Grammarly add-on not active in containers"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: MacOS High Sierra 10.13.6
- Firefox Version: 67.0.4
- Other installed Add-ons + Version + Enabled/Disabled-Status: Grammarly (8.852.2307), LastPass (4.29.04)
Firefox Multi-Account Containers	6.1.0	true	@testpilot-containers
Grammarly for Firefox	8.852.2307	true	87677a2c52b84ad3a151a4a72f5bd3c4@jetpack
LastPass: Free Password M

[2019-07-13 18:30] blackjackshellac commented on #503
Another vote for this feature.  Would it be easier to allow for configuration of the _Default_ container to be a different container so that when a new tab is opened it defaults the configured _My Default_.  Then you'd be able to click the _Always open in My Default_ checkbox.

[2019-07-15 04:39] #1452 closed

[2019-07-15 15:43] bdmorin commented on #1454
This thread helped me. Thanks.

[2019-07-16 16:48] ksmithut commented on #1423
@CamJN Is this similar to this issue? https://github.com/mozilla/multi-account-containers/issues/1454

[2019-07-16 16:53] CamJN commented on #1423
@ksmithut no, that issue seems to be about a keyboard shortcut conflicting, whereas this bug is about 1password somehow not being able to tell what the url of the current site is, when the 1password extension is loaded after the MAC extension by firefox.

I expect it's due to the MAC extension somehow isolating the 1password extension from the tabs. Maybe the 1password extension gets stuck in a co

[2019-07-17 14:47] #1424 closed

[2019-07-18 17:36] wfiveash opened #1465 "Want to list URLs that are set to open by default in a particular container"
- Multi-Account Containers Version:
- Operating System + Version:
- Firefox Version:
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior
I can not figure out how to list the URLs that will open by default in a particular container I created.

### Expected behavior
I would like to list all the URLs/websites that will open by default in a container I created called Ne

[2019-07-19 13:13] MrGoatsy opened #1466 "Can a shortcut key be added to go to an existing account container?"
For example: CTRL+ALT+NUM1 or something.

It would make using it easier.

[2019-07-22 08:42] Kjwon15 opened #1467 "Reopen in container - No container doesn't work"
- Multi-Account Containers Version:6.1.0
- Operating System + Version: Ubuntu 19.04
- Firefox Version: 68.0
- Other installed Add-ons + Version + Enabled/Disabled-Status:

<details><summary>Click here</summary>
<pre>
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.0	true	bing@search.mozilla.org
DuckDuckGo	1.0	true	ddg@search.mozilla.org
eBay	1.0	true	ebay@search.mozilla.org
Enhancer for

[2019-07-22 12:44] whisperity commented on #1466
How about CTRL-<ContainerID>-T, which is analoguous to the plain Ctrl-T? :grin: So Ctrl-1-T would be first container, etc.

[2019-07-22 13:53] MrGoatsy commented on #1466
That would work that key combination is hard to press.

[2019-07-23 15:42] chicagobuss commented on #319
Really appreciate the note, @tom-james-watson - this basically achieves the workflow I was hoping for.  External links from slack just use the currently-open container for context and that's PERFECT as far as I'm concerned.

[2019-07-23 19:04] lapega opened #1469 "Keyboard shortcut won't work"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 18.04
- Firefox Version: 68.0
- Other installed Add-ons: Gnome-shell 10.1, Background-tab 1.0 it, uBlock Origin 1.20.2 (all enabled)

### Actual behavior
When press Ctrl + . nothing happens

### Expected behavior
Press Ctrl + . and get a menu to open a new container tab

### Steps to reproduce
1. Install Firefox Multi-a

[2019-07-24 08:16] ywg-jean commented on #1469
same on OSX, none of the following opens the container tab
* cmd+.
* cmd+shift+. (on a french keyboard the dot requires shift)
* ctrl+.
* ctrl+shift+.

[2019-07-24 08:45] SCdF commented on #1194
It's frustrating that it isn't native in the extension, but [Containerise](https://addons.mozilla.org/en-US/firefox/addon/containerise/) as noted above seems to work for me here.

[2019-07-24 21:41] noahlz commented on #1450
"I think this is integrated by default in the newer versions of firefox."

Where can I find this feature in Firefox then? I'm on Ubuntu with Firefox 66.0.3

[2019-07-25 19:41] kendallcorner commented on #1314
Hi there, I used the other place the favicons were working.

[2019-07-26 16:18] Crismon96 commented on #1450
I have the same problem on Linux Mint with some of the add-ons I usually use on other operating systems. So my guess is that they are not already integrated and I am very interested in solving this issue.

[2019-07-26 16:30] Crismon96 commented on #1450
So, If you are a Linux-noob like myself then you might have forgotten to update OS-Software. i do that with the "Update Manager" in Mint. By that I installed the latest version of Firefox and now i can download the addons troublefree. Please note that this warning can also be reasonable and you should always only trust addons with sufficient download and reviews or a trustable source.

[2019-07-29 10:53] nclm opened #1471 "Unneeded separator in reopening menu when using only one container"
### Actual behavior
<img width="498" alt="image" src="https://user-images.githubusercontent.com/923008/62042840-54438a00-b1ff-11e9-883f-9cc178f714d5.png">

### Steps to reproduce
1. Have only 1 container
2. Open a tab in this container
3. Right click the tab and choose Reopen
4. The menu has the “No container” entries and then a useless separator

### Expected behavior

The separator should not be

[2019-07-30 06:34] akasaka99 opened #1472 "Cannot open different sessions"
- Multi-Account Containers Version:
- Operating System + Version: Mac 10.13.6
- Firefox Version: 68.0.1
- Other installed Add-ons + Version + Enabled/Disabled-Status:
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
AudioContext Fingerprint Defender	0.1.3	true	{ab0ae774-f22f-479b-9b1b-6aff11bf6f5c}
Bing	1.0	true	bing@search.mozilla.org
Blur	8.1.2491	true	donottrackplus@abine.com
CanvasBlocker	0

[2019-07-30 13:25] TriMoon commented on #1448
Maybe they could make use of the functions in the script i wrote at https://github.com/soldair/node-qrcode/issues/185#issuecomment-511446585 to check for difference in colors....

[2019-07-30 13:39] TriMoon commented on #1467
I am using Kubuntu 19.04, which is based on your Ubuntu version and using FF-Nightly.
I don't experience the behavior of the "new tab" page.

That said: Check if the tab you are trying to open this way is **not set to "always open in"**...

[2019-07-30 13:53] TriMoon commented on #339
I too am very eager to have this functionality build into this extension. (was about to open an issue just like this)

PS: Just FYI the repo for that would be: https://github.com/ramkumar-kr/containers-sync :wink:

[2019-07-30 15:21] kendallcorner commented on #945
@jonathanKingston I have fixed this. I am submitted a bug to bugzilla here https://bugzilla.mozilla.org/show_bug.cgi?id=1570005

I'm working on next steps to get this submitted for review.

![Screenshot from 2019-07-29 14-57-58](https://user-images.githubusercontent.com/3195251/62138693-aa6f0680-b2ad-11e9-9c3c-2106ee171bbc.png)

[2019-07-31 09:48] #945 closed

[2019-07-31 09:48] jonathanKingston commented on #945
Thanks @kendallcorner I just approved the change.

[2019-07-31 10:07] Abhinav1217 commented on #1024
Barging in the conversion after almost a year, I am having same issue, not just with pocket, but many other services.

For example, I can't login to disqus with my twitter account, I have twitter container. I can never login to dbdiagram.io which turned out not a problem from their end but my end because I am using google container.
I tried login after disabling all my addons, And was able to logi

[2019-07-31 12:36] kyounger commented on #1024
My solution to the pocket issue was to log in via the "no container" container. I might have had to set pocket to use that by default, can't remember.

[2019-07-31 17:54] lookbeat commented on #365
It would be great to get this implemented \o/

[2019-08-01 06:14] Abhinav1217 commented on #1024
I should have  been more clear, My issue  isn't with pocket specifically, But It is with using social login on any service. For example, I use twitter login on disqus, facebook login on multiple news sites, google login on multiple dev sites, etc. I have separate containers for all these social services.

So for example I am on someone's blog, and I want to add a comment on the post, and comments

[2019-08-01 16:44] samuel-crypto commented on #313
Thank you everyone!
I appologize greatly for the delay,
I will get to finishing it shortly.

[2019-08-02 16:28] Dormann commented on #1434
Then, all you need is an option to allow sanitization of URL like these addons do :
- https://addons.mozilla.org/en-US/firefox/addon/link-cleaner/
- https://addons.mozilla.org/en-US/firefox/addon/clean-links-webext/

In fact, this would be very intersting if paired with the feature request #691 (Always open URLs that match a pattern in a container).

[2019-08-02 17:06] NeatWolf opened #1473 "Can't open redirect-like links if the link is forced to open inside a specific Group"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Windows 10 Pro v1809 17763.503
- Firefox Version: Developer Edition 69.0b9 (64-bit)
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Name 	Version 	Enabled 	ID
Activate Steam Key from Context Menu	1.2.1	true	{fbd4f002-cfa9-4f50-ac44-d23398047d30}
Amazon.co.uk	1.1	true	amazon@search.mozilla.org
Augmented Steam	1.

[2019-08-02 17:08] samuel-crypto commented on #313
One more issue to solve (a small technical point) before it can be integrated is the cleanup (as mentioned by @jonathanKingston in the PR) - once this is solved it can be integrated (as far as I can see).

[2019-08-02 21:44] ndarville commented on #1410
I have this error when Instagram is set to the Facebook container. Force-opening in another container doesn’t work, and the auto-open setting is unchecked from the domain.

[2019-08-05 04:31] Kjwon15 commented on #1467
Tree Style Tab was the problem. I disabled it and works fine.

[2019-08-05 19:06] lhorace commented on #1024
@Abhinav1217 The workaround to this is to disable **Always open in X** for the Twitter domain. So in those instances, the necessary cookies remain in the container that initiated the login.

Regards

[2019-08-06 18:31] rafael-gssa commented on #323
Hi all, I've created an extension that makes the workaround posted by @GodKratos easier / faster to manage. Thanks for the workaround, by the way!

Install here: https://addons.mozilla.org/en-US/firefox/addon/container-bookmarks/
Source code: https://github.com/rafael-gssa/container-bookmarks

[2019-08-06 19:13] grnassar commented on #1467
Can confirm issue.  Are we sure this is a TST issue and not an issue with this extension?  Does an issue need to be opened with TST?

[2019-08-07 12:50] throwaway167 commented on #1282
Adding an import & export capability for Containers, Settings, & Container's URL lists would be a TREMENDOUS asset. — As someone who uses profiles across multiple PCs, and occasionally has to delete & recreate FF profiles. . . needing to **manually recreate all your containers and their associated URLs** can be _extremely time-consuming_ and a complete pain.

Would be MUCH appreciated, thank you!

[2019-08-07 18:21] craymichael commented on #1208
Follow up for vim users - easily pretty-print the JSON in-place using the editor command
[code]

[2019-08-08 13:59] uberentwickelt commented on #1469
It appears you need the Add-On in your toolbar or the overflow menu in order for the shortcut to work.

When you remove the icon from the toolbar, it appears long press on the new tab button is the only way to open a containers menu without going into settings.

[2019-08-08 15:39] lapega commented on #1469
Wow, such a strange behavior.

I don't like having addons buttons in the toolbar, I'm a minimalist person ;)
So I suppose I'll use the long press way meanwhile.

Thanks for the response!

[2019-08-09 08:08] dueyfinster commented on #1183
I will close the request on Mozilla for the same: https://bugzilla.mozilla.org/show_bug.cgi?id=1572403

[2019-08-09 12:12] Andrey9kin commented on #365
Would be very handy since I'm having multiple AWS accounts and links to different accounts need to be open in different containers. Was thinking to alias it but turns out there is no such option...

[2019-08-09 14:43] lutoma commented on #823
This is hugely annoying because it conflicts with the default shortcut used by the 1Password extension. While I can change that shortcut, I'd much rather remove the Multi Account Containers one which I never use.

[2019-08-11 09:11] ganomi46 commented on #1455
This is really annoying. I have to constantly recreate containers when going into safe mode.

[2019-08-12 21:10] alsoeric commented on #1473
I've experienced something similar. I don't know what triggers it but every so often when I click on a link I've associated with a specific container, the redirect request page doesn't work. You can't click on either button to open it in the right or current container. If I reload the page sometimes the buttons work. Again I haven't figured out the triggers are yet

Windows 10
Firefox 68.0.1
don't

[2019-08-12 21:42] alsoeric opened #1477 "[Feature request] default containers, grouping containers"
Two features that might be useful. The first is designating a named container as the default container.
The second feature is organizing containers to a window. Any time you open a container, that tab is moved to the window containing tabs of the same container.

[2019-08-13 13:43] rcarmo commented on #339
Same here. I just started organizing things into containers and was stunned that they didn't actually sync across machines.

[2019-08-13 16:01] JohnLGalt commented on #1208
I just realized something - my caveat above **_only_** applies if you change the values of the fields (such as **userContextId** - which I did to try to clean my list up the last time I reordered my list).

If you simply _reorder_ them **_without_** changing any **values** within each entry, the order changes but the logins are not reset.

[2019-08-14 10:39] t3mujin opened #1478 "Windows 10 - allowing to open container directly from Start Menu"
A nice enhancement would be allowing to open a firefox window of a given container directly from start menu. This could either be from right-clicking the icon or, for example, by adding an "Open in [Name] Container" in start menu, like in the following screenshot.

![image](https://user-images.githubusercontent.com/331767/63014955-a505e480-be87-11e9-9915-9af9d637e4db.png)

[2019-08-14 13:41] eskemojoe007 commented on #356
I actually love the one window, tabs of different types mix that containers allows, but I do wish that I could set the color and name of the "default" container.  AKA the default container shows up on the list, is customizable.

[2019-08-15 07:23] rnkn opened #1479 "Small aesthetic suggestion: first container is always highlighted"
Just a small aesthetic suggestion here. When clicking the MAC menu button to display the popup, the first saved container button is always highlighted/selected, with the blue plus button on the side:

<img width="382" alt="Screen Shot 2019-08-15 at 5 17 05 pm" src="https://user-images.githubusercontent.com/1256849/63079476-c3500b00-bf81-11e9-908b-445b48937333.png">

It feels like this shouldn't be

[2019-08-15 07:25] rnkn commented on #1479
p.s. For context, how I think the popup ought to look when first clicked:

<img width="339" alt="Screen Shot 2019-08-15 at 5 23 45 pm" src="https://user-images.githubusercontent.com/1256849/63079391-900d7c00-bf81-11e9-8dab-f9953cb3109d.png">

[2019-08-15 08:58] SolespireMarcus commented on #339
This is why I don't use Containers anymore; however, I still use Firefox as my default browser – it's superb in every other way.

[2019-08-15 15:14] furai commented on #313
This is something I'm looking forward to. Amazing feature to have. I've just found myself in work situation where I have to access some internal pages over other network. This would be perfect to have.

[2019-08-15 15:29] drmirk opened #1480 "[Feature Suggestion] Option to auto remove cookies of a specific container."
I have set a specific container for duckduckgo(search engine). And from those search results I visit various websites. Some are familiar and have specific container assigned to them. And some are unfamiliar. These unfamiliar website stores cookies, caches etc.

What I want is, whenever all sites of a specific container is closed, then all cookies, caches etc of that container will be automatically

[2019-08-15 21:56] samuel-crypto commented on #313
Glad you are! Really hoping to get a reply at the PR, haven't heard
anything there yet (one more issue needs to be resolved before it is fully
ready for integration).

On Thu, Aug 15, 2019 at 6:14 PM Lucas Grzegorczyk <notifications@github.com>
wrote:

[2019-08-16 13:32] Valeyard1 commented on #1450
Any news on this? I'm getting the same error :(

[2019-08-16 18:26] yphastos opened #1481 "New tabs opened within container tab don't mantain current container in certain cases"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: MacOS X 10.13.6
- Firefox Version: Developer Edition, 69.0b14
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior
Case 1, opening a frame in a new tab/window:
When we have a container with a page with frames, right clicking in a frame, and choosing `This Frame > Open Frame in New Tab`(also in ne

[2019-08-17 08:08] minmazeb commented on #1477
I endorse both of these suggestions.

While it is easy enough to open a tab in the appropriate container prior to visiting a page under normal browsing circumstances, the need for a user-definable default container is apparent when I click on a link in a non-browser application, which then triggers the OS to send the url to my default browser (firefox) for processing. Firefox opens such links in a

[2019-08-18 09:26] Ryonez commented on #330
I would also like to be able to sort the list please.

[2019-08-19 13:30] bisko opened #1482 "Feature Request: Option to open typed URLs outside of current container."
In my setup I'm sandboxing specific sites/systems in different containers. For example all Facebook related things are in one container, all Google related things are in another. This includes external services that use the specific container.

All other URLs are outside of any containers.

All is well, but sometimes when I'm finished with a site, I start typing in the URL and automatically press

[2019-08-20 04:23] falolaf commented on #1482
Perhaps what you want is possible to do with temporary containers addon:
https://addons.mozilla.org/en-US/firefox/addon/temporary-containers/
Together with MAC.
There is an option which opens site in new, temporary container, if the site is not set to "Allways open in" the current container. Don't think it is possible to open in "default" container though. Maybe worth a try in any case?!

[2019-08-21 04:05] franzjschneider commented on #330
Check out Simple Tab Groups. I ditch Multi-Account containers several months ago after getting fed up waiting for such a simple feature. Simple Tab Groups runs smooth and is great for organizing a large amount of tabs into different groups.

[2019-08-21 06:20] Ryonez commented on #330
@franzjschneider I'd really want to see that in action before installing that. I use Multi-Containers and temporary containers for the moment and am not sure that'd be a good replacement for my setup.

[2019-08-21 13:50] kendallcorner commented on #1314
That PR should close this.

[2019-08-21 14:34] s3rvant commented on #1302
+1 for containers at bookmark level

Could also use tags or keywords if URL isn't a good option

[2019-08-21 14:59] JohnLGalt commented on #330
I found a replacement for Tab Groups (Panorama) that works well on Nightly builds - https://github.com/projectdelphai/panorama-tab-groups (also available on AMO).
With this one I've been able to relegate my tabs that I only need grouped back to different groups, and relegate tans that I need to use multiple accounts with into MACs.  It's a win win.

[2019-08-21 16:53] avliet commented on #1282
Import/Export would make life a LOT easier when upgrading Firefox on my Debian hosts.  Right now every time I upgrade Firefox, I lose all my containers, sessions, everything. Not this this project's fault, but REALLY annoying.

[2019-08-22 06:01] wei2much commented on #473
Or provide an easy way to manually add domains to the containers' configs so I don't have to manually open up each tag and specify that domain to be always opened in certain containers. It would be much easier to manually generate some domain lists and paste it there.

[2019-08-22 10:02] stubbornGarrett commented on #1025
I got the same problem on imgur.com, but I am not using multi-account-containers.
Same procedure as in Marius Comans' screen recording, except, that I don't get a prompt to allow anything and I'm not logged in, after reloading the page.

[2019-08-22 19:15] yphastos commented on #1482
Ironically, you currently can take advantage of what I consider a bug ( #1481 )*

Instead of Enter, press `alt + Enter`, this will open the url in a new, non-container tab, regardless if the tab in which you typed was a contained tab or not.

*I consider it a bug because all "open new tab" operations (ctrl+click or middle click on links, alt+enter, right click+open in new tab, etc) should maintain

[2019-08-22 19:25] joebalancio opened #1483 "Shortcut does not open panel from Gmail"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: MacOS 10.14.4
- Firefox Version: 68.0.1
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior

Hitting the shortcut `ctrl + .` while in a tab containing `gmail.com` does not open the containers panel

### Expected behavior

Expected the shortcut to open the containers panel. In general I expect th

[2019-08-23 07:04] tigerjack commented on #824
Just a question: if 'getpocket' is not containerized to work around this issue, does it mean that pocket cookies are saved in each container? Wouldn't it defeat the main purpose of containers?

[2019-08-23 13:41] OdinGitDat commented on #473
For everyone in this thread I recommend [Containerise](https://addons.mozilla.org/en-US/firefox/addon/containerise/). It allows for full domain regex matching for specific containers.

[2019-08-25 22:46] dabockster opened #1484 "Feature Request: Integration with Firefox by Default"
Considering that cross site interaction (tracking or otherwise) is here to stay for the foreseeable future, and that major attempts to stop it are getting blocked (eg New York Times going around Chrome's Incognito fix), I think that this extension should be integrated as an out of the box feature in Firefox. It would give all Firefox users this functionality as opposed to the word of mouth usage i

[2019-08-27 19:07] n8zwn opened #1486 "Allow us to apply certain add-ons per container"
- Multi-Account Containers Version:
- Operating System + Version:
- Firefox Version:
- Other installed Add-ons + Version + Enabled/Disabled-Status:

### Actual behavior

You cannot choose the specific add-ons that apply to a container, such as foxy proxy or other tools I use for work.

### Expected behavior

I would love the ability to have certain add-ons available based on the container. Is this

[2019-08-31 03:00] rianadon commented on #365
It would awesome if this could also work with the `-new-tab` option. Then on i3/Sway I could make a keyboard shortcut for opening a new tab in a specific container.

[2019-09-01 02:49] Etrit1 commented on #1133
I'm 90% sure this is only a problem with Google. (or sites that track you like they do).  I'm not having the issue with Facebook.

I haven't told Firefox to always open Google tabs in a Google container.  I just opened a container, went to Google, did a search and used the Context menu to open a link in a new tab in a different container... and it just opened it in the same container as Google.

[2019-09-01 17:41] danielsdeboer commented on #1483
Seconding this. It takes a hard refresh to get it working again.

[2019-09-01 18:23] Cmapnep commented on #1041
UP

[2019-09-02 00:19] honsiorovskyi commented on #365
Hello everyone!

I created a separate extension for Firefox to do exactly what we all want in this thread. It might be not the best solution, but it does the job.

The idea is that my extension registers a custom protocol handler (`ext+container`) to which you can easily pass different parameters (container name and some options in this case) alongside the real URL to be opened through the normal

[2019-09-02 12:02] frezbo commented on #365
@honsiorovskyi A great of of thanks, I accomplished what I was looking out for with this extension, for anyone this is the aws-vault helper I wrote:

[code]

[2019-09-02 19:49] n8v8R commented on #339
@groovecoder you asked in https://github.com/mozilla/multi-account-containers/issues/1415#issuecomment-509732985 to upvote here.

Looking at the upvotes and comments it should be very obvious this this a much sought after feature,

[2019-09-04 17:47] pappasam commented on #1194
Bump

[2019-09-04 21:21] jelabarre59 opened #1488 "Needs a Waterfox port"
The subject is pretty straightforward.  This needs to be ported for Waterfox 56.x.x.

[2019-09-06 07:52] TobiasDev opened #1489 "Feature request: Sync containers (or be able to export settings) + adding websites by a list"
I love the Firefox Container options to not share data with everything, eg. when I have to use Pintrest at work I can have that in it it's own container to not share data with my other websites, etc. :) However, something I think is a bit lacking the is set-up for this. Rather than forcing the user to set this up per PC basis and having to visit the website in the right container, I would love to

[2019-09-06 14:45] groovecoder commented on #1489
Good suggestions ... I think these are dupes of https://github.com/mozilla/multi-account-containers/issues/339 and https://github.com/mozilla/multi-account-containers/issues/719 though? Can you upvote & comment on those? We are going to have [another Outreachy internship](https://www.outreachy.org/apply/project-selection/) for this project soon, and we'll be looking at the most up-voted issues for

[2019-09-06 14:45] #1489 closed

[2019-09-06 17:23] DeronLJ commented on #365
I also want to say thank you to @honsiorovskyi ! I have been waiting for something like this for a long time. I can finally set up my password manager to open different accounts on the same site in different containers.

I have groups in KeePass that correspond to the container I want to use. For example, the "Amazon Personal" entry is in the Personal group, and the "Amazon Business" entry is in t

[2019-09-07 01:14] HURSSGH commented on #1480
I agree. This should be a high priority feature.

Specifically, I would like the ability to clear caches, manage cookies and website data, etc. on a per-container basis.

For example, for a container "SearchEngines" I would like to be able to clear all data when I close the last tab of that container. Currently, I have FireFox Preferences configured to clear all data on exit. Rather than having to

[2019-09-07 01:16] HURSSGH commented on #1486
Agree completely.

In fact, I would like to see containers have all preferences configurable on a per-container basis.

[2019-09-07 01:17] HURSSGH commented on #1484
Agree. Definitely should be a FF default!

[2019-09-07 10:54] eoghanmurray opened #1490 "Choice of which container to use when visiting website"
Containers are a great idea, but IMO the implementation just hasn't cracked it yet and there needs to be some back-to-basics work listing the use-cases.

Here's one problem I have:
I've got a website (a webhosting company) that I've got multiple accounts with and that I want to manage with containers so that I can maintain 2 sessions open to e.g. cross-correlate domains or whatever.

The problem I

[2019-09-08 02:53] mikepurvis commented on #1490
Agree completely. The system should be able to tell which of my preexisting containers has a session cookie for website X and automatically use that one. And if it's only one, one of the accept buttons should just be "Always Use".

[2019-09-08 03:01] mikepurvis commented on #1434
I think what this request boils down to is that there are two mental models of what a container is— there are site containers (like Google, Facebook, etc) and session containers (private browsing is like this).

Right now the extension treats everything as a session container, but it really shouldn't, or should be explicit about what the differences are in behaviour. But yes, it should be possible

[2019-09-10 14:25] Bekreth commented on #1432
Additionally, being able to copy a cookie into all containers. I frequently use containers to access multiple accounts that all require the same authentication cookie, so my day starts by opening a tab in each of my containers and getting authenticated.

[2019-09-10 15:58] eoghanmurray commented on #1490
What actually has been happening is that I open a new tab, type in a URL of a website that I've an account with; it doesn't recognize my 'remember me' as the previous login to that website was from within a container, so instead of trying to mess with the container, I go back to Chrome, as I know for definite that that will already have the 'remember me' session open.

[2019-09-11 16:30] caspertone2003 opened #1491 "Issue with big letters"
Using last firefox and add-on in Windows 10.

I have configured big screen letters, DPI 150%, big letters in firefox... due to sight issues.

I cannot create more sessions as there is no slider. I point to the lower right tip and get access but it does not show well. See image attached.

Thanks.
![contanier](https://user-images.githubusercontent.com/4682903/64716153-28841700-d4c2-11e9-8b19-1e1b8cd

[2019-09-14 00:42] OIITCONZ opened #1492 "Multi Account containers missing in Firefox 69.0"
- Multi-Account Containers Version:???
- Operating System + Version: Windows 7 - Latest
- Firefox Version: 69.0
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Amazon.com	1.1	true	amazondotcom@search.mozilla.org   *- WTF???? Killed this so many times!!!!!*
Bing	1.0	true	bing@search.mozilla.org
ColorZilla	3.3	true	{6AC85730-7D0F-4de0-B3FA-21142DD85326}
DuckDuckGo	1.0	true	ddg@search

[2019-09-14 00:48] OIITCONZ opened #1493 "Cannot remove Amazon and other add ons"
I cannot find an issue link for this:

amazon Add on is in my list of installed addons ( about:support)
It is not ticked as a search engine.
It does not show in my list of add ons.
I cannot find info on how to fix this anywhere.
It shouldn't show.

Goto About:support
Scroll to Add-ons
Find amazon in list.

Go to options/ Addons.
Scroll through list
It is not there.
Ditto Bing, Twitter,

firefox 69

[2019-09-17 15:00] dannycolin commented on #1183
FYI, there's an addon that let you use regex https://addons.mozilla.org/en-US/firefox/addon/containerise

Also, there's an issue (#473) and a PR (#1475)  to add a wildcard subdomains functionality.

[2019-09-18 17:46] a-matai commented on #1469
Hi,

it used to be that "ctrl+.+(1-4) would open up the correct container. The numbers don't work if it's in overflow, but works fine if in toolbar.

[2019-09-18 19:15] grnassar opened #1494 "(feature) Assign container to window"
I've noticed a number of feature requests that pertain to sites being able to be assigned to multiple different containers or conditionally assigned, etc.  I think there is a suggestion that would fulfill 80% of the use cases where this sort of thing comes up.

When I need a particular account (and therefore cookie) on a site I use with multiple containers, typically it's because I'm on that conta

[2019-09-18 19:23] grnassar commented on #1490
I almost commented here before creating my issue ticket, as I thought they were related:
https://github.com/mozilla/multi-account-containers/issues/1494

Do your containers tend to represent groups of sites that you're working with simultaneously?  (so, you mention the website you open the account with was in a particular container, but when you open a new tab it is of course not assigned to that

[2019-09-19 14:58] groovecoder commented on #1494
I think this is a dupe of https://github.com/mozilla/multi-account-containers/issues/319 ? Please upvote & comment there.

[2019-09-19 14:58] #1494 closed

[2019-09-20 21:54] #766 closed

[2019-09-21 10:39] djmoch opened #1495 "Feature Request: Configure which container links open in"
Currently if a link opens in a new tab it opens either 1.) in the same container, or 2.) if the target website has already been assigned to another container, in that one.

For case (1) above, a setting should be added to allow links to open in the default container. This would be useful, for instance, in social media containers to avoid links to news sites (which are notoriously heavy in tracker

[2019-09-21 22:00] mateMathieu opened #1496 "Crossing a preconfigured/auto-detected container prevents going back in browsing history"
Hi, great extension!
- Multi-Account Containers Version: 6.1
- Operating System + Version: Gnu/Linux
- Firefox Version: 69
- Other installed Add-ons + Version + Enabled/Disabled-Status: **plenty, especially pre-configured containers (here Amazon's is used as an example).**

### Actual behavior
I browse the web, then I come across Amazon for instance, the tab turn in container mode, I want to press

[2019-09-22 14:11] rusty-snake opened #1497 "Don't touch my contextmenu"
I'd welcome an option to disable the use of the context menu.

[2019-09-23 10:10] Arumplee opened #1498 "open all tabs"
is there a way to open all tabs at once?

[2019-09-23 16:39] jonathanKingston commented on #1462
This is something that likely would be very difficult to do cleanly within a web extension.

[2019-09-23 16:42] jonathanKingston commented on #1493
This is a native addon purely for providing amazon search, I'm not sure if you can remove the code but you can remove it from the url bar through about:preferences. Search providers don't actually have code other than doing just than, being a search provider.

Either way this isn't a multi-account container issue.

[2019-09-23 16:42] #1493 closed

[2019-09-23 16:43] jonathanKingston commented on #1498
Is this when the tabs are hidden? Are you able to explain the issue a little further?

[2019-09-23 18:49] patrick-webs commented on #1481
" When we have a container with a page with frames, right clicking in a frame, and choosing This Frame > Open Frame in New Tab(also in new Window), the frame does open in a different Tab/Window, but it DOES NOT maintain the container the original page was opened at."

I am seeing this behavior on Firefox 69.0.1 release version now. This worked fine in 68 and before as I was regularly using the fea

[2019-09-23 19:38] OIITCONZ commented on #1493
Hi Jonathon, AS I said I cannot find an issue link for this:

I'm aware it is not a multi container issue.

I think having non removable add ons put in place by Mozilla breaks the freedom and privacy Mozilla claim to offer. Addons are code and code linking to third parties is not private or choice.

Feel free to move this to a better thread if you know where one is.

Shane

[2019-09-23 20:07] safarirat opened #1499 "trust no one, not even your self"
https://imgur.com/a/enWFn7y
Remove the note that you install the addon at your own risk.

[2019-09-23 21:59] jonathanKingston commented on #1499
This will be fixed soon when we do a new release (sometime this week I believe).
/cc @maxxcrawford

[2019-09-23 21:59] #1499 closed

[2019-09-24 23:09] ndhuang opened #1501 "Feature Request: Manual editing for sites assigned to a container"
It would be very useful to have manual control over which sites are set to open in a given container automatically.  The particular use case I'm encountering is with slack.  When logged in `<workspace>.slack.com` redirects to `app.slack.com/...`.  Given that I've already logged in, when I open a link to `<workspace>.slack.com` in the appropriate container, it redirects, and I don't have a chance t

[2019-09-25 16:35] jc00ke commented on #1501
I've noticed this too, with the recent change to how Slack serves via `app.slack.com`. Would love to see manual editing enabled.

[2019-09-26 03:01] rchavik opened #1502 "Tabs are unresponsive during after a cold boot"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Ubuntu 18.04.3 LTS Linux 5.1.16-050116-generic
- Firefox Version: 69.0
- Build ID: 20190828152820
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Name | Version | Enabled | ID
-- | -- | -- | --
Amazon.com | 1.1 | true | amazondotcom@search.mozilla.org
Bing | 1.0 | true | bing@search.mozilla.org
DuckDuckGo | 1.0

[2019-09-26 10:09] TrueAccelerator opened #1503 "MAC breaks redirects to Polish bank site"
-->
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Win 10 18362.295
- Firefox Version: 69.0.1
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Bing	1.0	true	bing@search.mozilla.org
Chambers (UK)	1.0	true	chambers-en-GB@search.mozilla.org
Decentraleyes	2.0.12	true	jid1-BoFifL9Vbdl2zQ@jetpack
DuckDuckGo	1.0	true	ddg@search.mozilla.org
eBay	1.0	true	ebay@search

[2019-09-26 11:06] renderedghost opened #1504 "Icon is hard to see against a dark background (regardless of theme)"
### Actual behavior
When placing the icon in the tab bar area —with osx light mode and firefox default theme enabled— the default (dark) extension icon persists, and is difficult to read against the dark background.

<img width="176" alt="image" src="https://user-images.githubusercontent.com/21337875/65682866-22fb0500-e05c-11e9-8524-0262b5d5f429.png">

### Expected behavior
The icon should invert

[2019-09-26 15:24] renderghost opened #1505 "Confirm and Deny buttons on "Open this site in your assigned container" view is faulty"
When a domain is assigned to a container, the next time a page from that domain is opened in a different container, the `open in {container name} container` button (see image below) is faulty.

![image](https://user-images.githubusercontent.com/21337875/65700969-d7a71d80-e080-11e9-9f25-e3ad4715b77e.png)

### Actual behavior
The `open in {container name}` button requires multiple clicks to respond.

[2019-09-27 00:32] martinthomson commented on #1467
I'm not seeing the option to reopen in no container, though I would like the capability.

[2019-09-27 02:47] rchavik commented on #1502
I did a little investigation and found that the extension waits a long time in this [line](https://github.com/mozilla/multi-account-containers/blob/1746d8379b800afb73d0e0e5778b53ecfc51d5c4/src/js/background/assignManager.js#L46).

The profile I was testing has ~= 560M data. So it seems that it is waiting for the storage.local system to be ready.

[2019-09-27 04:30] olympus123 commented on #323
I've found this new add-on
Amaaaziiing, it works for bookmarks and it even creates the container if it doesn't exist!
It doesn't even need Multi-Accounts add-on or Containerise to work...

Open external links in a container
This extension enables support for opening links in specific containers using custom protocol handler. It works for terminal, OS shortcuts and regular HTML pages.

https://addo

[2019-09-27 06:54] ExoCode17 opened #1506 "Preferences regarding websites do not sync"
It would be nice if containers and bookmarks preferences could sync between different PCs.

I installed this extension and used it for a week or so on my new Firefox installation. It was almost mandatory as I was used to multi-persons Chrome. I spent a week customizing my bookmarks so they could open by default in a container instead of another. When I went to my laptop and installed FF to benefit

[2019-09-27 11:16] chk1 commented on #1505
I can reproduce this on 70.0b9 (64-bit) (Firefox dev edition, mostly default settings) on Win10. I thought it was my container naming at first (something like "one/two three")

[2019-09-27 11:37] chk1 opened #1507 "Tooltip shows HTML entities for some characters"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Windows 10 1809
- Firefox Version: 69.0.1, 70.0b9 (dev edition)
- Other installed Add-ons + Version + Enabled/Disabled-Status: none in dev edition

### Actual behavior
The tooltip on containers in the container list displays HTML entities for some characters, for example, container `a/b c` has the tooltip `a&#x2F;b c`

Screens

[2019-09-27 13:10] rafaelgssa commented on #323
Wow, hadn't even thought of protocol handlers, amazing. Only problem for bookmarks is the icons not appearing, but for everything else, specially for opening from the terminal, it's great!

[2019-09-27 13:42] renderghost commented on #1505
I have played with this a bit more and have an update.
- Clicking on the button background works as expected
- Clicking on the button text works fine
- _But_ Clicking container name gives no response.

I had a look at the code and I noticed the container name is wrapped in <dfn>

```<dfn class="container-name">Reading</dfn>```

I tried again and noticed the exact same issue with both the primary a

[2019-09-27 13:44] olympus123 commented on #323
Yes, firefox can't get the favicons.
I personally use Humble New Tab Page, which shows my bookmarks in new tab page.
I don't use bookmarks toolbar because Firefox sync can't sync favicons and in a new install I would have to open all bookmarks to save their new icons.
Humble New Tab Page can get their favicons automatically if I select to get them from faviconkit.com
https://addons.mozilla.org/en-

[2019-09-27 14:06] rafaelgssa commented on #323
Thanks for the suggestion, but it doesn't look good for me. I have a ton of bookmarks, so I remove their names so that I only see icons in my bookmarks bar, seeing them in a column is not practical. I'll just keep using the extension I made for bookmarks and the one you posted for everything else.

[2019-09-27 14:08] MichaelTunnell commented on #323
@olympus123 great find, thank you for sharing! This was the ideal method that @MurzNN and I were talking about 2 years ago as a solution to this issue. I have installed it and tested it and it works beautifully!

It is true that the favicons don't work anymore due to this method but with that being the only downside to using this vs the Redirector method of extra setup time, I think this is a wond

[2019-09-27 14:12] olympus123 commented on #323
https://fitzcarraldoblog.wordpress.com/2018/10/13/how-to-create-missing-favicons-for-your-bookmarks-in-firefox-quantum-for-linux/

I tried to change the bookmark favicon with the above method
It works, no need for an add-on, it works withuserChrome.css
It does change the favicon, but it needs the name of the bookmark.
Maybe you can modify it a little to check the url instead of the name of the boo

[2019-09-28 15:35] chk1 commented on #1505
I can reproduce this exactly like you describe, clicking on the *container name* on either button does not trigger any actions

[2019-09-29 02:40] huster16 opened #1508 "Firefox container is the same thing with the linux container?"
May I ask whether the Firefox container is the same with linux container? Or it just the generalized "container" designed by Firefox?

[2019-10-01 18:22] Jo-IE commented on #1507
I would like to work on this :)

[2019-10-01 20:30] dpruth commented on #1501
I've also run into this. If there was a way to include wildcards, or simply based the URL matching off the base domain (excluding subdomain or directories), that'd be very helpful. I've run into this with sharepoint.com sites and subdomains.

[2019-10-01 20:49] maxxcrawford commented on #1314
Resolved by #1470

[2019-10-01 20:49] #1314 closed

[2019-10-02 05:24] viicktur commented on #1051
Hello, has this issue been fixed? Being looking arround for some first comer issue to tackle any suggestion please guys

[2019-10-02 05:37] viicktur commented on #1051
Hello @hwine , as per your former discovery on the wording when deleting a container, i recently experiemnted om it and discovered that it now display a wording of deleting all the tabs made a specific container.

Would you still want the wording to specifically say "this container tab will be deleted" as against saying "all the individual <number> of tab associated with that tab should be deleted

[2019-10-02 07:49] silvererudite commented on #1504
hey wud like to take a shot at this.

[2019-10-02 07:57] ashemedai commented on #1492
Can't reproduce this in 69.0.1 on macOS. Right click on link shows the appropriate option:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/610865/66027350-fc751800-e4fa-11e9-8d9d-398a3c067a2e.png">

[2019-10-02 08:28] OIITCONZ commented on #1492
We don’t get that – here’s what I get: No containers.

From: Jeroen Ruigrok van der Werven [mailto:notifications@github.com]
Sent: Wednesday, 2 October 2019 8:57 p.m.
To: mozilla/multi-account-containers <multi-account-containers@noreply.github.com>
Cc: OIITCONZ <itsupport@outsourcedit.co.nz>; Author <author@noreply.github.com>
Subject: Re: [mozilla/multi-account-containers] Multi Account containe

[2019-10-02 14:32] revealtheweb commented on #1041
Hi @groovecoder, I'm an applicant from Outreachy, and I would like to work on this feature with your guide. Please I would appreciate all relevant information to begin work on this.
Thanks.

[2019-10-02 14:43] revealtheweb commented on #198
Improve Firefox CoHi @groovecoder, I'm an applicant from Outreachy, and I would like to work on this feature with your guide. Please I would appreciate all relevant information to begin work on this.
Thanks.

[2019-10-02 14:44] revealtheweb commented on #198
Hi @groovecoder, I'm an applicant from Outreachy, and I would like to work on this feature with your guide. Please I would appreciate all relevant information to begin work on this.
Thanks.

[2019-10-02 16:29] ps-gssleap commented on #1505
The issue is in `confirm-page.js` and it is fixed in master in this commit: https://github.com/mozilla/multi-account-containers/commit/3ae1803420aeb3c0ea2ef8c642bad4172484c084

I assume that the next release will have this fixed.

[2019-10-02 16:34] ps-gssleap commented on #1447
It's October. There hasn't been a release since January. How about it?

[2019-10-02 16:35] ps-gssleap commented on #1447
[Related](/mozilla/multi-account-containers/issues/1505)

[2019-10-02 16:36] ps-gssleap commented on #1505
Duplicate of #1447

[2019-10-02 22:28] hwine commented on #1051
@viicktur - I am not a project member, just the bug reporter.

That said, it does look like 66a9116524620e97d0879fafe8c78b8f0807738a was intended to fix this, but GitHub didn't pick it up automatically, so closing manually.

[2019-10-02 22:28] #1051 closed

[2019-10-02 22:28] Aishat-Akinyemi commented on #973
Hello @groovecoder  I am a 2019 Outreachy applicant, May I work on this as my first contribution?

[2019-10-02 22:42] Aishat-Akinyemi commented on #1508
It is a webextension built to work with firefox broswers, it lets you

 Check the introduction at [https://blog.mozilla.org/firefox/introducing-firefox-multi-account-containers/](url)

[2019-10-02 22:51] Aishat-Akinyemi commented on #1033
Hello @groovecoder  @maxxcrawford I am an Outreachy 2019 applicant, may I work on this as my first contribution? Thank you.

[2019-10-03 08:00] silvererudite commented on #1504
hey... @groovecoder and @maxxcrawford I would like to work on this for my Outreachy contributions. I see there's a PR by @stoically but I don't quite understand yet why the problem still persists. Any directions for me to approach this issue?

[2019-10-03 08:32] ashemedai commented on #1492
Do you see the icon in the URL bar?

![image](https://user-images.githubusercontent.com/610865/66111354-f8afc700-e5c8-11e9-9465-f9bd75269639.png)

Also, what version of the addon are you using? Menu > `Addons` > `Firefox Multi-Account Containers` > Check under version. 6.1.0 was released yesterday.

[2019-10-03 08:55] DrButthead opened #1510 "Sorting tab containers ignores order in containers.json"
- Multi-Account Containers Version: 6.1.0
- Operating System + Version: Windows 10 Pro 1903
- Firefox Version: 69.0.1 (64-bit)
- Other installed Add-ons + Version + Enabled/Disabled-Status:
Dark Mode	0.3.4	true
Firefox Multi-Account Containers	6.1.0	true
GNOME Shell integration	10.1	true
Honey	11.6.3	true
I don't care about cookies	3.0.4	true
Reddit Enhancement Suite	5.18.2	true
Stylus	1.5.6	true

[2019-10-03 10:19] renderghost commented on #1504
@silvererudite the previous issues seemed to deal with 'is the browser in dark mode? then invert the icon' but in my reported issue, the browser is in light mode, but the background of the tab bar is dark.

[2019-10-03 11:03] silvererudite commented on #1504
hey @renderghost can you pls help me understand what exactly you mean when you say '**is the browser in dark mode?**  Is there a separate way to make the browser in dark/light mode? because I seem to only be able to change the theme to light/dark/default as you mentioned earlier.

[2019-10-03 11:08] renderghost commented on #1504
Sure! This is what I mean.

When I change OSX to dark mode, my browser looks like this. Both the tool bars are tab bars are dark.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/21337875/66121873-80540080-e5de-11e9-8265-475cce96c05a.png">

When I change OSX to light mode, my browser looks like this. Only the tab bar is dark.

<img width="1440" alt="image" src="https:/

[2019-10-03 11:39] silvererudite commented on #1504
Ohh..thanks a lot for taking the time to clarify @renderghost.
I guess I got quite confused by the PR reference here.  I really wonder why the PR didn't work. even though the changes were approved.

[2019-10-03 13:22] chujunlu commented on #1009
Hi @groovecoder , I'm Chujun, an Outreachy 2019 applicant. I'm interested in working in privacy and security related projects so I'd like to contribute to this one. To be honest, I don't have experience in Extension Development, and I'm wondering is it possible to debug the extension with the browser debugger (image below) like I used to with web apps? If not, is there any way to debug the code ba

[2019-10-03 14:25] groovecoder commented on #973
Hi @Aishat-Akinyemi - yes you can pick this one up.

[2019-10-03 14:26] groovecoder commented on #973
I'm assigning this to myself to mark it as being assigned. Please let me know if you decide to work on a different issue.

[2019-10-03 14:45] Aishat-Akinyemi commented on #973
I will start working on it, thank you.

[2019-10-03 14:49] silvererudite commented on #1504
@maxxcrawford and @groovecoder I believe I would need to modify the particular svg icon being used for dark theme. What do you guys think?

[2019-10-03 14:55] groovecoder commented on #1504
It looks like we just need to deploy our latest version to AMO? @maxxcrawford - did you build and upload a 6.1.1 version to AMO yet?

[2019-10-03 14:58] silvererudite commented on #1504
@groovecoder sorry whats AMO ?

[2019-10-03 15:05] kendallcorner commented on #1037
@maxxcrawford this is the one I'm currently looking at.

This is the PR (or whatever it's called in Phabricator) that shows you where the files that define and use the colors are. https://phabricator.services.mozilla.com/D39972

I like your idea of letting the user choose if they would like to switch to CUD colors. I would have to add that to both MAC and Firefox. I will look at it for a few days

[2019-10-03 15:07] silvererudite commented on #1504
Ahh 😞..if that's the case then @groovecoder can you assign me a good issue to work on please?

[2019-10-03 15:18] stoically commented on #1504
#1435 is a hotfix that only adapts the icon to the theme using the manifest.json [`theme_icons`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_action#Syntax) property, it doesn't adapt to the actual background color. So if the light theme is active it'll use the dark icon either way. [~Bug 1377302~](https://bugzilla.mozilla.org/show_bug.cgi?id=1377302

[2019-10-03 15:26] groovecoder commented on #1504
@silvererudite have a look thru https://github.com/mozilla/multi-account-containers/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+bug%22+no%3Aassignee - that's the list of "good first bug" issues that are not already assigned.

[2019-10-03 15:30] groovecoder commented on #1041
Assigning to myself for @revealtheweb. Let me know if you decide to work on something else and I'll un-assigne this.

[2019-10-03 15:31] groovecoder commented on #1033
@Aishat-Akinyemi I'm going to leave this un-assigned while you're working on #973 .

[2019-10-03 15:32] groovecoder commented on #948
This was fixed in https://github.com/mozilla/multi-account-containers/pull/1476

[2019-10-03 15:32] #948 closed

[2019-10-03 15:35] silvererudite commented on #1033
hey @groovecoder May I take a shot at this?

[2019-10-03 15:38] groovecoder commented on #1033
Yup, I'll assign to myself to hold it for you. Let me know if you work on something else so I can un-assign it if needed.

[2019-10-03 15:55] Karskaya commented on #1041
Hi @groovecoder and @revealtheweb! I'm Outreachy applicant as well and will be glad to work with this ticket if @revealtheweb will decide to move on with something else.

[2019-10-03 15:55] olsenme commented on #1009
I'm happy to take this issue on if it is still unresolved

[2019-10-03 15:58] olsenme commented on #956
If this falls through, could I please work on it?

[2019-10-03 16:01] olsenme commented on #441
Has anyone picked up this issue?

[2019-10-03 16:01] olsenme commented on #441
@cpeterso

[2019-10-03 16:06] olsenme commented on #441
I am an outreachy applicant

[2019-10-03 16:08] maxxcrawford commented on #441
@olsenme Yes! All yours.

[2019-10-03 16:10] maxxcrawford commented on #198
@revealtheweb Please see the [wiki](https://github.com/mozilla/multi-account-containers/wiki/Outreachy-(Round-19)-Applicant-Contribution-Process) for more information. This issue is all yours!

[2019-10-03 16:10] nataliyah123 commented on #259
@groovecoder and @maxxcrawford . can I try this .

[2019-10-03 16:11] maxxcrawford commented on #956
@olsenme I assigned issue #441 to you. If you would prefer this one, let me know and I can switch it for you. Thanks!

[2019-10-03 16:13] maxxcrawford commented on #259
@nataliyah123 Yes! This issue is yours. Be sure to checkout the patch @groovecoder mentioned above.

[2019-10-03 16:13] nataliyah123 commented on #259
@maxxcrawford . ok

[2019-10-03 16:14] silvererudite commented on #1033
@groovecoder apparently i cannot seem to reproduce the issue in windows(local machine on which I'm working in).  No matter where I place the icon, it seems to work fine at least for Windows.

[2019-10-03 16:18] kendallcorner commented on #1037
also @groovecoder

[2019-10-03 16:27] nataliyah123 commented on #259
@maxxcrawford .
[https://github.com/bwinton/SnoozeTabs/blob/master/src/popup/snooze-bootstrap.js#L2](url). the link in the @groovecoder not working . but I am trying to read it through Imorchard

[2019-10-03 16:35] olsenme commented on #441
Thanks. @maxxcrawford  I emailed you yesterday. Would you mind taking a look at the email I sent you. i just wanted to make sure I was qualified enough to be considered for this project.

[2019-10-03 16:39] romanrodriguez commented on #930
Hi @maxxcrawford, I'd love to work on this issue for my Outreachy application. :)

[2019-10-03 17:03] AlbionaHoti commented on #930
If @romanrodriguez is not available to work on this task, I would want to continue. I am an Outreachy applicant.

[2019-10-03 17:04] AlbionaHoti commented on #956
@maxxcrawford I am an Outreachy applicant, I would like to work on this task.

[2019-10-03 17:04] maxxcrawford commented on #930
@romanrodriguez Please proceed. Assigned!

@AlbionaHoti You are next in line.

Thank you both for your interest!

[2019-10-03 17:10] AlbionaHoti commented on #1009
If the task will not be solved, I would like to proceed. I am an Outreachy applicant. @groovecoder

[2019-10-03 17:11] AlbionaHoti commented on #1103
I am an Outreachy applicant, I would like to work on this issue if it's not solved yet. @groovecoder

[2019-10-03 17:49] olsenme commented on #956
@maxxcrawford I can do either or both of them.

[2019-10-03 17:49] silvererudite opened #1511 "Would like to suggest making the extension appear dark/light mode according to user preference on browser"
### behavior
I believe the extension would be more accessible if we could implement dark/light mode automatically according to user preference on browser. For ex: I have my browser set to dark theme and when I install the Add-on it should appear in dark mode and vice versa.

## Note:
asking for attention of @groovecoder and @maxxcrawford. If this is a desirable feature according to you guys i woul

[2019-10-03 18:33] silvererudite commented on #1511
@groovecoder may I work on this as part of my Outreachy contribution?

[2019-10-03 19:14] maxxcrawford commented on #1511
@silvererudite Assigned!

[2019-10-03 19:18] maxxcrawford commented on #1507
@Jo-IE Assigned. Thanks for contributing!

[2019-10-03 19:19] maxxcrawford commented on #956
@olsenme We would like to start with a single contribution point to start. Feel free to take on another one after you have a PR submitted for #441. 😄

[2019-10-03 19:20] maxxcrawford commented on #956
@AlbionaHoti Assigning this to you. Good luck!

[2019-10-03 20:35] maxxcrawford opened #1513 "Addon Submisison Validation Warnings"
When submitting `web-ext` zip of v6.1.1, I received the following warnings:

![image](https://user-images.githubusercontent.com/2692333/66162045-3295c300-e5f3-11e9-8e55-cb678914f241.png)

[2019-10-03 20:35] maxxcrawford opened #1514 "Addon Submisison Validation Error"
When submitting `web-ext` zip of v6.1.1, I received the following error:

![image](https://user-images.githubusercontent.com/2692333/66162161-6bce3300-e5f3-11e9-9c52-6c75ddaaf441.png)

[2019-10-03 21:30] olsenme commented on #956
@maxxcrawford  alright sounds good. Will work on #441 first. Thanks

[2019-10-03 21:57] revealtheweb commented on #198
Thanks @maxxcrawford. I will be working on the issue now. Will update as I progress

[2019-10-03 21:59] revealtheweb commented on #1041
hi @groovecoder . Thanks. I'll take on the issue. Will update as I progress

[2019-10-03 22:05] kellim opened #1516 "Container name length not restricted in Manage Containers"
- Multi-Account Containers Version: 2.0.3
- Operating System + Version: Windows 10
- Firefox Version: 68.0.2
- Other installed Add-ons + Version + Enabled/Disabled-Status:
Name 	Version 	Enabled 	ID
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.0	true	bing@search.mozilla.org
DuckDuckGo	1.0	true	ddg@search.mozilla.org
eBay	1.0	true	ebay@search.mozilla.org
Facebook Container	2.0.3	true

[2019-10-03 22:05] kellim commented on #1516
@maxxcrawford Can you please advise if the container name should also be restricted to 25 characters when creating a container from **Manage Containers**?

If so, I would like to solve this issue for my Outreachy application.

[2019-10-04 04:02] silvererudite commented on #1033
@groovecoder you can unassign this as I have nothing to do here really and I'm working on another issue

thanks

[2019-10-04 04:40] osumgbachiamaka commented on #1033
@groovecoder can i take this task

[2019-10-04 09:11] maxxcrawford commented on #1033
@osumgbachiamaka Absolutely. Good luck!

[2019-10-04 09:13] maxxcrawford commented on #1516
Go ahead and take this issue. If we need to revise the character limit to be higher, I imagine it's an easy revision. Assigning this to you! 👍

[2019-10-04 09:14] maxxcrawford commented on #1516
@groovecoder Do you think 25 characters is a enough? Or should it be higher? (Thinking i18n)

[2019-10-04 11:47] Edely commented on #1514
Hi, @maxxcrawford, I am an outreachy applicant and would like to work on this issue if it is available.

[2019-10-04 12:06] osumgbachiamaka commented on #1033
working on it

[2019-10-04 12:28] silvererudite commented on #1511
@maxxcrawford currently I'm being able to customize according to user preference on his/her local machine's OS. You know with CSS property  prefers-color-scheme: . however I wanted to detect the browser preference and make the addon automatically adjust to that which this property doesn't.

Do you know if there's a way to detect what theme the browser is using?

[2019-10-04 12:28] groovecoder commented on #1516
25 seems good to me.

[2019-10-04 12:30] groovecoder commented on #1514
@Edely this one is probably better for @maxxcrawford or I to do, since it needs close coordination with the AMO team to make sure we get it right.

[2019-10-04 13:02] Edely commented on #1514
No problem, @groovecoder . Do you know if there is other issues I could work on. It seems every issue with "good first bug" label is assigned to someone.

[2019-10-04 13:20] groovecoder commented on #1514
You might check the "help wanted" issues too. https://github.com/mozilla/multi-account-containers/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

@maxxcrawford and I will need to go thru some un-triaged issues and add some more labels! Very active Outreachy cohort! 🎉

[2019-10-04 13:21] groovecoder commented on #1511
You can use https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/theme/getCurrent to get the current theme, and that object might have enough to tell whether it's "dark" or "light"?

[2019-10-04 15:06] osumgbachiamaka commented on #1033
I have this as it looks [here](https://github.com/mozilla/multi-account-containers/issues/1033#issuecomment-423807191). Can you please assign me to nanother task for now.

If this issue can not be reproduced on linux, please unassign me so i can move over to another task.

[2019-10-04 15:17] nataliyah123 commented on #259
@maxxcrawford . when I ran the project and right clicked the containers it(the dropdown) does not have any option move to menu . I made an account and tried to login to pilottest and saw that it was closed in jan.

[2019-10-04 16:05] osumgbachiamaka commented on #1514
@groovecoder @maxxcrawford I am also looking for issues to work on as my first contribution to this project

[2019-10-04 16:38] osumgbachiamaka commented on #1448
Since the good first bug issues are all assigned, can i take this @groovecoder @maxxcrawford

[2019-10-04 16:46] osumgbachiamaka commented on #1491
@groovecoder @maxxcrawford i can also work on this task

[2019-10-04 18:59] bini11 commented on #1507
Hey @maxxcrawford I'm an Outreachy applicant & looking forward to contributing to this project but there're very few bugs with outreachy tag which are already taken so can you assign any bug to me or point me to a direction for contribution.

[2019-10-05 00:20] Jo-IE commented on #1507
Hi @maxxcrawford I have made the necessary edits in `popup.js` to resolve this issue. Currently, the title attribute of the `tr` element is being passed into an `escaped` function to replace HTML characters with the entities seen on hover. What I have done is set the tooltip attribute without using that `escaped` function. I am just making sure there isn't anything else I'm missing before I submit

[2019-10-05 06:41] oksmelnik commented on #1033
Was able to reproduce this bug, would like to work on it. I'm an outreachy applicant

[2019-10-05 10:28] Jo-IE commented on #1507
I'm also getting this error when I run `npm test` Do you have any pointers for me? @maxxcrawford

I've tried deleting my `node modules` folder and `package-lock.json` file and running `npm install` but still no luck.

[code]

[2019-10-05 12:02] silvererudite commented on #1511
@groovecoder thanks for the resource but **what is the correct way to use the getCurrent() function**. Before changing the addon files i was trying to see if I can retrieve my browser theme info on a separate extension I made for testing.  But when I try to naively call the getCurrent() function it outputs nothing in the console. I also tried the example from the link's page and it also shows noth

[2019-10-05 21:32] caspertone2003 commented on #1491
I can help with testing
CT

[2019-10-06 22:31] byronmansfield commented on #319
I just wanted to express interest on this feature to keep this thread going. Also following @tom-james-watson comment about the extension, that is great someone made one to add this feature. Though the recent comments seem to mention it's not working for them. I'm guessing it's not actively maintained? I might give it a shot later. And also agree it should be either a default behavior or a built i

[2019-10-06 23:23] bini11 commented on #1027
Hey @groovecoder I am an outreachy applicant and would like to work on this bug if it's free.

[2019-10-07 08:41] DrButthead commented on #949
I have come across the same issue - FF version: 69.0.2

[2019-10-07 08:46] tom-james-watson commented on #319
Yeh I'd also point out that I ended up stopping using that Sticky Containers because it had a few annoying bugs. If I remember it made reopening of closed tabs work in strange ways. Would be far better to have this built into the browser itself.

[2019-10-07 13:51] RetroAsgardian commented on #356
An option to set the color of the "default" container would be nice, but an option to have links leave the container based on domain would be extremely useful, especially for isolating, say, Google, from the rest of my personal stuff. I don't use Facebook, and I don't trust that third-party "Google Container" addon.

[2019-10-07 15:37] maxxcrawford commented on #1507
@Jo-IE Go ahead and file the PR.

Not sure about the `npm test` results. Try running the same command on the `master` branch and see if you get the same error. I confirmed on my end and that test ran back correctly.

[2019-10-07 15:38] maxxcrawford commented on #1507
@bini11 We're only adding the `outreachy-assigned` tags to issues that are assigned, so any issue without that tag is available. Look through the [open issues without that tag,](https://github.com/mozilla/multi-account-containers/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3Aoutreachy-assigned+) and comment on one you'd like to contribute to!

[2019-10-07 15:39] chujunlu commented on #1499
Hi @maxxcrawford , I'm Chujun, an Outreachy applicant. I'm interested in privacy and security related projects so I'd like to see if I can contribute to this one. I didn't see you or Luke in the IRC channel and I wasn't sure if we have to be in the channel at the same time to receive messages. So excuse me that I asked questions here.

1.I'm reading test files to familiarize myself with the code b

[2019-10-07 15:40] maxxcrawford commented on #1033
@osumgbachiamaka Understood. Please tag me or @groovecoder in another issue.

@oksmelnik I'm assigning this to you. Thanks!

[2019-10-07 15:40] maxxcrawford commented on #1448
@osumgbachiamaka All yours! Assigning now.

[2019-10-07 15:41] maxxcrawford commented on #1514
Closing this issue, as it has been resolved.

My AMO email (which uses my FxA Sync email) was @gmail.com. This lint is by-passed by using a @mozilla.com email address.

[2019-10-07 15:41] #1514 closed

[2019-10-07 15:43] maxxcrawford commented on #259
@nataliyah123 Would you like to work on a different issue instead? Not sure if I'm following you. If you want, please open a PR with your code and we can review it.

[2019-10-07 15:49] maxxcrawford commented on #1511
@silvererudite In the [Contain Facebook project](https://github.com/mozilla/contain-facebook), we set two different icons within the manifest to cover this.

See file entry here: https://github.com/mozilla/contain-facebook/blob/master/src/manifest.json#L29-L40

[2019-10-07 15:50] maxxcrawford commented on #1499
@jonathanKingston New version was submitted to [AMO](https://addons.mozilla.org) last Friday! 🙌

[2019-10-07 17:00] Jo-IE commented on #1507
@maxxcrawford so to resolve the error I deleted my local copy and fork of the repo and made a new fork and ran `npm test` before making any changes and the tests worked perfectly. However, I switched to a new branch and made the changes to resolve this PR and after making the changes I ran `npm test` on the new branch and I'm getting those errors. I finally had to manually do node `./node_modules/

[2019-10-07 18:47] silvererudite commented on #1448
@maxxcrawford and @osumgbachiamaka  I think this issue was fixed but the new version isn't released in AMO so it still persists in the version found in AMO now. If I'm not wrong, there's already a PR #1435 which fixed it and I also cloned the latest repo and it works fine.

[2019-10-08 00:49] kendallcorner commented on #1037
Link to the Mozilla-Central issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1586960

[2019-10-08 12:42] silvererudite commented on #1511
@maxxcrawford and @groovecoder  I was able to fix that turns out there was some issue with content_scripts. I am almost done with the solve but I am stuck at a weird problem. Currently the theme-changing functionality works according to user preference on browser. However when the popup goes in dark mode,
![Screenshot (1)](https://user-images.githubusercontent.com/24827548/66395326-ed113580-e9f8-1

[2019-10-08 15:44] ryanfeeley opened #1518 "Use this pixel-snapped icon"
I noticed that your extension icon was not created on a 16×16 pixel grid. This causes the right angles of the icon to unecessarily anti-alias (especially on non-HiDPI screens)

![Screen Shot 2019-10-08 at 10 22 34 AM](https://user-images.githubusercontent.com/68213/66410838-c7683a00-e9c0-11e9-8e48-acc8a87c4482.png)

Easy fix to redo this particular icon on the grid, so I made this SVG.
[multi-acco

[2019-10-08 19:34] #1518 closed

[2019-10-09 10:13] tiansh commented on #1375
<img width="633" alt="mac-wrong-color" src="https://user-images.githubusercontent.com/6500326/66471898-e1e10700-ead7-11e9-8c28-e57634ffe495.png">

I'm getting this now...

I had configured my Windows using dark theme for applications, but use light theme in Firefox. `@media (prefers-color-scheme: dark)` follow the dark mode config in system (Windows 10) not firefox. And the result is shown above.

[2019-10-09 14:08] dannycolin commented on #1375
Could you look in *about:config* for the value `browser.in-content.dark-mode` and make sure it's set to `false`

[2019-10-09 15:03] chk1 commented on #1505
This seems to be fixed now, it's working properly on my Firefox :)

The changelog for the most recent release (6 days ago as of now) mentions

[Bug 1539507 on Mozilla's Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1539507)

[2019-10-09 15:08] ps-gssleap commented on #1447
6.1.1 has been released. Thank you!

[2019-10-09 15:45] silvererudite commented on #1506
Did you log in to the newly installed Ff with your previously used account? As far as I know,  the same FF account syncs preferences in different devices.

[2019-10-09 16:43] mylesmyles opened #1522 "Firefox Nightly URL bar magnification covers container tab color"
Just some feedback. Firefox nightly has a cool URL bar magnification effect that is applied when you are typing in the URL bar. However, it covers the container colors in the tabs so you have to click away from the URL bar to see which container a tab is.

Screenshots:
URL bar unfocused: ![image](https://user-images.githubusercontent.com/6269517/66501766-402ecb00-ea81-11e9-931d-ea96b6f6b399.png)
U

[2019-10-10 02:28] tiansh commented on #1375
I had verified that `browser.in-content.dark-mode;false` is configured.

[2019-10-10 03:45] yellowwoods12 commented on #1009
Hi @maxxcrawford and @groovecoder, I am Outreachy applicant and would like to work on this issue.

[2019-10-10 04:08] oksmelnik commented on #1033
working on it

[2019-10-10 07:45] dnahol commented on #1009
Hi @maxxcrawford and @groovecoder. I am an Outreachy applicant as well. If no one is taking this, I'd like to.

[2019-10-10 10:12] Jo-IE commented on #1507
Hey @maxxcrawford @groovecoder I have submitted a [PR](https://github.com/mozilla/multi-account-containers/pull/1517) for this issue.

[2019-10-10 15:54] Aishat-Akinyemi commented on #973
I have submitted a Pull request that fixes this issue [https://github.com/mozilla/multi-account-containers/pull/1523#issue-326806982]

[2019-10-10 17:36] olsenme commented on #441
@maxxcrawford sorry it's taken me so long to get going on this. So, you guys are using the fork, branch, and pr workflow correct? That's what I picked up from your readMe

[2019-10-10 18:17] rdlmda opened #1526 "Support for Firefox Colors"
- Multi-Account Containers Version: 6.1.1
- Operating System + Version: Fedora 30
- Firefox Version: 69.0.1

### Actual behavior

Icon color not matching:
![Captura de tela de 2019-10-10 15-12-36](https://user-images.githubusercontent.com/4602525/66594968-75fead00-eb70-11e9-9f1c-8a62764a8374.png)

![Captura de tela de 2019-10-10 15-14-29](https://user-images.githubusercontent.com/4602525/66595105-

[2019-10-11 07:25] yellowwoods12 commented on #1103
Hi @groovecoder and @maxxcrawford, I've started working on this issue and will complete it soon. I am an Outreachy applicant.
Can you please assign it to me?
Here is the screeshot of how the feature will look. Any changes and suggestions for the design are welcome.
![Screenshot from 2019-10-11 12-47-41](https://user-images.githubusercontent.com/31931348/66632547-5aee7480-ec26-11e9-9159-d46fd3d8122

[2019-10-11 07:31] oksmelnik commented on #1033
From what I can see, right side of this popup is actually off the screen. As a solution, I could move buttons to the left a bit, but not sure it's the right approach for such an edge case. What do you think, @tilgovi @groovecoder?

<img width="326" alt="Screenshot 2019-10-11 at 09 12 47" src="https://user-images.githubusercontent.com/3542544/66631918-94fc4e00-ec07-11e9-86eb-74d822c848ce.png">
<img

[2019-10-11 11:13] yellowwoods12 commented on #1511
Hi @silvererudite, "userContext-wrapper" is the class name of the container tab elements that you are want to set theme for. I experimented by changing the background color by updating the CSS as you can see in the following screenshot.
![Screenshot from 2019-10-11 16-38-38](https://user-images.githubusercontent.com/31931348/66647235-fd6a2000-ec45-11e9-991f-05b1e9085230.png)

Try using this as a s

[2019-10-11 11:30] yellowwoods12 opened #1528 "Unclickable checkbox with "Always Open in Default""
### Testing System Specifications

- Multi-Account Containers Version:6.1.1
- Operating System + Version: Ubuntu 18.04
- Firefox Version: 69.0.1 (64-bit)

### Actual behavior
The checkbox displayed with "Always Open in Default" cannot be checked in the present version and lacks functionality.

![Screenshot from 2019-10-11 16-46-02](https://user-images.githubusercontent.com/31931348/66648044-255a83

[2019-10-11 11:55] yellowwoods12 opened #1529 "Ways to display complete name of the current tab"
- Multi-Account Containers Version: 6.1.1
- Operating System + Version: Ubuntu 18.04
- Firefox Version: 69.0.1 (64-bit)

### Actual behavior
Whenever a currently open tab has a very long name only a part of it is displayed in the container popup. For example, in the following image for the current tab "Browser Support for Javascript APIs" only a part of the name i.e., "Browser Support for" is comp

[2019-10-11 13:35] silvererudite commented on #1511
hey @yellowwoods12 ...interestingly enough this selector doesn't seem to work when I'm trying to manipulate using JS. Here have a look..
[code]
this is the JS file that I inserted at the end of popup.html file. The selector does work when changing using CSS but I don't quite understand what is wrong when I use JS.

[2019-10-11 17:30] Angel418 opened #1531 "Accounts-website combos don't stick"
- Multi-Account Containers Version: 6.1.1
- Operating System + Version: Arch Linux, fully updated as of Oct 11 2019
- Firefox Version: 69.0.3
- Other installed Add-ons + Version + Enabled/Disabled-Status:

Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.0	true	bing@search.mozilla.org
Decentraleyes	2.0.12	true	jid1-BoFifL9Vbdl2zQ@jetpack
DoctorN for Torn	7.6.5	true	{ab8b0c54-f58a-43d6-a2

[2019-10-11 18:46] Karskaya commented on #1041
Hello @groovecoder ! If it's unassigned for some reasons, I'm still here looking for a ticket.

[2019-10-11 20:17] kendallcorner commented on #1037
@maxxcrawford

We discussed having these colors turn on if the browser is in high contrast mode. The browser has a flag it uses in high contrast mode, but the extension has no way of knowing this, so I think the best option is this: https://stackoverflow.com/questions/55241841/high-contrast-mode-on-mozilla-browser. I've tested this and it looks like it works if the user lets FF override colors alw

[2019-10-12 06:28] tilgovi commented on #1033
It might be fine not to fix it. I just noticed it and filed it when I saw it, but it's only cosmetic.

It also might be a problem with how popups are placed. The arrow that connects the popup to the button moves to the left, which makes me think that some code, perhaps in Firefox itself, is trying to move the popup so that it's not off screen, but not moving it far enough. Maybe setting a fixed wi

[2019-10-12 15:41] oksmelnik commented on #1033
Yes, seems like all the popups are being places this way. And the border around the new container button makes the overlap more visible.

The width of the popup is fixed with inline-size property, I've experimented a bit, but ran out of ideas of what else could be done here.

<img width="384" alt="Screenshot 2019-10-12 at 17 08 53" src="https://user-images.githubusercontent.com/3542544/66703677-5f

[2019-10-12 18:06] oksmelnik commented on #950
I'd like to work on this issue (outreachy applicant)

[2019-10-12 21:40] WimSKW commented on #1037
@kendallcorner
High contrast mode and accessible colors can both help people with some form of impaired vision, but they serve very different purposes. A colorblind person typically does NOT use high contrast mode and people who use high contrast mode are typically not colorblind.
So automatically using accessible colors in high contrast mode does not sound as a good idea to me.
If one can toggle

[2019-10-13 19:56] tilgovi commented on #1033
It seems like there's nothing to be done here. I'll close the issue. Thanks, everyone, for looking into it!

[2019-10-13 19:56] #1033 closed

[2019-10-14 03:49] scenicforest opened #1534 "Websites don't open in assigned containers when opened from command line, unless a FF window is already open"
- Multi-Account Containers Version: 6.1.1
- OS: Ubuntu 19.10
- Firefox Version: 69.0.3 (Build ID 20191010103742)
- Other installed Add-ons + Version + Enabled/Disabled-Status:
(Name, Version, Enabled, ID)
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.0	true	bing@search.mozilla.org
DuckDuckGo	1.0	true	ddg@search.mozilla.org
eBay	1.0	true	ebay@search.mozilla.org
Firefox Multi-Account Co

[2019-10-14 16:33] kendallcorner commented on #1037
Yes, this is what I was afraid of.

[2019-10-14 18:29] maxxcrawford commented on #1505
@chk1 Thanks!

[2019-10-14 18:29] #1505 closed

[2019-10-15 01:08] HagarMostafa commented on #1529
@groovecoder and @maxxcrawford can I try working on this issue?

[2019-10-15 03:58] kellim commented on #1516
Hi, @maxxcrawford and @groovecoder - it looks like the code for containers preferences, including the "Add New Container" window that has the problem mentioned in this issue is in the mozilla-central repository which I didn't know when I asked to do this as my first issue as an outreachy applicant. I only figured it out after I couldn't find the code.

I built mozilla-central on my PC and I instal

[2019-10-15 05:44] oksmelnik commented on #950
the problem is that opening recently closed container's tab triggers unhiding of all the other tabs of this container, including this particular tab again. Is containers tabs re-opening suppose to happen in this case, @groovecoder? If so, I'll try to find the way to not duplicate the tab.

[2019-10-15 13:32] HagarMostafa commented on #1054
Hello, @groovecoder and @maxxcrawford can I try working on this issue?

[2019-10-15 17:20] silvererudite commented on #1528
@yellowwoods12 the checkbox does work. I believe you are facing the issue as the usage is not quite clear. Currently you need to first open a container by choosing one from the list. From there you can go to your fav site and then click the checkbox to assign it to that container. You will see it works.
However as far as I tested, the checkbox won't work until a container is opened you know.

[2019-10-15 17:26] silvererudite commented on #1529
@yellowwoods12  Currently if we hover over the tab name of the currently displayed tab it shows us the tooltip of the entire name. Wouldn't it be an overkill if we implement sth that already exists.

I think it is a good design choice as it keeps the UI of the popup minimal and clutter free. It's just my opinion but would love some perspective from the maintainers.

[2019-10-15 19:21] kendallcorner commented on #1361
@maxxcrawford I'm working on this one.  Currently testing.

@Rob--W it works for this one example. Any pointers on testing this? Just find a site that uses a lot of %s and other characters in their urls?

[2019-10-15 19:21] maxxcrawford commented on #1361
@kendallcorner Assigned. Thanks!

[2019-10-15 19:33] maxxcrawford commented on #1448
@silvererudite Can you confirm that the [latest release](https://github.com/mozilla/multi-account-containers/releases/tag/6.1.1) (now on [AMO](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/)) solves this?

[2019-10-15 19:35] maxxcrawford commented on #973
@Aishat-Akinyemi Can you [open up a PR](https://help.github.com/en/articles/creating-a-pull-request) for us to review?

[2019-10-15 19:35] maxxcrawford commented on #956
@AlbionaHoti How's this going? Let us know if we can help!

[2019-10-15 19:36] maxxcrawford commented on #1037
@kendallcorner Marking this issue as unassigned for now.

[2019-10-15 19:37] maxxcrawford commented on #1511
@silvererudite Go ahead and [open a PR](https://help.github.com/en/articles/creating-a-pull-request) for this issue and we can review. Thanks!

[2019-10-15 19:39] maxxcrawford commented on #1516
@kellim @groovecoder Yes – Working on dual-related issues between Github and Bugzilla is fine. Just be sure to cross-reference each other. If you open a bug on Bugzilla, be sure to CC us both on that bug. Thanks!

[2019-10-15 19:41] maxxcrawford commented on #1041
@revealtheweb How's this going? Wanted to check in on your progress. Thanks!

[2019-10-15 19:43] maxxcrawford commented on #259
@nataliyah123 Following up on this. Thanks!

[2019-10-15 19:44] maxxcrawford commented on #1041
@revealtheweb Realized you're already on #198. I'm going to unassign this issue and reassign it to @Karskaya. If you already have a PR, feel free to submit it for this issue.

@Karskaya Go for it!

[2019-10-16 01:57] kellim commented on #1516
Thanks!
 @maxxcrawford @groovecoder When you build mozilla-central, what is the correct way to add multi-account-containers to the build for testing?
(I'm not sure if what I did is correct where I just installed it as an add on from the browser that comes up after running ./mach run)

[2019-10-16 02:30] yellowwoods12 commented on #1529
Hi @silvererudite, tooltip was also something that I suggested in this issue as this is something which is not currently implemented in the present version. Also the UI should be minimal but at the same time it must be independently sufficient for providing any kind of information.
Lets see what @maxxcrawford and @groovecoder think about this.

[2019-10-16 02:39] yellowwoods12 commented on #1528
@silvererudite yes I am clear with that. The issue is to provide the checkbox with some functionality until we open a site in a container. Another solution to this issue can be to completely hide this checkbox until a site is opened in one.

[2019-10-16 04:35] silvererudite commented on #1511
yup @maxxcrawford and @groovecoder already did. PR #1521 . Eagerly waiting your review.

[2019-10-16 04:37] silvererudite commented on #1448
@maxxcrawford yes it does. The icon works fine on the latest version. I think You should close the issue as it's already solved.

[2019-10-16 08:46] Aishat-Akinyemi commented on #973
@

@maxxcrawford  I already opened up a PR https://github.com/mozilla/multi-account-containers/pull/1523 that fixes this issue and issue #1513 . You commented on it saying I should make some changes. I have made those changes as requested, kindly check the PR  #1523

[2019-10-16 10:07] ghost opened #1536 "All the containers reset and new containers vanish when "Run in Private Windows" configuration is changed"
- Multi-Account Containers Version: 6.1.1
- Operating System + Version: Windows 10 1809
- Firefox Version: 69.0.3 32bit
- Other installed Add-ons + Version + Enabled/Disabled-Status:
AdNauseam	3.8.401	true	adnauseam@rednoise.org
Amazon.co.uk	1.1	true	amazon@search.mozilla.org
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.0	true	bing@search.mozilla.org
Chambers (UK)	1.0	true	chambers-e

[2019-10-16 15:29] groovecoder commented on #1529
Assigning for @HagarMostafa to work on - please let us know if you decide not to work on this and we'll un-assign it.

[2019-10-16 15:42] #1507 closed

[2019-10-16 16:51] kendallcorner commented on #1037
@maxxcrawford I just can't let it go, though ...

[2019-10-16 20:23] mathstuf commented on #1490
This comment contains mainly thoughts on this feature, so take it closer to a "musing" level of severity.

Some further behaviors which could be nice-to-have:

  - if opening a new tab from a container with an association with the website, make it "sticky" (don't ask if I want to use a different container)
  - the ability to make some containers "jails" (never leaves when opening a new tab from th

[2019-10-16 20:49] ChaosFreak commented on #1238
This appears to be a duplicate of https://github.com/mozilla/multi-account-containers/issues/691

[2019-10-16 20:53] ChaosFreak commented on #691
Yes, this absolutely would be incredibly useful, especially for opening Google Drive links from different domains in different containers.

[2019-10-16 22:13] WimSKW commented on #1037
@kendallcorner I just found the gif: https://bugzilla.mozilla.org/attachment.cgi?id=9099901 that you put in https://bugzilla.mozilla.org/show_bug.cgi?id=1586960. That's perfect! If you could implement it like that, I would be very happy.
Reading further in the bug comments, I'm afraid that that suggestion by @mixedpuppy to create a complete "colorblind" theme is overkill and completely unnecessary

[2019-10-17 08:29] kellim commented on #1516
@maxxcrawford @groovecoder I created [Bugzilla Bug 1589311](https://bugzilla.mozilla.org/show_bug.cgi?id=1589311) and CC'd you both. It is the first Bugzilla bug I've ever created and I'd be happy to hear feedback if anything could be improved.

Also want to make sure you saw the above question, that's currently where I'm stuck right now--you have to have the Multi Account Containers Add-on instal

[2019-10-17 13:51] Rob--W commented on #1361
@kendallcorner I wanted to reply to https://github.com/mozilla/multi-account-containers/issues/1361#issuecomment-542365390 , but noticed that you've already found a test case, created a patch and got it merged.

Thanks for the patch :)

[2019-10-17 13:51] #1361 closed

[2019-10-17 13:52] Rob--W commented on #1361
PS. Next time you submit a patch, add `Fixes #1361` to the pull request. Then Github will automatically close the linked issue when the PR is merged. For more information, see https://help.github.com/en/articles/closing-issues-using-keywords

[2019-10-17 16:33] maxxcrawford commented on #973
@Aishat-Akinyemi Nope – This works! I'll review. Thank you! ☺️

[2019-10-17 17:03] Karskaya commented on #1041
@maxxcrawford oh, I've just saw the answer. Start working, thank you!

[2019-10-17 18:43] kendallcorner commented on #323
Hi everyone,

I'm willing to look at this item. It looks like this issue is for adding the containers options to the bookmark menu, and a separate issue was opened for assigning a bookmark a container. So I'm only going to look at the bookmark context menu part.

@maxxcrawford can you assign this to me?

[2019-10-17 18:53] dveditz commented on #1467
@martinthomson do you see the "Reopen in Container" menu when you right click on a tab in the tab strip? If you're in the default "no container" the sub-menu should have a list of your containers. If the tab is already in a container then at the top a "no container" option should be present.

I'm here because it's not working for me, though it's a much more recent problem than suggested by the age

[2019-10-17 19:05] dveditz commented on #1467
It's definitely interaction with TST: when I disabled TST "no container" option works fine

disabled/enabled TST -- still broken
removed/reinstalled TST -- still broken
disabled/enabled containers -- IT WORKS CORRECTLY AGAIN!

Not sure how I got in the broken state given the above since MAC updated more recently than TST.

[2019-10-17 19:14] maxxcrawford commented on #323
@kendallcorner Done!

[2019-10-17 22:08] kendallcorner commented on #1037
Thanks for the feedback @WinSKW. Unfortunately we're not going to implement it like that, because that required an API just for this, and the firefox team doesn't want an API just for this very specific issue, which makes sense.

Current plan is to allow a theme extension to alter these colors in firefox itself. Currently this is not possible, so I am sending them a theme proposal (or theme experi

[2019-10-18 05:41] dnahol commented on #1528
Hi @yellowwoods12 . I see what you mean! I saw you on another thread say you were an Outreachy applicant. Me too! Are you working on this? If not, I'd like to take it! Let me know.

[2019-10-18 08:08] dnahol opened #1538 "Onboarding panels of popup, navigation via keyboard"
### Actual behavior
When onboarding panels appear in popup container, (e.g. Get Started), there is no way to proceed through the panels via keyboard.

<img width="374" alt="Screen Shot 2019-10-18 at 1 11 30 AM" src="https://user-images.githubusercontent.com/2976514/67077883-06c32300-f145-11e9-93a7-380929c19b17.png">

### Expected behavior
Should be able to press "return" through the onboarding but

[2019-10-18 08:16] silvererudite commented on #1538
I think I can do sth about it @maxxcrawford and @groovecoder. It would be a nice accessibility feature. Since I am just waiting for you guys to review my previous PR.

[2019-10-18 08:19] dnahol commented on #1538
Hey @silvererudite , I am in the same situation and actually reported because I am working on it and in submitting a PR soon

[2019-10-18 12:33] farhaanbukhsh commented on #1407
@stoically I would like to work on this bug, can you help me to set it up and reproduce?

[2019-10-18 15:52] olsenme commented on #1538
@maxxcrawford my issue fell through. Do you have any other issues I can work on?

[2019-10-18 16:33] stoically commented on #1407
@farhaanbukhsh Did you already try to follow the "Steps to reproduce" in the issue description?

[2019-10-18 17:28] yellowwoods12 commented on #1528
Hi @dnahol, Yes I am working on it.
@groovecoder @maxxcrawford Can you please assign it to me?

[2019-10-19 10:50] grnassar commented on #319
Also having some issues with Sticky Containers, and hoping that that functionality finds its way here -- and even better if (as in .@tom-james-watson 's comment 4 above this one) either made the default or could be configured to be default in options.